{% comment %}
	Renders a category list item

	Accepts:
	- category: {Object} category Liquid object (required)
	- currentCategory: {Object} category Liquid object (required)

	Usage:
	{% render 'category-list-item', category: category, currentCategory: category %}
{% endcomment %}

{%- if category.is_visible and category.categories.size > 0 -%}
	{%- assign hasSubCategories = true -%}
{%- endif -%}

{%- if hasSubCategories and category.id == currentCategory.id or category.child_current -%}

	<li class="category-list-item{% if category.id == currentCategory.id %} active-item{% endif %}{% if category.id == currentCategory.id or category.child_current %} has-active-item{% endif %}">

		{%- if category.id == currentCategory.id -%}

			<span class="category-list-item-text">
				{{- category.title -}}
			</span>

		{%- else -%}

			<a href="{{ category | link }}" class="category-list-item-link">

				<span class="category-list-item-text">
					{{- category.title -}}
				</span>

			</a>

		{%- endif -%}

		{%- if category.categories.size > 0 -%}

	        <ul class="category-list-subcategory-container">

	            {%- for item in category.categories -%}

	                {%- render 'category-list-item', category: item, currentCategory: currentCategory -%}

	            {%- endfor -%}

	        </ul>

	    {%- endif -%}

	</li>

{% elsif category.is_visible -%}

	<li class="category-list-item{% if category.id == currentCategory.id %} active-item{% endif %}">

		{%- if category.id == currentCategory.id -%}

			<span class="category-list-item-text">
				{{- category.title -}}
			</span>

		{%- else -%}

			<a href="{{ category | link }}" class="category-list-item-link">

				<span class="category-list-item-text">
					{{- category.title -}}
				</span>

			</a>

		{%- endif -%}

	</li>

{%- endif -%}