{% comment %}
    Renders a cookie policy banner

    Usage:
    {% render 'cookie-policy' %}
{% endcomment %}

{%- unless request.design_mode -%}

    <div class="cookie-policy cookie-policy-layout-{{ settings.cookiePolicyLayout }} cookie-policy-position-{{ settings.cookiePolicyPosition }}{% if session.cookie_policy %} d-none{% endif %}">

        {%- form 'cookie_policy', id: 'cookie-policy-form' -%}
        
            <div class="cookie-policy-inner">

                <div class="cookie-policy-content">

                    <span class="cookie-policy-title">
                        {{- 'cookie_policy.title' | t -}}
                    </span>

                    <span class="cookie-policy-description">

                        {{ settings.cookiePolicyLayout | prepend: 'cookie_policy.description.' | t }}

                        {%- if store.privacy_policy -%}
                            <a href="{{ store.privacy_policy.url }}" target="_blank" class="fw-bold text-reset text-underline-indicator">{{ 'cookie_policy.privacy_policy' | t }}</a>.
                        {%- endif -%}

                    </span>

                    {%- if settings.cookiePolicyLayout == 'advanced' -%}

                        <div class="cookie-policy-consents">

                            {%- for consent in store.default_consent_options -%}
                            
                                <div class="form-check form-switch">

                                    <input type="checkbox" role="switch" id="input-{{ form.consents_param }}-{{ consent }}" class="input-{{ form.consents_param | handle }} form-check-input" name="{{ form.consents_param }}" value="{{ consent }}"{% if form.consents contains consent or consent == 'required' or session.cookie_policy.value == nil %} checked{% endif %}{% if consent == 'required' %} disabled{% endif %}>

                                    <label for="input-{{ form.consents_param }}-{{ consent }}" class="form-check-label">

                                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ consent | prepend: 'cookie_policy.consents.' | append: '.description' | t }}">
                                            {{ consent | prepend: 'cookie_policy.consents.' | append: '.title' | t }}
                                        </span>

                                    </label>

                                </div>
                                
                            {%- endfor -%}

                        </div>

                    {%- endif -%}

                </div>

                <div class="cookie-policy-actions">

                    <button type="button"
                        id="cookie-policy-required-cta"
                        class="btn btn-secondary"
                        value="required"
                        data-cookie-policy-apply>
                        {{- 'cookie_policy.required_cta' | t -}}
                    </button>

                    {%- if settings.cookiePolicyLayout == 'advanced' -%}

                        <button type="button"
                            id="cookie-policy-custom-cta"
                            class="btn btn-primary"
                            value="custom"
                            data-cookie-policy-apply>
                            {{- 'cookie_policy.custom_cta' | t -}}
                        </button>

                    {%- else -%}

                        <button type="button"
                            id="cookie-policy-all-cta"
                            class="btn btn-primary"
                            value="all"
                            data-cookie-policy-apply>
                            {{- 'cookie_policy.all_cta' | t -}}
                        </button>

                    {%- endif -%}

                </div>

            </div>

        {%- endform -%}

    </div>

{%- endunless -%}