{% comment %}
	Renders product badges

	Accepts:
	- product: {Object} Product Liquid object (required)
    - position: {String} Position of badges: ''
    - showNew: {Boolean} Show new badge
    - showPromotion: {Boolean} Show promotion badge
    - showDiscount: {Boolean} Show discount badge
    - showDiscountPercentage: {Boolean} Show discount percentage
    - showOutOfStock: {Boolean} Show out of stock badge
    - showBackorder: {Boolean} Show backorder badge

    Usage:
    Render this snippet inside of element with "product-media-container" or "product-main-media-swiper" class.

	Usage:
	{% render 'product-badges', product: product %}
{% endcomment %}

{%- if showNew != false -%}
    {%- assign showNew = settings.productShowNewBadge -%}
{%- endif -%}

{%- if showPromotion != false -%}
    {%- assign showPromotion = settings.productShowPromotionBadge -%}
{%- endif -%}

{%- if showDiscount != false -%}
    {%- assign showDiscount = settings.productShowDiscountBadge -%}
{%- endif -%}

{%- if showDiscountPercentage != false -%}
    {%- assign showDiscountPercentage = settings.productShowDiscountPercentage -%}
{%- endif -%}

{%- if showOutOfStock != false -%}
    {%- assign showOutOfStock = settings.productShowOutOfStockBadge -%}
{%- endif -%}

{%- if showBackorder != false -%}
    {%- assign showBackorder = settings.productShowBackorderBadge -%}
{%- endif -%}

{%- assign position = position | default: settings.styleProductBadgePosition -%}
{%- assign positionClass = 'product-badge-position-' | append: position -%}
{%- assign productHasDiscount = productHasDiscount | default: false -%}
{%- assign productOutOfStock = productOutOfStock | default: product.default_or_selected_variant.is_out_of_stock | default: false -%}
{%- assign productIsNew = productIsNew | default: product.default_or_selected_variant.is_new | default: false -%}
{%- assign productDiscountPercent = productDiscountPercent | default: product.default_or_selected_variant.discount_information.amount | default: 0 -%}

{%- if productHasDiscount == false and product.default_or_selected_variant.discount_information != nil -%}
    {%- assign productHasDiscount = true -%}
{%- endif -%}

<div class="product-badges {{ positionClass }}">

    {%- if showBackorder and product.default_or_selected_variant.stock < 1 and product.default_or_selected_variant.inventory_policy == 'continue' -%}

        <span class="product-badge">

            <span class="product-badge-content">
                {{- 'product.backorder' | t -}}
            </span>

        </span>

    {%- endif -%}

    {%- if showNew and productIsNew and productOutOfStock == false -%}

        <div class="product-badge product-badge-new">

            <span class="product-badge-content">
                {{- 'product.new' | t -}}
            </span>

        </div>

    {%- endif -%}

    {%- if store.customer_has_purchase_right -%}

         {%- if showPromotion and product.default_or_selected_variant.promotion and productOutOfStock == false and product.default_or_selected_variant.in_preview == false -%}

            <div class="product-badge product-badge-promotion">

                <span class="product-badge-content">
                    {{- product.default_or_selected_variant.promotion.title | strip -}}
                </span>

            </div>

        {%- endif -%}

        {%- if showDiscount and productHasDiscount and productOutOfStock == false and product.default_or_selected_variant.in_preview == false -%}

            <div class="product-badge product-badge-discount">

                <span class="product-badge-content">
                    {%- if showDiscountPercentage -%}
                        {%- if settings.productFloorDiscountPercentage -%}
                           -{{ productDiscountPercent | floor }}%
                        {%- else -%}
                            -{{ productDiscountPercent }}%
                        {%- endif -%}
                    {%- else -%}
                        {{- 'product.sale' | t -}}
                    {%- endif -%}
                </span>

            </div>

        {%- endif -%}

    {% endif %}

    {%- if showOutOfStock and productOutOfStock and product.default_or_selected_variant.in_preview == false -%}

        <div class="product-badge">

            <span class="product-badge-content">
                {{- 'product.out_of_stock' | t -}}
            </span>

        </div>

    {%- endif -%}

</div>