{% comment %}
    Renders a product card as grid item

    Accepts:
    - product: {Object} Product Liquid object (required)
    - url {String} Product url
    - wishlist: {String} 'toggle' | 'remove' | 'add'
    - productPerRow {Number} Number of product card grid siblings
    - showProductName: {Boolean} true | false
    - showManufacturer: {Boolean} true | false
    - showPromotion: {Boolean} true | false
    - showPricing: {Boolean} true | false
    - showRating: {Boolean} true | false
    - showNewBadge: {Boolean} true | false
    - showPromotionBadge: {Boolean} true | false
    - showDiscountBadge: {Boolean} true | false
    - showOutOfStockBadge: {Boolean} true | false
    - showBackorderBadge: {Boolean} true | false
    - showStockBalance: {Boolean} true | false
    - showStockBalanceAsNumber: {Boolean} true | false
    - showAddToCart: {Boolean} true | false
    - showVariants: {Boolean} true | false

    Usage:
    {% render 'product-card-grid', product: product %}
{% endcomment %}

{%- if wishlist != false -%}
    {%- assign wishlist = 'toggle' -%}
{%- endif -%}

{%- unless productPerRow -%}
    {%- assign productPerRow = settings.productPerRow -%}
{%- endunless -%}

{%- if showProductName != false -%}
    {%- assign showProductName = showProductName | default: settings.productShowName -%}
{%- endif -%}

{%- if showManufacturer != false -%}
    {%- assign showManufacturer = showManufacturer | default: settings.productShowManufacturer -%}
{%- endif -%}

{%- if showPromotion != false -%}
    {%- assign showPromotion = showPromotion | default: settings.productShowPromotion -%}
{%- endif -%}

{%- if showPricing != false -%}
    {%- assign showPricing = showPricing | default: settings.productShowPricing -%}
{%- endif -%}

{%- if showRating != false -%}
    {%- assign showRating = showRating | default: settings.productShowRating -%}
{%- endif -%}

{%- if showNewBadge != false -%}
    {%- assign showNewBadge = showNewBadge | default: settings.productShowNewBadge -%}
{%- endif -%}

{%- if showDiscountBadge != false -%}
    {%- assign showDiscountBadge = showDiscountBadge | default: settings.productShowDiscountBadge -%}
{%- endif -%}

{%- if showOutOfStockBadge != false -%}
    {%- assign showOutOfStockBadge = showOutOfStockBadge | default: settings.productShowOutOfStockBadge -%}
{%- endif -%}

{%- if showBackorderBadge != false -%}
    {%- assign showBackorderBadge = showBackorderBadge | default: settings.productShowBackorderBadge -%}
{%- endif -%}

{%- if showAddToCart != false -%}
    {%- assign showAddToCart = showAddToCart | default: settings.productShowAddToCart -%}
{%- endif -%}

{%- if showStockBalance != false -%}
    {%- assign showStockBalance = showStockBalance | default: settings.productShowStockBalance -%}
{%- endif -%}

{%- if showStockBalanceAsNumber != false -%}
    {%- assign showStockBalanceAsNumber = showStockBalanceAsNumber | default: settings.productShowStockBalanceAsNumber -%}
{%- endif -%}

{%- if showVariants != false -%}
    {%- assign showVariants = settings.productShowVariants -%}
{%- endif -%}

{%- if store.customer_has_purchase_right == false or product.default_or_selected_variant.in_preview -%}
    {%- assign showPricing = false -%}
    {%- assign showStockBalance = false -%}
    {%- assign showAddToCart = false -%}
{%- endif -%}

{% unless product.is_directly_buyable %}
    {%- assign showAddToCart = false -%}
{% endunless %}

{%- assign productName = product.title | default: '' -%}
{%- assign productManufacturerName = product.manufacturer.title | default: '' -%}
{%- assign productPrice = product.default_or_selected_variant.price | default: '' -%}
{%- assign productNetPrice = product.default_or_selected_variant.net_price | default: '' -%}
{%- assign productOriginalNetPrice = product.default_or_selected_variant.original_net_price | default: '' -%}
{%- assign productOriginalPrice = product.default_or_selected_variant.original_price | default: '' -%}
{%- assign productRating = product.rating -%}
{%- assign productMaxRating = product.max_rating -%}
{%- assign productUrl = product | link | default: '' -%}

{%- if product.default_or_selected_variant.discount_information != nil -%}
    {%- assign productHasDiscount = true -%}
{%- endif -%}

{% if url %}
    {%- assign productUrl = url -%}
{% endif %}

{%- unless product -%}

    {%- assign productName = 'placeholder.product' | t -%}
    {%- assign productManufacturerName = 'placeholder.manufacturer' | t -%}
    {%- assign productRating = '0,1,2,3,4,5' | split: ',' | random -%}
    {%- assign productMaxRating = 5 -%}
    {%- assign productHasDiscount = 'true,false' | split: ',' | random -%}
    {%- assign productIsNew = 'true,false' | split: ',' | random -%}
    {%- assign productPriceValues = '4.90,10.50,24.90,39.90,54.90,74.90,80.90,99.90,124.90' | split: ',' -%}

    {%- if productIsNew == 'true' %}
        {%- assign productIsNew = true %}
    {%- else %}
        {%- assign productIsNew = false %}
    {% endif %}

    {%- if productHasDiscount == 'true' %}

        {%- assign productHasDiscount = true %}
        {%- assign productOriginalPrice =  productPriceValues | random -%}
        {%- assign productOriginalNetPrice = productOriginalPrice -%}
        {%- assign productPrice = productOriginalPrice | times: 0.75 -%}
        {%- assign productNetPrice = productPrice -%}
        {%- assign productDiscountPercent = 25 -%}

    {%- else %}

        {%- assign productHasDiscount = false %}
        {%- assign productPrice = productPriceValues | random -%}
        {%- assign productNetPrice = productPrice -%}
        {%- assign productDiscountPercent = 0 -%}

    {% endif %}

{%- endunless -%}

<div class="product-card-grid-item section-highlight-item{% if productHasDiscount %} product-has-discount{% endif %}">

    <div class="product-media-container">
    
        {%- if showDiscountBadge or showOutOfStockBadge or showNewBadge or showPromotionBadge or showBackorderBadge -%}

            {%- if product -%}

                {%- render 'product-badges', product: product, showDiscount: showDiscountBadge, showOutOfStock: showOutOfStockBadge, showNew: showNewBadge, showPromotion: showPromotionBadge, showBackorder: showBackorderBadge -%}

            {%- else -%}

                {%- render 'product-badges', productHasDiscount: productHasDiscount, productDiscountPercent: productDiscountPercent, productIsNew: productIsNew, showDiscount: showDiscountBadge, showOutOfStock: showOutOfStockBadge, showNew: showNewBadge, showPromotion: showPromotionBadge, showBackorder: showBackorderBadge -%}

            {%- endif -%}

        {%- endif -%}

        {%- if product -%}

            {%- if wishlist and settings.accessibilityShowWishlist -%}

                <div class="product-wishlist-action-container">

                    <button
                        type="button"
                        class="product-wishlist-action"
                        data-wishlist-{{- wishlist -}}="{{ product.default_or_selected_variant.product_id }}"
                        aria-pressed="{{ product.in_customers_wishlist | yepnope: 'true', 'false' }}"
                        aria-label="{{ product.in_customers_wishlist | yepnope: 'wishlist.remove', 'wishlist.add' | t }}">
                        {%- render 'icon', icon: 'like', class: 'svg-icon-fw' -%}
                    </button>

                </div>

            {% endif %}

        {% endif %}

        {%- if showAddToCart -%}

            <div class="product-quick-add-action-container">

                <button
                    type="button"
                    class="product-quick-add-action btn btn-text"
                    data-cart-add="{{ product.id }}"
                    data-cart-quantity="{{ product.min_quantity }}">

                        <div class="product-quick-add-action-inner">

                            {%- render 'icon', icon: 'cart', class: 'svg-icon-fw product-quick-add-action-icon' -%}

                            <span class="product-quick-add-action-text">
                                {{- 'cart.quick_add' | t -}}
                            </span>

                        </div>

                </button>

            </div>

        {%- endif -%}

        {%- capture productMedia -%}

            <div class="product-media aspect-ratio-product">

                {%- if product.images -%}

                    {%- assign generalImages = product.images | where: 'attached_to_variant', false -%}

                    {% if generalImages.size > 1 %}

                        {%- assign img1 = generalImages[0] -%}
                        {%- assign img2 = generalImages[1] -%}

                    {% elsif generalImages.size == 1 and product.default_or_selected_variant.image %}

                        {%- assign img1 = generalImages[0] -%}
                        {%- assign img2 = product.default_or_selected_variant.image -%}

                    {% elsif generalImages.size == 1 %}

                        {%- assign img1 = generalImages[0] -%}

                    {%- elsif product.default_or_selected_variant.image -%}

                        {%- assign img1 = product.default_or_selected_variant.image -%}

                    {% endif %}

                    {%- if settings.productImageAspectRatio == '9:13' -%}

                        {%- assign imgSizeSm = '388,388' -%}
                        {%- assign imgSizeMd = '330,330' -%}

                        {%- case productPerRow -%}
                            {% when '2' %}
                                {%- assign imgSizeLg = '850,850' -%}
                            {% when '3' %}
                                {%- assign imgSizeLg = '560,560' -%}
                            {% when '4' %}
                                {%- assign imgSizeLg = '416,416' -%}
                            {% when '5' %}
                                {%- assign imgSizeLg = '330,330' -%}
                            {% when '6' %}
                                {%- assign imgSizeLg = '272,272' -%}
                        {%- endcase -%}

                    {%- elsif settings.productImageAspectRatio == '4:3' -%}

                        {%- assign imgSizeSm = '280,210' -%}
                        {%- assign imgSizeMd = '240,180' -%}

                        {%- case productPerRow -%}
                            {% when '2' %}
                                {%- assign imgSizeLg = '613,460' -%}
                            {% when '3' %}
                                {%- assign imgSizeLg = '413,310' -%}
                            {% when '4' %}
                                {%- assign imgSizeLg = '313,235' -%}
                            {% when '5' %}
                                {%- assign imgSizeLg = '240,190' -%}
                            {% when '6' %}
                                {%- assign imgSizeLg = '200,160' -%}
                        {%- endcase -%}

                    {%- elsif settings.productImageAspectRatio == '3:4' -%}

                        {%- assign imgSizeSm = '280,373' -%}
                        {%- assign imgSizeMd = '240,320' -%}

                        {%- case productPerRow -%}
                            {% when '2' %}
                                {%- assign imgSizeLg = '600,800' -%}
                            {% when '3' %}
                                {%- assign imgSizeLg = '400,533' -%}
                            {% when '4' %}
                                {%- assign imgSizeLg = '300,400' -%}
                            {% when '5' %}
                                {%- assign imgSizeLg = '240,320' -%}
                            {% when '6' %}
                                {%- assign imgSizeLg = '200,267' -%}
                        {%- endcase -%}

                    {%- elsif settings.productImageAspectRatio == '1:1' -%}

                        {%- assign imgSizeSm = '280,280' -%}
                        {%- assign imgSizeMd = '240,240' -%}

                        {%- case productPerRow -%}
                            {% when '2' %}
                                {%- assign imgSizeLg = '600,600' -%}
                            {% when '3' %}
                                {%- assign imgSizeLg = '400,400' -%}
                            {% when '4' %}
                                {%- assign imgSizeLg = '300,300' -%}
                            {% when '5' %}
                                {%- assign imgSizeLg = '240,240' -%}
                            {% when '6' %}
                                {%- assign imgSizeLg = '200,200' -%}
                        {%- endcase -%}

                    {%- endif -%}

                    <div class="product-media-img-container aspect-ratio-container">

                        <picture>
                            <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                {{- img1 | thumb: imgSizeLg }} 1x,
                                {{- img1 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                {{- img1 | thumb: imgSizeMd }} 1x,
                                {{- img1 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{- img1 | thumb: imgSizeSm }} 1x,
                                {{- img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ productName }}" 
                                data-src="{{ img1 | thumb: imgSizeSm }}"
                                data-srcset="{{ img1 | thumb: imgSizeSm }} 1x, {{ img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy d-block mx-auto img-fluid aspect-ratio-item featured-img">
                        </picture>

                    </div>

                    {% if img2 %}
                        
                        <div class="product-media-img-container aspect-ratio-container">

                            <picture>
                                <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                    {{- img2 | thumb: imgSizeLg }} 1x,
                                    {{- img2 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                    {{- img2 | thumb: imgSizeMd }} 1x,
                                    {{- img2 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                <source data-srcset="
                                    {{- img2 | thumb: imgSizeSm }} 1x,
                                    {{- img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                <img
                                    alt="{{ productName }}" 
                                    data-src="{{ img2 | thumb: imgSizeSm }}"
                                    data-srcset="{{ img2 | thumb: imgSizeSm }} 1x, {{ img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                            </picture>

                        </div>

                    {% endif %}

                {%- else -%}

                    <div class="product-media-img-container aspect-ratio-container">

                        {%- if product -%}
                            {%- render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' -%}
                        {% else %}
                            {%- render 'placeholder-svg', type: 'product', class: 'aspect-ratio-item' -%}
                        {%- endif -%}

                    </div>

                {%- endif -%}

            </div>

        {%- endcapture -%}

        {%- if productUrl -%}

            <a href="{{ productUrl }}" aria-label="{{ productName }}">
                {{- productMedia -}}
            </a>

        {%- else -%}

            <div>
                {{- productMedia -}}
            </div>

        {%- endif -%}

    </div>

    <div class="product-caption">

        {%- capture productCaptionInner -%}

            {%- if showManufacturer -%}

                <div class="product-manufacturer">

                    <span class="product-manufacturer-name">
                        {{- productManufacturerName -}}
                    </span>

                </div>

            {%- endif -%}

            {%- if showProductName -%}

                <div class="product-name">

                    <h3 class="product-name-text text-product-title">
                        {{- productName -}}
                    </h3>

                </div>

            {%- endif -%}

            {%- if showRating and productRating > 0  -%}

                <div class="product-rating">

                    {%- for rating in (1..productMaxRating) -%}

                        {%- if productRating >= rating -%}

                            {%- render 'icon', icon: 'rating', class: 'svg-icon-gap-xs text-review-icon' -%}

                        {%- else -%}

                            {%- render 'icon', icon: 'rating-empty', class: 'svg-icon-gap-xs text-muted' -%}

                        {%- endif -%}

                    {%- endfor -%}

                </div>

            {% endif %}

            {%- if showPricing -%}

                <div class="product-price">

                    {%- if productHasDiscount -%}

                        <span class="text-sale-price me-2">
                            {{- settings.taxFreeShopping == true | yepnope: productNetPrice, productPrice | money_with_currency -}}
                        </span>

                        <span class="text-decoration-line-through text-muted">
                            {{- settings.taxFreeShopping == true | yepnope: productOriginalNetPrice, productOriginalPrice | money_with_currency -}}
                        </span>

                    {%- else -%}

                        <span class="text-price">
                            {{- settings.taxFreeShopping == true | yepnope: productNetPrice, productPrice | money_with_currency -}}
                        </span>

                    {%- endif -%}

                    {%- if showPromotion and product.default_or_selected_variant.promotion -%}

                        <div class="product-promotion mt-1">

                            <span class="text-sale-price small">
                                {{- product.default_or_selected_variant.promotion.title | strip -}}{% if product.default_or_selected_variant.promotion.description %}: {{ product.default_or_selected_variant.promotion.description -}}{%- endif -%}
                            </span>

                        </div>

                    {% endif %}

                </div>

            {% endif %}

        {%- endcapture -%}

        {%- if product -%}

            <a href="{{ productUrl }}" aria-label="{{ productName }}">
                {{- productCaptionInner -}}
            </a>

        {%- else -%}

            {{- productCaptionInner -}}

        {%- endif -%}

        {%- if showVariants and product.options_with_values.size -%}

            {% assign variantsAvailableArr = product.variants | map: 'is_available' %}
            {% assign variantsOption1Arr = product.variants | map: 'option1' %}
            {% assign variantsOption2Arr = product.variants | map: 'option2' %}
            {% assign variantsOption3Arr = product.variants | map: 'option3' %}
            {% assign variantsHasImage = product.variants | where: 'image' | compact %}
            {% assign variantsWithTaxonomyArr = product.options_with_values | where: 'taxonomy_attribute' %}
            {% assign visibleOptionsCount = 1 %}

            {% if settings.productShowVariantOption2TaxonomyType %}
                {% assign visibleOptionsCount = visibleOptionsCount | plus: 1 %}
            {% endif %}

            {% if settings.productShowVariantOption3TaxonomyType %}
                {% assign visibleOptionsCount = visibleOptionsCount | plus: 1 %}
            {% endif %}

            {% capture variantsTemplate %}

                {% for num in (1..visibleOptionsCount) %}

                    {%- assign option = nil -%}

                    {%- case forloop.index -%}
                        {% when 1 %}
                            {%- for item in variantsWithTaxonomyArr -%}
                                {%- if item.taxonomy_attribute.type == settings.productShowVariantOption1TaxonomyType -%}
                                    {%- assign option = item -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {% when 2 %}
                            {%- for item in variantsWithTaxonomyArr -%}
                                {%- if item.taxonomy_attribute.type == settings.productShowVariantOption2TaxonomyType -%}
                                    {%- assign option = item -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {% when 3 %}
                            {%- for item in variantsWithTaxonomyArr -%}
                                {%- if item.taxonomy_attribute.type == settings.productShowVariantOption3TaxonomyType -%}
                                    {%- assign option = item -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endfor -%}
                    {%- endcase -%}

                    {% unless option %}
                        {%- continue -%}
                    {% endunless %}

                    {%- assign optionPosition = option.sort_order | plus: 1 -%}

                    {% if option.taxonomy_attribute.type == 'color' %}

                        <div class="form-check-color-swatches-container form-check-color-swatches-no-wrap justify-content-auto">

                            {%- assign colorCount = 0 -%}

                            {% for value in option.values %}

                                {%- assign optionDisabled = true -%}

                                {%- for option1 in variantsOption1Arr -%}

                                    {%- case colorOptionPosition -%}
                                        {%- when 1 -%}
                                            {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {%- assign optionDisabled = false -%}
                                            {%- endif -%}
                                        {%- when 2 -%}
                                            {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {% assign optionDisabled = false %}
                                            {%- endif -%}
                                        {%- when 3 -%}
                                            {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {% assign optionDisabled = false %}
                                            {%- endif -%}
                                    {%- endcase -%}

                                {%- endfor -%}

                                {%- unless value.taxonomy_value.colors or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor or optionDisabled -%}
                                    {%- continue -%}
                                {%- endunless -%}

                                {%- capture swatchColor -%}
                                    {%- if value.taxonomy_value.colors.size == 1 -%}
                                        {{- value.taxonomy_value.colors[0] -}}
                                    {%- elsif value.taxonomy_value.colors.size == 2 -%}
                                        linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 50%, {{ value.taxonomy_value.colors[1] }} 50%)
                                    {%- elsif value.taxonomy_value.colors.size == 3 -%}
                                        linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 33.33333333%, {{ value.taxonomy_value.colors[1] }} 33.33333333% 66.66666666%, {{ value.taxonomy_value.colors[2] }} 66.66666666%)
                                    {%- endif -%}
                                {%- endcapture -%}

                                <div class="form-check-color-swatch form-check-color-swatch-inline form-check-color-swatch-xs{% if value.taxonomy_value.is_transparent %} form-check-color-swatch-transparent{% elsif value.taxonomy_value.is_multicolor %} form-check-color-swatch-multicolor{% endif %}"{% if swatchColor %} style="--swatch-color: {{ swatchColor | strip }}"{% endif %}>

                                    <input class="form-check-input"
                                        type="hidden"
                                        name="product-variant-img"
                                        value="{{ value.image }}"
                                        readonly>

                                    <label class="form-check-label"></label>

                                </div>

                                {%- assign colorCount = colorCount | plus: 1 -%}

                                {%- if colorCount == 5 and option.values.size > 5 -%}
                                    {%- break -%}
                                {%- endif -%}

                            {% endfor %}

                            {% if colorCount < option.values.size and option.values.size > 5 %}
                                <small class="lh-1">+{{ option.values.size | minus: colorCount }}</small>
                            {% endif %}

                        </div>

                    {% else %}

                        <div class="d-flex flex-wrap justify-content-auto gap-1">

                            {% for value in option.values %}

                                {%- assign optionDisabled = true -%}

                                {%- for option1 in variantsOption1Arr -%}

                                    {%- case sizeOptionPosition -%}
                                        {%- when 1 -%}
                                            {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {%- assign optionDisabled = false -%}
                                            {%- endif -%}
                                        {%- when 2 -%}
                                            {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {% assign optionDisabled = false %}
                                            {%- endif -%}
                                        {%- when 3 -%}
                                            {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                {% assign optionDisabled = false %}
                                            {%- endif -%}
                                    {%- endcase -%}

                                {%- endfor -%}

                                {%- unless optionDisabled -%}
                                    {%- continue -%}
                                {%- endunless -%}

                                <small>{{ value.title }}</small>

                                {% if forloop.index == 5 and option.values.size > 5 %}
                                    {% break %}
                                {% endif %}

                            {% endfor %}

                            {% if option.values.size > 5 %}
                                <small>+{{ option.values.size | minus: 5 }}</small>
                            {% endif %}

                        </div>

                    {% endif %}

                {% endfor %}

            {% endcapture %}

            {% if variantsTemplate %}

                <div class="product-variants">

                    {{- variantsTemplate -}}

                </div>

            {% endif %}

            {% if variantsHasImage and settings.productShowVariantOptionTaxonomyTypeAsImage and settings.productShowVariantImgsOnHover %} 

                {% capture variantsHoverTemplate %}

                    {% for num in (1..visibleOptionsCount) %}

                        {%- assign option = nil -%}

                        {%- case forloop.index -%}
                            {% when 1 %}
                                {%- for item in variantsWithTaxonomyArr -%}
                                    {%- if item.taxonomy_attribute.type == settings.productShowVariantOption1TaxonomyType -%}
                                        {%- assign option = item -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {% when 2 %}
                                {%- for item in variantsWithTaxonomyArr -%}
                                    {%- if item.taxonomy_attribute.type == settings.productShowVariantOption2TaxonomyType -%}
                                        {%- assign option = item -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {% when 3 %}
                                {%- for item in variantsWithTaxonomyArr -%}
                                    {%- if item.taxonomy_attribute.type == settings.productShowVariantOption3TaxonomyType -%}
                                        {%- assign option = item -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                        {%- endcase -%}

                        {% unless option %}
                            {%- continue -%}
                        {% endunless %}

                        {%- assign optionPosition = option.sort_order | plus: 1 -%}

                        {% if option.taxonomy_attribute.type == settings.productShowVariantOptionTaxonomyTypeAsImage %}

                            {% assign optionValuesWithImg = option.values | where: 'image' %}

                            <div class="form-check-imgs-container">

                                {% for value in optionValuesWithImg %}

                                    {%- assign optionDisabled = true -%}

                                    {%- for option1 in variantsOption1Arr -%}

                                        {%- case sizeOptionPosition -%}
                                            {%- when 1 -%}
                                                {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {%- assign optionDisabled = false -%}
                                                {%- endif -%}
                                            {%- when 2 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                            {%- when 3 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                        {%- endcase -%}

                                    {%- endfor -%}

                                    {%- unless optionDisabled -%}
                                        {%- continue -%}
                                    {%- endunless -%}

                                    <div class="form-check-img form-check-img-simple">

                                        <input class="form-check-input"
                                            type="hidden"
                                            name="product-variant-img"
                                            value="{{ value.image }}"
                                            readonly>

                                        <label class="form-check-label w-px-30" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ value.title }}">

                                            <div class="aspect-ratio-product">

                                                <div class="aspect-ratio-container">

                                                    {% if value.image %}

                                                        {% if settings.productImageAspectRatio == '9:13' %}
                                                            {%- assign imgSize = '40,58' -%}
                                                        {% elsif settings.productImageAspectRatio == '4:3' %}
                                                            {%- assign imgSize = '40,30' -%}
                                                        {% elsif settings.productImageAspectRatio == '3:4' %}
                                                            {%- assign imgSize = '40,53' -%}
                                                        {% elsif settings.productImageAspectRatio == '1:1' %}
                                                            {%- assign imgSize = '40,40' -%}
                                                        {% endif %}

                                                        <picture>
                                                            <img
                                                                alt="{{ value.title }}"
                                                                src="{{ value.image | thumb: imgSize }}"
                                                                srcset="{{ value.image | thumb: imgSize }} 1x, {{ value.image | thumb: imgSize | thumb: '@2x' }} 2x"
                                                                loading="lazy"
                                                                class="d-block mx-auto img-fluid aspect-ratio-item">
                                                        </picture>

                                                    {% else %}

                                                        {%- capture imgSrc -%}
                                                            {% render 'placeholder-svg', type: 'image', base64: true %}
                                                        {%- endcapture -%}

                                                        <img
                                                            alt="{{ value.title }}"
                                                            src="{{ imgSrc }}"
                                                            class="d-block mx-auto img-fluid aspect-ratio-item svg-placeholder">

                                                    {% endif %}

                                                </div>

                                            </div>

                                        </label>

                                    </div>

                                    {% if forloop.index == 5 and option.values.size > 5 %}
                                        {% break %}
                                    {% endif %}

                                {% endfor %}

                                {% if optionValuesWithImg.size < option.values.size and option.values.size > 5 %}
                                    <small class="lh-1">+{{ option.values.size | minus: optionValuesWithImg.size }}</small>
                                {% endif %}

                            </div>

                        {% elsif option.taxonomy_attribute.type == 'color' %}

                            {%- assign colorCount = 0 -%}

                            <div class="form-check-color-swatches-container form-check-color-swatches-no-wrap">

                                {% for value in option.values %}

                                    {%- unless value.taxonomy_value.colors or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor -%}
                                        {%- continue -%}
                                    {%- endunless -%}

                                    {%- assign optionDisabled = true -%}

                                    {%- for option1 in variantsOption1Arr -%}

                                        {%- case colorOptionPosition -%}
                                            {%- when 1 -%}
                                                {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {%- assign optionDisabled = false -%}
                                                {%- endif -%}
                                            {%- when 2 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                            {%- when 3 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                        {%- endcase -%}

                                    {%- endfor -%}

                                    {%- unless optionDisabled -%}
                                        {%- continue -%}
                                    {%- endunless -%}

                                    {%- capture swatchColor -%}
                                        {%- if value.taxonomy_value.colors.size == 1 -%}
                                            {{- value.taxonomy_value.colors[0] -}}
                                        {%- elsif value.taxonomy_value.colors.size == 2 -%}
                                            linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 50%, {{ value.taxonomy_value.colors[1] }} 50%)
                                        {%- elsif value.taxonomy_value.colors.size == 3 -%}
                                            linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 33.33333333%, {{ value.taxonomy_value.colors[1] }} 33.33333333% 66.66666666%, {{ value.taxonomy_value.colors[2] }} 66.66666666%)
                                        {%- endif -%}
                                    {%- endcapture -%}

                                    <div class="form-check-color-swatch form-check-color-swatch-inline form-check-color-swatch-xs{% if value.taxonomy_value.is_transparent %} form-check-color-swatch-transparent{% elsif value.taxonomy_value.is_multicolor %} form-check-color-swatch-multicolor{% endif %}"{% if swatchColor %} style="--swatch-color: {{ swatchColor | strip }}"{% endif %}>

                                        <input class="form-check-input}"
                                            type="hidden"
                                            name="product-variant-img"
                                            value="{{ value.image }}"
                                            readonly>

                                        <label class="form-check-label"></label>

                                    </div>

                                    {%- if colorCount == 5 and option.values.size > 5 -%}
                                        {%- break -%}
                                    {%- endif -%}

                                {% endfor %}

                                {% if colorCount < option.values.size and option.values.size > 5 %}
                                    <small class="lh-1">+{{ option.values.size | minus: colorCount }}</small>
                                {% endif %}

                            </div>

                        {% else %}

                            <div class="d-flex flex-wrap justify-content-auto gap-1">

                                {% for value in option.values %}

                                    {%- assign optionDisabled = true -%}

                                    {%- for option1 in variantsOption1Arr -%}

                                        {%- case sizeOptionPosition -%}
                                            {%- when 1 -%}
                                                {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {%- assign optionDisabled = false -%}
                                                {%- endif -%}
                                            {%- when 2 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                            {%- when 3 -%}
                                                {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                                    {% assign optionDisabled = false %}
                                                {%- endif -%}
                                        {%- endcase -%}

                                    {%- endfor -%}

                                    {%- unless optionDisabled -%}
                                        {%- continue -%}
                                    {%- endunless -%}

                                    <small>{{ value.title }}</small>

                                    {% if forloop.index == 5 and option.values.size > 5 %}
                                        {% break %}
                                    {% endif %}

                                {% endfor %}

                                {% if option.values.size > 5 %}
                                    <small>+{{ option.values.size | minus: 5 }}</small>
                                {% endif %}

                            </div>

                        {% endif %}

                    {% endfor %}

                {% endcapture %}

                {% if variantsHoverTemplate %}

                    <div class="product-variants-hover">

                        {{- variantsHoverTemplate -}}

                    </div>

                {% endif %}

            {% endif %}

        {%- endif -%}

        {%- if showStockBalance -%}

            <div class="product-stock-balance">

                {%- if product.default_or_selected_variant.is_out_of_stock -%}

                    <span class="product-stock-balance-out-of-stock">
                        {{- 'product.out_of_stock' | t -}}
                    </span>

                {%- elsif product.default_or_selected_variant.is_low_on_stock and product.default_or_selected_variant.stock and product.default_or_selected_variant.inventory_policy == 'deny' -%}

                    <span class="product-stock-balance-low-on-stock">
                        {{- 'product.low_on_stock_dynamic' | t: amount: product.default_or_selected_variant.stock -}}
                    </span>

                {%- elsif product.default_or_selected_variant.stock < 1 and product.default_or_selected_variant.inventory_policy == 'continue' -%}

                    <span class="product-stock-balance-backorder">
                        {{- 'product.backorder' | t -}}
                    </span>

                {%- else -%}

                    <span class="product-stock-balance-in-stock">

                        {%- if showStockBalanceAsNumber and product.default_or_selected_variant.stock -%}
                            {{- 'product.in_stock_dynamic' | t: amount: product.default_or_selected_variant.stock, unit: product.default_or_selected_variant.unit -}}
                        {%- else -%}
                            {{- 'product.in_stock' | t -}}
                        {%- endif -%}
                        
                    </span>

                {%- endif -%}

            </div>

        {%- endif -%}

    </div>

</div>