{% comment %}
	Renders a product variant options

	Accepts:
    - highlightLabel: {Boolean}
	- showAsDropdown: {Boolean}

	Usage:
	Render this snippet inside of "product-variants" class in the product-template.liquid file.

	{% render 'product-variant-options', highlightLabel: true %}
{% endcomment %}

{% assign variantsAvailableArr = product.variants | map: 'is_available' %}
{% assign variantsOption1Arr = product.variants | map: 'option1' %}
{% assign variantsOption2Arr = product.variants | map: 'option2' %}
{% assign variantsOption3Arr = product.variants | map: 'option3' %}
{% assign variantsHasImage = product.variants | where: 'image' | compact %}

{%- capture variantData -%}
    [{%- for variant in product.variants -%}
        {
            "url": "{{ variant.url }}",
            "hasImage": {{- variant.image | yepnope: true, false | json -}},
            "options": [
                {%- for option in variant.options -%}
                    "{{ option.value | escape }}"{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
            ]
        }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}]
{%- endcapture -%}

{% for option in product.options_with_values %}

    {%- assign optionPosition = option.sort_order | plus: 1 -%}

    <div class="mb-4">

        {% if option.values.size > 9 or showAsDropdown %}

            {% if option.title %}

                <label class="form-label text-title{% if highlightLabel %} fw-bold{% endif %}">
                    {{ option.title }}
                </label>

            {% endif %}

            <select class="product-option-value form-select" name="{{ option.handle }}">

                {% for value in option.values %}

                    {% unless product.default_or_selected_variant.notifications_supported %}

                        {%- assign optionDisabled = true -%}

                        {%- for option1 in variantsOption1Arr -%}

                            {%- case optionPosition -%}
                                {%- when 1 -%}
                                    {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {%- assign optionDisabled = false -%}
                                    {%- endif -%}
                                {%- when 2 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                                {%- when 3 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                            {%- endcase -%}

                        {%- endfor -%}

                    {% endunless %}

                    <option value="{{ value }}"{% if option.selected_value == value %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>
                        {{- value.title -}}
                    </option>

                {% endfor %}

            </select>

        {% else %}

            {% if option.title %}

                {%- assign optionTaxonomyValues = option.values | where: 'taxonomy_value' -%}

                {%- if optionTaxonomyValues -%}
                    {%- assign taxanomyHasColors = optionTaxonomyValues | where: 'colors' -%}
                    {%- assign taxanomyHasTypeTransparent = optionTaxonomyValues | where: 'is_transparent' -%}
                    {%- assign taxanomyHasTypeMulticolor = optionTaxonomyValues | where: 'is_multicolor' -%}
                {%- endif -%}

                {% if taxanomyHasColors or taxanomyHasTypeTransparent or taxanomyHasTypeMulticolor or option.taxonomy_attribute.type == settings.productShowVariantOptionTaxonomyTypeAsImage and variantsHasImage %}

                    <label class="form-label text-title{% if highlightLabel %} fw-bold{% endif %}">
                        {{ option.title }}: {{ option.selected_value.title }}
                    </label>

                {% else %}

                    <label class="form-label text-title{% if highlightLabel %} fw-bold{% endif %}">
                        {{ option.title }}
                    </label>

                {% endif %}

            {% endif %}

            {% if variantsHasImage and option.taxonomy_attribute.type == settings.productShowVariantOptionTaxonomyTypeAsImage %}

                <div class="form-check-imgs-container">

                    {% for value in option.values %}

                        {%- assign optionDisabled = true -%}

                        {%- for option1 in variantsOption1Arr -%}

                            {%- case optionPosition -%}
                                {%- when 1 -%}
                                    {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {%- assign optionDisabled = false -%}
                                    {%- endif -%}
                                {%- when 2 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                                {%- when 3 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                            {%- endcase -%}

                        {%- endfor -%}

                        <div class="form-check-img">

                            <input class="product-option-value form-check-input{% if optionDisabled and product.default_or_selected_variant.notifications_supported %} disabled{% endif %}"
                                type="radio"
                                id="product-option-value-{{ optionPosition }}-{{ forloop.index0 }}"
                                name="{{ option.handle }}"
                                value="{{ value }}"
                                {% if option.selected_value == value %}checked{% endif %}
                                {% if optionDisabled and product.default_or_selected_variant.notifications_supported == false %}disabled{% endif %}>

                            <label for="product-option-value-{{ optionPosition }}-{{ forloop.index0 }}" class="form-check-label w-px-70" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ value.title }}">

                                <div class="aspect-ratio-product">

                                    <div class="aspect-ratio-container">

                                        {% if value.image %}

                                            {% if settings.productImageAspectRatio == '9:13' %}
                                                {%- assign imgSize = '80,115' -%}
                                            {% elsif settings.productImageAspectRatio == '4:3' %}
                                                {%- assign imgSize = '80,60' -%}
                                            {% elsif settings.productImageAspectRatio == '3:4' %}
                                                {%- assign imgSize = '80,107' -%}
                                            {% elsif settings.productImageAspectRatio == '1:1' %}
                                                {%- assign imgSize = '80,80' -%}
                                            {% endif %}

                                            <picture>
                                                <img
                                                    alt="{{ value.title }}"
                                                    src="{{ value.image | thumb: imgSize }}"
                                                    srcset="{{ value.image | thumb: imgSize }} 1x, {{ value.image | thumb: imgSize | thumb: '@2x' }} 2x"
                                                    loading="lazy"
                                                    class="d-block mx-auto img-fluid aspect-ratio-item">
                                            </picture>

                                        {% else %}

                                            {%- capture imgSrc -%}
                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                            {%- endcapture -%}

                                            <img
                                                alt="{{ value.title }}"
                                                src="{{ imgSrc }}"
                                                class="d-block mx-auto img-fluid aspect-ratio-item svg-placeholder">

                                        {% endif %}

                                    </div>

                                </div>

                            </label>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="{% if option.taxonomy_attribute.type == 'color' %}form-check-color-swatches-container{% else %}form-check-badges-container{% endif %}">

                    {% for value in option.values %}

                        {%- assign optionDisabled = true -%}

                        {%- for option1 in variantsOption1Arr -%}

                            {%- case optionPosition -%}
                                {%- when 1 -%}
                                    {%- if variantsOption1Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {%- assign optionDisabled = false -%}
                                    {%- endif -%}
                                {%- when 2 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                                {%- when 3 -%}
                                    {%- if option1.value == product.default_or_selected_variant.option1.value and variantsOption2Arr[forloop.index0].value == product.default_or_selected_variant.option2.value and variantsOption3Arr[forloop.index0].value == value and variantsAvailableArr[forloop.index0] -%}
                                        {% assign optionDisabled = false %}
                                    {%- endif -%}
                            {%- endcase -%}

                        {%- endfor -%}

                        {%- capture swatchColor -%}
                            {%- if value.taxonomy_value.colors.size == 1 -%}
                                {{- value.taxonomy_value.colors[0] -}}
                            {%- elsif value.taxonomy_value.colors.size == 2 -%}
                                linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 50%, {{ value.taxonomy_value.colors[1] }} 50%)
                            {%- elsif value.taxonomy_value.colors.size == 3 -%}
                                linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 33.33333333%, {{ value.taxonomy_value.colors[1] }} 33.33333333% 66.66666666%, {{ value.taxonomy_value.colors[2] }} 66.66666666%)
                            {%- endif -%}
                        {%- endcapture -%}

                        <div class="{% if option.taxonomy_attribute.type == 'color' and swatchColor or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor %}form-check-color-swatch form-check-color-swatch-inline{% if value.taxonomy_value.is_transparent %} form-check-color-swatch-transparent{% elsif value.taxonomy_value.is_multicolor %} form-check-color-swatch-multicolor{% endif %}{% else %}form-check-badge{% endif %}"{% if option.taxonomy_attribute.type == 'color' and swatchColor %} style="--swatch-color: {{ swatchColor | strip }}"{% endif %}>

                            <input class="product-option-value form-check-input{% if optionDisabled and product.default_or_selected_variant.notifications_supported %} disabled{% endif %}"
                                type="radio"
                                id="product-option-value-{{ optionPosition }}-{{ forloop.index0 }}"
                                name="{{ option.handle }}"
                                value="{{ value }}"
                                {% if option.selected_value == value %}checked{% endif %}
                                {% if optionDisabled and product.default_or_selected_variant.notifications_supported == false %}disabled{% endif %}>

                            {% if option.taxonomy_attribute.type == 'color' and swatchColor or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor %}

                                <label for="product-option-value-{{ optionPosition }}-{{ forloop.index0 }}" class="form-check-label"{% unless optionDisabled %} data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ value.title }}"{% endunless %}></label>

                            {% else %}

                                <label for="product-option-value-{{ optionPosition }}-{{ forloop.index0 }}" class="form-check-label">
                                    {{- value.title -}}
                                </label>

                            {% endif %}

                        </div>

                    {% endfor %}

                </div>

            {% endif %}

        {% endif %}

    </div>

{% endfor %}

<script id="product-variant-data" type="application/json">
    {{- variantData | strip | replace: '  ', '' | strip_newlines -}}
</script>