{% comment %}
    Renders a section

    Accepts:
    - section: {Object} Section Liquid object
    - sectionContainer: {String} 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionTitle: {String}
    - sectionTitleClass: {String}
    - sectionTitleTag {String}
    - sectionSubtitle: {String}
    - sectionSubtitleTag {String}
    - sectionOverline: {String}
    - sectionOverlineTag {String}
    - sectionHeight {String}
    - sectionMinHeight {String
    - sectionPaddingMode {String}
    - sectionPaddingTop {String}
    - sectionPaddingBottom {String}
    - sectionInnerGap {String}
    - sectionGutterWidth {String}
    - sectionDescription: {String}
    - sectionBreadcrumbs: {Object} Breadcrumbs Liquid object
    - sectionHeader {Boolean}
    - sectionHeaderTextAlign {String} 'nil', 'start', 'center', 'end'
    - sectionHeaderClass {String}
    - sectionHeaderContainer: {String} 'nil', 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionHeaderSecondaryAction: {String}
    - sectionHeaderAnimation: {Boolean}
    - sectionHeaderGapScale: {Float}
    - sectionHeaderFontSizeScale: {Float}
    - sectionTabs {String}
    - sectionContent: {String}
    - sectionContentTextAlign: {String} 'nil', 'start', 'center', 'end'
    - sectionCustomContent: {String}
    - sectionBgImg: {String}
    - sectionBgImgPos: {String}
    - sectionBgImgDimming: {String}
    - sectionBgImgBlur: {String}
    - sectionColorScheme: {String}
    - sectionOverlay: {Boolean}
    - sectionContentClass {String}
    - sectionContentContainer: {String} 'nil', 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionContentAnimation: {Boolean}
    - sectionTextAlign: {String} 'nil', 'start', 'center', 'end'
    - sectionAnimation {String}
    - sectionAnimationRepeat {Boolean}
    - sectionAction {String}
    - sectionHighlightItems {Boolean}
    - sectionAdditionalTitles {Boolean}

    Usage:
    {% render 'section', section: section %}
{% endcomment %}

{%- assign section = section -%}
{%- assign sectionContainer = sectionContainer | default: section.settings.sectionContainer | default: 'fixed' -%}
{%- assign sectionHeight = sectionHeight | default: section.settings.sectionHeight -%}
{%- assign sectionInnerGap = sectionInnerGap | default: section.settings.sectionInnerGap | default: settings.sectionInnerGap -%}
{%- assign sectionGutterWidth = sectionGutterWidth | default: section.settings.sectionGutterWidth -%}
{%- assign sectionContent = sectionContent | default: nil -%}
{%- assign sectionCustomContent = sectionCustomContent | default: nil -%}
{%- assign sectionContentWidth = section.settings.sectionContentWidth | default: '12' -%}
{%- assign sectionContentAlign = section.settings.sectionContentAlign | default: 'center' -%}
{%- assign sectionContentContainer = sectionContentContainer | default: sectionContainer -%}
{%- assign sectionContentOverflow = sectionContentOverflow | default: section.settings.sectionContentOverflow | default: nil -%}
{%- assign sectionBgImgPos = sectionBgImgPos | default: section.settings.sectionBgImgPos | default: settings.sectionBgImgPos -%}
{%- assign sectionBgImgDimming = sectionBgImgDimming | default: section.settings.sectionBgImgDimming | default: '0' -%}
{%- assign sectionBgImgBlur = sectionBgImgBlur | default: section.settings.sectionBgImgBlur | default: '0' -%}
{%- assign sectionBgImg = sectionBgImg | default: section.settings.sectionBgImg -%}
{%- assign sectionColorScheme = sectionColorScheme | default: section.settings.sectionColorScheme -%}
{%- assign sectionTitle = sectionTitle | default: section.settings.sectionTitle -%}
{%- assign sectionTitleClass = sectionTitleClass | default: section.settings.sectionTitleClass -%}
{%- assign sectionTitleTag = sectionTitleTag | default: section.settings.sectionTitleTag -%}
{%- assign sectionSubtitle = sectionSubtitle | default: section.settings.sectionSubtitle -%}
{%- assign sectionSubtitleTag = sectionSubtitleTag | default: section.settings.sectionSubtitleTag -%}
{%- assign sectionOverline = sectionOverline | default: section.settings.sectionOverline -%}
{%- assign sectionOverlineTag = sectionOverlineTag | default: section.settings.sectionOverlineTag -%}
{%- assign sectionDescription = sectionDescription | default: section.settings.sectionDescription -%}
{%- assign sectionBreadcrumbs = sectionBreadcrumbs | default: nil -%}
{%- assign sectionAction = sectionAction | strip -%}
{%- assign sectionHeaderContainer = sectionHeaderContainer | default: sectionContainer -%}
{%- assign sectionHeaderSecondaryAction = sectionHeaderSecondaryAction | default: nil -%}
{%- assign sectionHeaderGapScale = sectionHeaderGapScale | default: settings.sectionHeaderGapScale -%}
{%- assign sectionOverlay = sectionOverlay | default: section.settings.sectionOverlay | default: false -%}
{%- assign sectionOverlayPadding = sectionOverlayPadding | default: section.settings.sectionOverlayPadding | default: settings.sectionOverlayPadding -%}
{%- assign sectionDescription = sectionDescription | default: section.settings.sectionDescription -%}
{%- assign sectionPaddingMode = sectionPaddingMode | default: section.settings.sectionPaddingMode -%}
{%- assign sectionAdditionalTitles = sectionAdditionalTitles | default: section.settings.sectionAdditionalTitles | default: false -%}

{%- if sectionContainer == 'nil' -%}
    {%- assign sectionContainer = 'fixed' -%}
{%- endif -%}

{%- unless sectionAdditionalTitles -%}
    {%- assign sectionOverline = false -%}
{%- endunless -%}

{%- if sectionHandle == nil and section.id -%}
    {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}
{%- endif -%}

{%- if sectionAnimation == false -%}

    {%- assign sectionHeaderAnimation = false -%}
    {%- assign sectionContentAnimation = false -%}
    {%- assign sectionAnimationRepeat = false -%}

{%- else -%}

    {%- assign sectionAnimation = sectionAnimation | default: settings.sectionAnimation -%}
    {%- assign sectionAnimationRepeat = sectionAnimationRepeat | default: false -%}

    {%- unless sectionHeaderAnimation == false -%}
        {%- assign sectionHeaderAnimation = sectionHeaderAnimation | default: sectionAnimation -%}
    {%- endunless -%}

    {%- unless sectionContentAnimation == false -%}
        {%- assign sectionContentAnimation = sectionContentAnimation | default: sectionAnimation -%}
    {%- endunless -%}
    
{%- endif -%}

{%- unless sectionHeader == false -%}
    {%- assign sectionHeader = true -%}
{%- endunless -%}

{%- if sectionTextAlign == nil -%}

    {%- if section.settings.sectionTextAlign != 'nil' -%}
        {%- assign sectionTextAlign = section.settings.sectionTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionTextAlign = settings.sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionHeaderTextAlign == nil -%}
    
    {%- if section.settings.sectionHeaderTextAlign and section.settings.sectionHeaderTextAlign != 'nil' -%}
        {%- assign sectionHeaderTextAlign = section.settings.sectionHeaderTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionHeaderTextAlign = sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionContentTextAlign == nil -%}

    {%- if section.settings.sectionContentTextAlign and section.settings.sectionContentTextAlign != 'nil' -%}
        {%- assign sectionContentTextAlign = section.settings.sectionContentTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionContentTextAlign = sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionHighlightItems == nil -%}

    {%- if section.settings.sectionHighlightItems != 'nil' -%}
        {%- assign sectionHighlightItems = section.settings.sectionHighlightItems -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionHighlightItems = settings.sectionHighlightItems -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionPaddingTop == nil -%}

    {%- if section.settings.sectionPaddingTop != nil and sectionPaddingMode == 'custom' -%}
        {%- assign sectionPaddingTop = section.settings.sectionPaddingTop | append: 'rem' -%}
    {%- elsif settings.sectionPaddingTop != nil -%}
        {%- assign sectionPaddingTop = settings.sectionPaddingTop -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionPaddingBottom == nil -%}

    {%- if section.settings.sectionPaddingBottom != nil and sectionPaddingMode == 'custom' -%}
        {%- assign sectionPaddingBottom = section.settings.sectionPaddingBottom | append: 'rem' -%}
    {%- elsif settings.sectionPaddingBottom != nil -%}
        {%- assign sectionPaddingBottom = settings.sectionPaddingBottom -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionOverlay -%}
    {%- assign sectionClasses = sectionClasses | append: ' section-overlay' -%}
{%- endif -%}

{%- if sectionHighlightItems -%}
    {%- assign sectionClasses = sectionClasses | append: ' section-highlight-items' -%}
{%- endif -%}

{%- if sectionHandle -%}

    {%- capture sectionStyle -%}
        {{ sectionHandle }} {

            --section-padding-top: {{ sectionPaddingTop }};
            --section-padding-bottom: {{ sectionPaddingBottom }};
            --section-overlay-padding: {{ sectionOverlayPadding }};
            --section-inner-gap: {{ sectionInnerGap }};
            --section-inner-gap-mobile: {{ sectionInnerGap | replace: 'rem', '' | times: 0.5 | append: 'rem' }};
            --section-header-gap-scale: {{ sectionHeaderGapScale }};
            --section-bg-img-pos: {{ sectionBgImgPos | replace: '-', ' ' }};

            {%- if sectionHeaderFontSizeScale -%}
                --section-header-font-size-scale: {{ sectionHeaderFontSizeScale }};
            {%- endif -%}

            {%- if sectionTextAlign -%}
                --section-text-align: {{ sectionTextAlign }};
            {%- endif -%}

            {%- if sectionHeaderTextAlign -%}
                --section-header-text-align: {{ sectionHeaderTextAlign }};
            {%- endif -%}

            {%- if sectionContentTextAlign -%}
                --section-content-text-align: {{ sectionContentTextAlign }};
            {%- endif -%}

            {%- if sectionHeight -%}
                --section-height: {{ sectionHeight }};
            {%- endif -%}

            {%- if sectionMinHeight -%}
                --section-min-height: {{ sectionMinHeight }};
                --section-min-height-mobile: {{ sectionMinHeight | replace: 'vh', '' | times: 0.5 | append: 'vh' }};
            {%- endif -%}

            {%- if sectionContentOverflow -%}
                --section-content-overflow: {{ sectionContentOverflow }};
            {%- endif -%}

            {%- if sectionGutterWidth -%}
                @media screen and (min-width: {{ settings.styleGridBreakpointMd }}) {
                    --style-grid-gutter-width: {{ sectionGutterWidth }};
                }
            {%- endif -%}

            {%- if sectionContainerPaddingX -%}
                --style-grid-container-padding-x: {{ sectionContainerPaddingX }};
            {%- endif -%}

            {%- if sectionHighlightItems -%}
                --section-highlight-item-padding: var(--style-grid-gutter-width);
            {%- endif %}

            {%- if sectionColorScheme -%}

                {%- assign sectionClasses = sectionClasses | append: ' section-has-color-scheme' -%}
                {%- assign style = settings.styles[sectionColorScheme] -%}

                {%- if style -%}

                    {%- assign styleformBgColorBrightness = style.form_bg_color | color_brightness -%}
                    {%- assign styleformBorderColorBrightness = style.form_border_color | color_brightness -%}
                    {%- assign styleTextColorBrightness = style.text_color | color_brightness -%}
                    {%- assign styleTableBgColorBrightness = style.table_bg_color | color_brightness -%}
                    {%- assign styleBgColorBrightness = style.bg_color | color_brightness -%}
                    {%- assign styleBorderColorBrightness = style.border_color | color_brightness -%}
                    {%- assign styleButtonBgColorColorBrightness = style.btn_bg_color | color_brightness -%}
                    {%- assign styleAccentColorBrightness = style.accent_color | color_brightness -%}

                    {%- assign bsBodyBg = style.bg_color -%}
                    {%- assign bsBodyColor = style.text_color | color_min_contrast: bsBodyBg -%}
                    {%- assign bsSecondaryBg = style.bg_color | color_darken: 30 -%}
                    {%- assign bsSecondaryColor = style.text_color | color_modify: 'alpha', 0.75 | color_min_contrast: bsSecondaryBg -%}
                    {%- assign bsTertiaryBg = style.bg_color | color_darken: 10 -%}
                    {%- assign bsTertiaryColor = style.text_color | color_modify: 'alpha', 0.5 | color_min_contrast: bsTertiaryBg -%}
                    {%- assign bsEmphasisColor = style.bg_color | color_min_contrast: style.text_color -%}
                    {%- assign bsLinkColor = style.text_color | color_min_contrast: style.bg_color -%}
                    {%- assign bsLinkHoverColor = style.text_color | color_min_contrast: style.bg_color -%}

                    {%- for data in style -%}
                        {%- assign key = data[0] | handle | replace: '_', '-' -%}
                        {%- assign value = data[1] -%}
                        {%- if value -%}
                            --style-{{ key }}: {{ value }};
                        {%- endif -%}
                    {%- endfor -%}

                    {%- if styleformBgColorBrightness > 190 -%}
                        --style-form-bg-hover-color: {{ style.form_bg_color | color_darken: 5 }};
                        --style-form-bg-disabled-color: {{ style.form_bg_color | color_darken: 10 }};
                    {%- else -%}
                        --style-form-bg-hover-color: {{ style.form_bg_color | color_lighten: 5 }};
                        --style-form-bg-disabled-color: {{ style.form_bg_color | color_lighten: 10 }};
                    {%- endif -%}

                    {%- if styleformBorderColorBrightness > 190 -%}
                        --style-form-border-focus-color: {{ style.form_border_color | color_darken: 10 }};
                        --style-form-border-disabled-color: {{ style.form_border_color | color_darken: 10 }};
                    {%- else -%}
                        --style-form-border-focus-color: {{ style.form_border_color | color_lighten: 10 }};
                        --style-form-border-disabled-color: {{ style.form_border_color | color_lighten: 10 }};
                    {%- endif -%}

                    {%- if styleTextColorBrightness > 190 -%}
                        --style-text-accent-color: {{ style.text_color | color_darken: 10 | color_min_contrast: style.bg_color }};
                        --style-text-muted-color: {{ style.text_color | color_darken: 30 | color_min_contrast: style.bg_color }};
                    {%- else -%}
                        --style-text-accent-color: {{ style.text_color | color_lighten: 10 | color_min_contrast: style.bg_color }};
                        --style-text-muted-color: {{ style.text_color | color_lighten: 30 | color_min_contrast: style.bg_color }};
                    {%- endif -%}

                    {%- if styleTableBgColorBrightness > 190 -%}
                        --style-table-bg-hover-color: {{ style.table_bg_color | color_darken: 4 }};
                    {%- else -%}
                        --style-table-bg-hover-color: {{ style.table_bg_color | color_lighten: 4 }};
                    {%- endif -%}

                    {%- if styleBgColorBrightness > 190 -%}
                        --pswp-bg-color: #000;
                        --swiper-btn-bg-color: {{ style.bg_color }};
                        --swiper-btn-color: {{ style.icon_color }};
                        --swiper-btn-border-color: {{ style.bg_color | color_darken: 30 }};
                        --swiper-pagination-bullet-color: {{ style.bg_color | color_darken: 70 }};
                        --swiper-pagination-bullet-active-color: {{ style.accent_color }};
                        --swiper-pagination-bullet-border-color: {{ style.bg_color | color_darken: 70 }};
                        --style-bg-hover-color: {{ style.bg_color | color_darken: 5 }};
                        --style-bg-accent-color: {{ style.bg_color | color_darken: 10 }};
                        --style-bg-disabled-color: {{ style.bg_color | color_darken: 30 }};
                    {%- else -%}
                        --pswp-bg-color: #fff;
                        --swiper-btn-bg-color: {{ style.bg_color }};
                        --swiper-btn-color: {{ style.icon_color }};
                        --swiper-btn-border-color: {{ style.bg_color | color_lighten: 30 }};
                        --swiper-pagination-bullet-color: {{ style.bg_color | color_lighten: 70 }};
                        --swiper-pagination-bullet-active-color: {{ style.accent_color }};
                        --swiper-pagination-bullet-border-color: {{ style.bg_color | color_lighten: 70 }};
                        --style-bg-hover-color: {{ style.bg_color | color_lighten: 5 }};
                        --style-bg-accent-color: {{ style.bg_color | color_lighten: 10 }};
                        --style-bg-disabled-color: {{ style.bg_color | color_lighten: 30 }};
                    {%- endif -%}

                    {%- if styleBorderColorBrightness > 190 -%}
                        --style-border-accent-color: {{ style.border_color | color_darken: 50 }};
                    {%- else -%}
                        --style-border-accent-color: {{ style.border_color | color_lighten: 50 }};
                    {%- endif -%}

                    {%- if styleButtonBgColorColorBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ style.btn_bg_color | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ style.btn_bg_color | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ style.btn_bg_color | color_darken: 8 }};
                        --style-btn-border-active-color: {{ style.btn_bg_color | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ style.btn_bg_color | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ style.style_btn_bg_color | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ style.btn_bg_color | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ style.btn_bg_color | color_lighten: 13 }};
                    {%- endif -%}

                    {%- if styleAccentColorBrightness > 190 -%}
                        --style-accent-text-color: {{ '#000000' | color_min_contrast: style.accent_color }}
                    {%- else -%}
                        --style-accent-text-color: {{ '#ffffff' | color_min_contrast: style.accent_color }}
                    {%- endif -%}

                    --style-bg-light-color: {{ style.bg_color | color_lighten: 35 }};
                    --style-border-focus-color: {{ style.border_color | color_lighten: 25 }};
                    --style-btn-border-color: {{ style.btn_bg_color }};
                    --style-form-placeholder-color: {{ style.form_text_color | color_lighten: 15 | color_min_contrast: style.form_bg_color }};
                    --style-form-bg-readonly-color: {{ style.form_bg_color | color_lighten: 15 | color_min_contrast: style.form_text_color }};
                    --style-text-darker-color: {{ style.text_color | color_darken: 5 | color_min_contrast: style.bg_color }};
                    --style-accent-faded-color: {{ style.accent_color | color_lighten: 30 | color_min_contrast: style.bg_color }};
                    
                    --style-loader-color: {{ style.icon_color  }};
                    --style-loader-faded-color: {{ style.icon_color | color_modify: 'alpha', 0.1 | color_min_contrast: style.bg_color }};

                    --bs-body-bg: {{ bsBodyBg }};
                    --bs-body-bg-rgb: {{ bsBodyBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-body-color: {{ bsBodyColor }};
                    --bs-body-color-rgb: {{ bsBodyColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-secondary-bg: {{ bsSecondaryBg }};
                    --bs-secondary-bg-rgb: {{ bsSecondaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-secondary-color: {{ bsSecondaryColor }};
                    --bs-secondary-color-rgb: {{ bsSecondaryColor | color_desaturate: 25 | color_min_contrast: bsSecondaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-tertiary-bg: {{ bsTertiaryBg }};
                    --bs-tertiary-bg-rgb: {{ bsTertiaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-tertiary-color: {{ bsTertiaryColor }};
                    --bs-tertiary-color-rgb: {{ bsTertiaryColor | color_desaturate: 50 | color_min_contrast: bsTertiaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-emphasis-color: {{ bsEmphasisColor }};
                    --bs-emphasis-color-rgb: {{ bsEmphasisColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-link-color: {{ bsLinkColor }};
                    --bs-link-color-rgb: {{ bsLinkColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-link-hover-color: {{ bsLinkHoverColor }};
                    --bs-link-hover-color-rgb: {{ bsLinkHoverColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-border-color: var(--style-border-color);
                    --bs-heading-color: var(--style-heading-color);

                {%- else -%}

                    {%- if sectionColorScheme == 'light' -%}

                        {%- assign bgColor = '#ffffff' -%}
                        {%- assign contentColor = '#000000' -%}

                    {%- elsif sectionColorScheme == 'dark' -%}

                        {%- assign bgColor = '#000000' -%}
                        {%- assign contentColor = '#ffffff' -%}

                    {%- elsif sectionColorScheme == 'accent' -%}

                        {%- assign bgColor = settings.style_accent_color -%}
                        {%- assign bgColorBrightness = bgColor | color_brightness -%}

                        {%- if bgColorBrightness > 190 -%}
                            {%- assign contentColor = '#000000' | color_min_contrast: bgColor -%}
                        {%- else -%}
                            {%- assign contentColor = '#ffffff' | color_min_contrast: bgColor -%}
                        {%- endif -%}

                    {%- else -%}

                        {%- assign bgColor = '#ffffff' -%}
                        {%- assign contentColor = '#000000' -%}

                    {%- endif -%}

                    {%- assign styleformBgColorBrightness = bgColor | color_brightness -%}
                    {%- assign styleformBorderColorBrightness = contentColor | color_brightness -%}
                    {%- assign styleTextColorBrightness = contentColor | color_brightness -%}
                    {%- assign styleTableBgColorBrightness = bgColor | color_brightness -%}
                    {%- assign styleBgColorBrightness = bgColor | color_brightness -%}
                    {%- assign styleBorderColorBrightness = contentColor | color_brightness -%}
                    {%- assign styleButtonBgColorColorBrightness = contentColor | color_brightness -%}

                    {%- assign bsBodyBg = bgColor -%}
                    {%- assign bsBodyColor = contentColor | color_min_contrast: bsBodyBg -%}
                    {%- assign bsSecondaryBg =  bgColor | color_darken: 30 -%}
                    {%- assign bsSecondaryColor = contentColor | color_modify: 'alpha', 0.75 | color_min_contrast: bsSecondaryBg -%}
                    {%- assign bsTertiaryBg = bgColor | color_darken: 10 -%}
                    {%- assign bsTertiaryColor = bgColor | color_modify: 'alpha', 0.5 | color_min_contrast: bsTertiaryBg -%}
                    {%- assign bsEmphasisColor = bgColor | color_min_contrast: contentColor -%}
                    {%- assign bsLinkColor = contentColor | color_min_contrast: bgColor -%}
                    {%- assign bsLinkHoverColor = contentColor | color_min_contrast: bgColor -%}

                    {%- if styleBgColorBrightness > 190 -%}
                        --style-secondary-bg-color: {{ bgColor | color_darken: 5 }};
                    {%- else -%}
                        --style-secondary-bg-color: {{ bgColor | color_lighten: 5 }};
                    {%- endif -%}

                    --style-bg-color: {{ bgColor }};
                    --style-border-color: {{ contentColor }};
                    --style-heading-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-subheading-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-overline-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-text-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-link-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-accent-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-icon-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-btn-bg-color: {{ contentColor }};
                    --style-btn-text-color: {{ bgColor | color_min_contrast: contentColor }};
                    --style-product-title-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-price-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-sale-price-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-badge-bg-color: {{ contentColor }};
                    --style-badge-text-color: {{ bgColor | color_min_contrast: contentColor }};
                    --style-new-badge-bg-color: {{ contentColor }};
                    --style-new-badge-text-color: {{ bgColor | color_min_contrast: contentColor }};
                    --style-discount-badge-bg-color: {{ contentColor }};
                    --style-discount-badge-text-color: {{ bgColor | color_min_contrast: contentColor }};
                    --style-review-icon-color: {{ contentColor }};
                    --style-table-bg-color: {{ bgColor }};
                    --style-table-text-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-table-border-color: {{ contentColor }};

                    {%- if styleformBgColorBrightness > 190 -%}
                        --style-form-bg-hover-color: {{ bgColor | color_darken: 5 }};
                        --style-form-bg-disabled-color: {{ bgColor | color_darken: 10 }};
                    {%- else -%}
                        --style-form-bg-hover-color: {{ bgColor | color_lighten: 5 }};
                        --style-form-bg-disabled-color: {{ bgColor | color_lighten: 10 }};
                    {%- endif -%}

                    --style-form-bg-color: {{ contentColor }};
                    --style-form-text-color: {{ bgColor | color_min_contrast: contentColor }};
                    --style-form-placeholder-color: {{ bgColor | color_lighten: 15 | color_min_contrast: contentColor }};
                    --style-form-bg-readonly-color: {{ contentColor | color_lighten: 15 | color_min_contrast: bgColor }};

                    {%- if styleformBorderColorBrightness > 190 -%}
                        --style-form-border-color: {{ contentColor | color_darken: 5 }};
                        --style-form-border-focus-color: {{ contentColor | color_darken: 10 }};
                        --style-form-border-disabled-color: {{ contentColor | color_darken: 10 }};
                    {%- else -%}
                        --style-form-border-color: {{ contentColor | color_lighten: 5 }};
                        --style-form-border-focus-color: {{ contentColor | color_lighten: 10 }};
                        --style-form-border-disabled-color: {{ contentColor | color_lighten: 10 }};
                    {%- endif -%}

                    {%- if styleTextColorBrightness > 190 -%}
                        --style-text-accent-color: {{ contentColor | color_darken: 10 | color_min_contrast: bgColor }};
                        --style-text-muted-color: {{ contentColor | color_darken: 30 | color_min_contrast: bgColor }};
                    {%- else -%}
                        --style-text-accent-color: {{ contentColor | color_lighten: 10 | color_min_contrast: bgColor }};
                        --style-text-muted-color: {{ contentColor | color_lighten: 30 | color_min_contrast: bgColor }};
                    {%- endif -%}

                    {%- if styleTableBgColorBrightness > 190 -%}
                        --style-table-bg-hover-color: {{ bgColor | color_darken: 4 }};
                    {%- else -%}
                        --style-table-bg-hover-color: {{ bgColor | color_lighten: 4 }};
                    {%- endif -%}

                    {%- if styleBgColorBrightness > 190 -%}
                        --pswp-bg-color: {{ contentColor }};
                        --swiper-btn-bg-color: {{ bgColor }};
                        --swiper-btn-color: {{ contentColor }};
                        --swiper-btn-border-color: {{ bgColor | color_darken: 30 }};
                        --swiper-pagination-bullet-color: {{ bgColor | color_darken: 70 }};
                        --swiper-pagination-bullet-active-color: {{ contentColor }};
                        --swiper-pagination-bullet-border-color: {{ bgColor | color_darken: 70 }};
                        --style-bg-hover-color: {{ bgColor | color_darken: 5 }};
                        --style-bg-accent-color: {{ bgColor | color_darken: 10 }};
                        --style-bg-disabled-color: {{ bgColor | color_darken: 30 }};
                    {%- else -%}
                        --pswp-bg-color: {{ contentColor }};
                        --swiper-btn-bg-color: {{ contentColor }};
                        --swiper-btn-color: {{ bgColor }};
                        --swiper-btn-border-color: {{ bgColor | color_lighten: 30 }};
                        --swiper-pagination-bullet-color: {{ bgColor | color_lighten: 70 }};
                        --swiper-pagination-bullet-active-color: {{ contentColor }};
                        --swiper-pagination-bullet-border-color: {{ bgColor | color_lighten: 70 }};
                        --style-bg-hover-color: {{ bgColor | color_lighten: 5 }};
                        --style-bg-accent-color: {{ bgColor | color_lighten: 10 }};
                        --style-bg-disabled-color: {{ bgColor | color_lighten: 30 }};
                    {%- endif -%}

                    {%- if styleBorderColorBrightness > 190 -%}
                        --style-border-accent-color: {{ contentColor | color_darken: 50 }};
                    {%- else -%}
                        --style-border-accent-color: {{ contentColor | color_lighten: 50 }};
                    {%- endif -%}

                    {%- if styleButtonBgColorColorBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ contentColor | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ contentColor | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ contentColor | color_darken: 8 }};
                        --style-btn-border-active-color: {{ contentColor | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ contentColor | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ contentColor | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ contentColor | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ contentColor | color_lighten: 13 }};
                    {%- endif -%}

                    --style-accent-text-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-bg-light-color: {{ bgColor | color_lighten: 35 }};
                    --style-border-focus-color: {{ contentColor | color_lighten: 25 }};
                    --style-btn-border-color: {{ contentColor }};
                    --style-text-darker-color: {{ contentColor | color_darken: 5 | color_min_contrast: bgColor }};
                    --style-accent-faded-color: {{ bgColor | color_lighten: 30 | color_min_contrast: bgColor }};
                    
                    --style-loader-color: {{ contentColor | color_min_contrast: bgColor }};
                    --style-loader-faded-color: {{ contentColor | color_modify: 'alpha', 0.1 | color_min_contrast: bgColor }};

                    --bs-body-bg: {{ bsBodyBg }};
                    --bs-body-bg-rgb: {{ bsBodyBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-body-color: {{ bsBodyColor }};
                    --bs-body-color-rgb: {{ bsBodyColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-secondary-bg: {{ bsSecondaryBg }};
                    --bs-secondary-bg-rgb: {{ bsSecondaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-secondary-color: {{ bsSecondaryColor }};
                    --bs-secondary-color-rgb: {{ bsSecondaryColor | color_desaturate: 25 | color_min_contrast: bsSecondaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-tertiary-bg: {{ bsTertiaryBg }};
                    --bs-tertiary-bg-rgb: {{ bsTertiaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-tertiary-color: {{ bsTertiaryColor }};
                    --bs-tertiary-color-rgb: {{ bsTertiaryColor | color_desaturate: 50 | color_min_contrast: bsTertiaryBg | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-emphasis-color: {{ bsEmphasisColor }};
                    --bs-emphasis-color-rgb: {{ bsEmphasisColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-link-color: {{ bsLinkColor }};
                    --bs-link-color-rgb: {{ bsLinkColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};
                    --bs-link-hover-color: {{ bsLinkHoverColor }};
                    --bs-link-hover-color-rgb: {{ bsLinkHoverColor | color_to_rgb | color_extract: 'rgb' | join: ', ' }};

                    --bs-border-color: var(--style-border-color);
                    --bs-heading-color: var(--style-heading-color);
                {%- endif -%}

            {%- endif -%}
        }
    {%- endcapture -%}

    <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- endif -%}

<div class="section-inner{% if sectionClasses %} {{ sectionClasses | strip }}{% endif %}">

    {%- if sectionHeader -%}

        {%- if sectionTitle or sectionSubtitle or sectionOverline or sectionDescription or sectionBreadcrumbs or sectionAction -%}

            {%- render 'section-header', section: section, sectionTitle: sectionTitle, sectionTitleClass: sectionTitleClass, sectionTitleTag: sectionTitleTag, sectionHeaderSecondaryAction: sectionHeaderSecondaryAction, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag, sectionOverline: sectionOverline, sectionOverlineTag: sectionOverlineTag, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs, sectionHeaderClass: sectionHeaderClass, sectionHeaderContainer: sectionHeaderContainer, sectionAnimation: sectionHeaderAnimation, sectionAnimationRepeat: sectionAnimationRepeat, sectionHandle: sectionHandle, sectionHeaderAction: sectionAction, sectionHeaderTextAlign: sectionHeaderTextAlign -%}

        {%- endif -%}

    {%- endif -%}

    {%- if sectionContent -%}

        {%- render 'section-content', section: section, sectionTitle: sectionTitle, sectionHeaderSecondaryAction: sectionHeaderSecondaryAction, sectionSubtitle: sectionSubtitle, sectionOverline: sectionOverline, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs, sectionContent: sectionContent, sectionContentWidth: sectionContentWidth, sectionContentAlign: sectionContentAlign, sectionContentClass: sectionContentClass, sectionContentContainer: sectionContentContainer, sectionHandle: sectionHandle, sectionAnimation: sectionContentAnimation, sectionAnimationRepeat: sectionAnimationRepeat, sectionTabs: sectionTabs, sectionHeaderTextAlign: sectionHeaderTextAlign, sectionHeaderAnimation: sectionHeaderAnimation, sectionAction: sectionAction -%}

    {%- endif -%}

    {%- if sectionCustomContent -%}

        {{- sectionCustomContent -}}

    {%- endif -%}

    {%- render 'section-bg' sectionBgImg: sectionBgImg, sectionBgImgDimming: sectionBgImgDimming, sectionBgImgBlur: sectionBgImgBlur -%}

</div>