{% comment %}
    Renders a section

    Accepts:
    - section: {Object} Section Liquid object
    - sectionContainer: {String} 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionTitle: {String}
    - sectionTitleClass: {String}
    - sectionTitleTag {String}
    - sectionSubtitle: {String}
    - sectionSubtitleTag {String}
    - sectionOverline: {String}
    - sectionOverlineTag {String}
    - sectionHeight {String}
    - sectionHeightMobile {String}
    - sectionMinHeight {String}
    - sectionMinHeightMobile {String}
    - sectionPaddingMode {String}
    - sectionPaddingTop {String}
    - sectionPaddingBottom {String}
    - sectionInnerGap {String}
    - sectionGutterWidth {String}
    - sectionDescription: {String}
    - sectionDescriptionTruncate: {Boolean}
    - sectionBreadcrumbs: {Object} Breadcrumbs Liquid object
    - sectionHeader {Boolean}
    - sectionHeaderTextAlign {String} 'nil', 'start', 'center', 'end'
    - sectionHeaderClass {String}
    - sectionHeaderContainer: {String} 'nil', 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionHeaderSecondaryAction: {String}
    - sectionHeaderAnimation: {Boolean}
    - sectionHeaderGapScale: {Float}
    - sectionHeaderFontSizeScale: {Float}
    - sectionTabs {String}
    - sectionBgContainer: {String} 'nil', 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionBgImg: {String}
    - sectionBgImgPos: {String}
    - sectionBgImgDimming: {String}
    - sectionBgImgBlur: {String}
    - sectionColorScheme: {String}
    - sectionOverlay: {Boolean}
    - sectionOverflow: {String}
    - sectionContent: {String}
    - sectionContentTextAlign: {String} 'nil', 'start', 'center', 'end'
    - sectionCustomContent: {String}
    - sectionContentClass {String}
    - sectionContentOverflow: {String}
    - sectionContentContainer: {String} 'nil', 'none', 'fixed', 'fluid', 'fair', 'compact', 'tiny'
    - sectionContentAnimation: {Boolean}
    - sectionTextAlign: {String} 'nil', 'start', 'center', 'end'
    - sectionAnimation {String}
    - sectionAnimationRepeat {Boolean}
    - sectionAction {String}
    - sectionHighlightItems {Boolean}
    - sectionAdditionalTitles {Boolean}
    - sectionAdditionalText {Boolean}

    Usage:
    {% render 'section', section: section %}
{% endcomment %}

{%- assign section = section -%}
{%- assign sectionContainer = sectionContainer | default: section.settings.sectionContainer | default: 'fixed' -%}
{%- assign sectionHeight = sectionHeight | default: section.settings.sectionHeight -%}
{%- assign sectionInnerGap = sectionInnerGap | default: section.settings.sectionInnerGap | default: settings.sectionInnerGap -%}
{%- assign sectionGutterWidth = sectionGutterWidth | default: section.settings.sectionGutterWidth -%}
{%- assign sectionContent = sectionContent | default: nil -%}
{%- assign sectionCustomContent = sectionCustomContent | default: nil -%}
{%- assign sectionContentWidth = section.settings.sectionContentWidth | default: '12' -%}
{%- assign sectionContentAlign = section.settings.sectionContentAlign | default: 'center' -%}
{%- assign sectionContentContainer = sectionContentContainer | default: sectionContainer -%}
{%- assign sectionContentOverflow = sectionContentOverflow | default: section.settings.sectionContentOverflow | default: nil -%}
{%- assign sectionBgImgPos = sectionBgImgPos | default: section.settings.sectionBgImgPos | default: settings.sectionBgImgPos -%}
{%- assign sectionBgImgDimming = sectionBgImgDimming | default: section.settings.sectionBgImgDimming | default: '0' -%}
{%- assign sectionBgImgBlur = sectionBgImgBlur | default: section.settings.sectionBgImgBlur | default: '0' -%}
{%- assign sectionBgImg = sectionBgImg | default: section.settings.sectionBgImg -%}
{%- assign sectionBgImgContainer = sectionBgImgContainer | default: nil -%}
{%- assign sectionColorScheme = sectionColorScheme | default: section.settings.sectionColorScheme -%}
{%- assign sectionTitle = sectionTitle | default: section.settings.sectionTitle -%}
{%- assign sectionTitleClass = sectionTitleClass | default: section.settings.sectionTitleClass -%}
{%- assign sectionTitleTag = sectionTitleTag | default: section.settings.sectionTitleTag -%}
{%- assign sectionSubtitle = sectionSubtitle | default: section.settings.sectionSubtitle -%}
{%- assign sectionSubtitleTag = sectionSubtitleTag | default: section.settings.sectionSubtitleTag -%}
{%- assign sectionOverline = sectionOverline | default: section.settings.sectionOverline -%}
{%- assign sectionOverlineTag = sectionOverlineTag | default: section.settings.sectionOverlineTag -%}
{%- assign sectionDescription = sectionDescription | default: section.settings.sectionDescription -%}
{%- assign sectionDescriptionTruncate = sectionDescriptionTruncate | default: section.settings.sectionDescriptionTruncate -%}
{%- assign sectionBreadcrumbs = sectionBreadcrumbs | default: nil -%}
{%- assign sectionAction = sectionAction | strip -%}
{%- assign sectionHeaderContainer = sectionHeaderContainer | default: sectionContainer -%}
{%- assign sectionHeaderSecondaryAction = sectionHeaderSecondaryAction | default: nil -%}
{%- assign sectionHeaderGapScale = sectionHeaderGapScale | default: settings.sectionHeaderGapScale -%}
{%- assign sectionOverlay = sectionOverlay | default: section.settings.sectionOverlay | default: false -%}
{%- assign sectionOverlayPadding = sectionOverlayPadding | default: section.settings.sectionOverlayPadding | default: settings.sectionOverlayPadding -%}
{%- assign sectionPaddingMode = sectionPaddingMode | default: section.settings.sectionPaddingMode -%}
{%- assign sectionAdditionalTitles = sectionAdditionalTitles | default: section.settings.sectionAdditionalTitles | default: false -%}
{%- assign sectionAdditionalText = sectionAdditionalText | default: section.settings.sectionAdditionalText -%}

{%- if sectionContainer == 'nil' -%}
    {%- assign sectionContainer = 'fixed' -%}
{%- endif -%}

{%- unless sectionAdditionalTitles -%}
    {%- assign sectionOverline = false -%}
{%- endunless -%}

{%- if sectionAdditionalText == false -%}
    {%- assign sectionDescription = false -%}
{%- endif -%}

{%- if sectionHandle == nil and section.id -%}
    {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}
{%- endif -%}

{%- if sectionAnimation == false -%}

    {%- assign sectionHeaderAnimation = false -%}
    {%- assign sectionContentAnimation = false -%}
    {%- assign sectionAnimationRepeat = false -%}

{%- else -%}

    {%- assign sectionAnimation = sectionAnimation | default: settings.sectionAnimation -%}
    {%- assign sectionAnimationRepeat = sectionAnimationRepeat | default: false -%}

    {%- unless sectionHeaderAnimation == false -%}
        {%- assign sectionHeaderAnimation = sectionHeaderAnimation | default: sectionAnimation -%}
    {%- endunless -%}

    {%- unless sectionContentAnimation == false -%}
        {%- assign sectionContentAnimation = sectionContentAnimation | default: sectionAnimation -%}
    {%- endunless -%}
    
{%- endif -%}

{%- unless sectionHeader == false -%}
    {%- assign sectionHeader = true -%}
{%- endunless -%}

{%- if sectionTextAlign == nil -%}

    {%- if section.settings.sectionTextAlign != 'nil' -%}
        {%- assign sectionTextAlign = section.settings.sectionTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionTextAlign = settings.sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionHeaderTextAlign == nil -%}
    
    {%- if section.settings.sectionHeaderTextAlign and section.settings.sectionHeaderTextAlign != 'nil' -%}
        {%- assign sectionHeaderTextAlign = section.settings.sectionHeaderTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionHeaderTextAlign = sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionContentTextAlign == nil -%}

    {%- if section.settings.sectionContentTextAlign and section.settings.sectionContentTextAlign != 'nil' -%}
        {%- assign sectionContentTextAlign = section.settings.sectionContentTextAlign -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionContentTextAlign = sectionTextAlign -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionHighlightItems == nil -%}

    {%- if section.settings.sectionHighlightItems != 'nil' -%}
        {%- assign sectionHighlightItems = section.settings.sectionHighlightItems -%}
    {%- elsif section.id != 'footer' and section.id != 'header' -%}
        {%- assign sectionHighlightItems = settings.sectionHighlightItems -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionPaddingTop == nil -%}

    {%- if section.settings.sectionPaddingTop != nil and sectionPaddingMode == 'custom' -%}
        {%- assign sectionPaddingTop = section.settings.sectionPaddingTop | append: 'rem' -%}
    {%- elsif settings.sectionPaddingTop != nil -%}
        {%- assign sectionPaddingTop = settings.sectionPaddingTop -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionPaddingBottom == nil -%}

    {%- if section.settings.sectionPaddingBottom != nil and sectionPaddingMode == 'custom' -%}
        {%- assign sectionPaddingBottom = section.settings.sectionPaddingBottom | append: 'rem' -%}
    {%- elsif settings.sectionPaddingBottom != nil -%}
        {%- assign sectionPaddingBottom = settings.sectionPaddingBottom -%}
    {%- endif -%}

{%- endif -%}

{%- if sectionOverlay -%}
    {%- assign sectionClasses = sectionClasses | append: ' section-overlay' -%}
{%- endif -%}

{%- if sectionHighlightItems -%}
    {%- assign sectionClasses = sectionClasses | append: ' section-highlight-items' -%}
{%- endif -%}

{%- if sectionHeight and sectionHeightMobile == false -%}
    {%- assign sectionHeightMobile = sectionHeight -%}
{%- endif -%}

{%- if sectionMinHeight and sectionMinHeightMobile == false -%}
    {%- assign sectionMinHeightMobile = sectionMinHeight | replace: 'vh', '' | times: 0.5 | append: 'vh' -%}
{%- endif -%}

{%- if sectionHandle -%}

    {%- capture sectionStyle -%}
        {{ sectionHandle }} {

            --section-padding-top: {{ sectionPaddingTop }};
            --section-padding-bottom: {{ sectionPaddingBottom }};
            --section-overlay-padding: {{ sectionOverlayPadding }};
            --section-inner-gap: {{ sectionInnerGap }};
            --section-inner-gap-mobile: {{ sectionInnerGap | replace: 'rem', '' | times: 0.5 | append: 'rem' }};
            --section-header-gap-scale: {{ sectionHeaderGapScale }};
            --section-bg-img-pos: {{ sectionBgImgPos | replace: '-', ' ' }};

            {%- if sectionHeaderFontSizeScale -%}
                --section-header-font-size-scale: {{ sectionHeaderFontSizeScale }};
            {%- endif -%}

            {%- if sectionTextAlign -%}
                --section-text-align: {{ sectionTextAlign }};
            {%- endif -%}

            {%- if sectionHeaderTextAlign -%}
                --section-header-text-align: {{ sectionHeaderTextAlign }};
            {%- endif -%}

            {%- if sectionContentTextAlign -%}
                --section-content-text-align: {{ sectionContentTextAlign }};
            {%- endif -%}

            {%- if sectionHeight -%}
                --section-height: {{ sectionHeight }};
                --section-height-mobile: {{ sectionHeightMobile }};
            {%- endif -%}

            {%- if sectionMinHeight -%}
                --section-min-height: {{ sectionMinHeight }};
                --section-min-height-mobile: {{ sectionMinHeightMobile }};
            {%- endif -%}

            {%- if sectionOverflow -%}
                --section-overflow: {{ sectionOverflow }};
            {%- endif -%}

            {%- if sectionContentOverflow -%}
                --section-content-overflow: {{ sectionContentOverflow }};
            {%- endif -%}

            {%- if sectionGutterWidth -%}
                @media screen and (min-width: {{ settings.styleGridBreakpointMd }}) {
                    --style-grid-gutter-width: {{ sectionGutterWidth }};
                }
            {%- endif -%}

            {%- if sectionContainerPaddingX -%}
                --style-grid-container-padding-x: {{ sectionContainerPaddingX }};
            {%- endif -%}

            {%- if sectionContainerPaddingY -%}
                --style-grid-container-padding-y: {{ sectionContainerPaddingY }};
            {%- endif -%}

            {%- if sectionHighlightItems -%}
                --section-highlight-item-padding: var(--style-grid-gutter-width);
            {%- endif %}

            {%- if sectionColorScheme -%}
                {%- assign sectionClasses = sectionClasses | append: ' section-has-color-scheme' -%}
                {%- render 'section-color-scheme' section: section -%}
            {%- endif -%}
        }
        {%- if sectionBgImgBlur != '0' -%}
            {{ sectionHandle }} .section-bg {
                filter: blur({{ sectionBgImgBlur }}px);
            }
        {%- endif -%}
         {%- if sectionBgContainer -%}
            {{ sectionHandle }} .section-bg {
				top: calc(var(--section-padding-top) / 2);
				right: calc(var(--bs-gutter-x));
				bottom: calc(var(--section-padding-bottom) / 2);
				left: calc(var(--bs-gutter-x));
			}
			@media screen and (min-width: {{ settings.styleGridBreakpointMd }}) {
				{{ sectionHandle }} .section-bg {
					top: var(--section-padding-top);
					bottom: var(--section-padding-bottom);
				}
			}
        {%- endif -%}
    {%- endcapture -%}

    <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- endif -%}

<div class="section-inner{% if sectionClasses %} {{ sectionClasses | strip }}{% endif %}">

    {%- render 'section-bg' sectionBgImg: sectionBgImg, sectionBgImgDimming: sectionBgImgDimming, sectionBgImgBlur: sectionBgImgBlur, sectionBgContainer: sectionBgContainer -%}

    {%- if sectionHeader -%}

        {%- if sectionTitle or sectionSubtitle or sectionOverline or sectionDescription or sectionBreadcrumbs or sectionAction -%}

            {%- render 'section-header', section: section, sectionTitle: sectionTitle, sectionTitleClass: sectionTitleClass, sectionTitleTag: sectionTitleTag, sectionHeaderSecondaryAction: sectionHeaderSecondaryAction, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag, sectionOverline: sectionOverline, sectionOverlineTag: sectionOverlineTag, sectionDescription: sectionDescription, sectionDescriptionTruncate: sectionDescriptionTruncate, sectionBreadcrumbs: sectionBreadcrumbs, sectionHeaderClass: sectionHeaderClass, sectionHeaderContainer: sectionHeaderContainer, sectionAnimation: sectionHeaderAnimation, sectionAnimationRepeat: sectionAnimationRepeat, sectionHandle: sectionHandle, sectionHeaderAction: sectionAction, sectionHeaderTextAlign: sectionHeaderTextAlign -%}

        {%- endif -%}

    {%- endif -%}

    {%- if sectionContent -%}

        {%- render 'section-content', section: section, sectionTitle: sectionTitle, sectionHeaderSecondaryAction: sectionHeaderSecondaryAction, sectionSubtitle: sectionSubtitle, sectionOverline: sectionOverline, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs, sectionContent: sectionContent, sectionContentWidth: sectionContentWidth, sectionContentAlign: sectionContentAlign, sectionContentClass: sectionContentClass, sectionContentContainer: sectionContentContainer, sectionHandle: sectionHandle, sectionAnimation: sectionContentAnimation, sectionAnimationRepeat: sectionAnimationRepeat, sectionTabs: sectionTabs, sectionHeaderTextAlign: sectionHeaderTextAlign, sectionHeaderAnimation: sectionHeaderAnimation, sectionAction: sectionAction -%}

    {%- endif -%}

    {%- if sectionCustomContent -%}

        {{- sectionCustomContent -}}

    {%- endif -%}

</div>