{%- assign btnLabel =  block.settings.btnLink.text | default: 'placeholder.label' | t -%}

{%- capture blockStyle -%}
    #finqu-block-{{ block.id }} .block-inner {
        display: flex;
        justify-content: {%- if block.settings.contentAlign == 'nil' -%}var(--section-text-align){%- else -%}{{ block.settings.contentAlign }}{%- endif -%};
    }
    {%- if block.settings.blockPaddingMode == 'custom' -%}
        #finqu-block-{{ block.id }} {
            --block-padding-top: {{ block.settings.blockPaddingTop }}rem;
            --block-padding-bottom: {{ block.settings.blockPaddingBottom }}rem;
        }
    {%- endif -%}
{%- endcapture -%}

<style>{{ blockStyle | strip | replace: '  ', '' | strip_newlines }}</style>

<div class="block-inner">

    {%- render 'section-quick-link', style: block.settings.btnStyle, text: btnLabel, url: block.settings.btnLink.url, target: block.settings.btnLink.target -%}

</div>

{% schema %}
{
    "name": {
        "en": "Button",
        "fi": "Nappi"
    },
    "tag": "div",
    "class": "block block-button",
    "category": "basic",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "btnLink",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_target": true,
                        "include_text": true
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "id": "btnStyle",
                        "type": "select",
                        "label": {
                            "en": "Button style",
                            "fi": "Painikkeen tyyli"
                        },
                        "default": "nil",
                        "options": [
                            {
                                "value": "nil",
                                "label": "Auto"
                            },
                            {
                                "value": "primary",
                                "label": {
                                    "en": "Fill",
                                    "fi": "Täytetty"
                                }
                            },
                            {
                                "value": "secondary",
                                "label": {
                                    "en": "Outline",
                                    "fi": "Ääriviivat"
                                }
                            },
                            {
                                "value": "link",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            },
                            {
                                "value": "link-with-icon",
                                "label": {
                                    "en": "Text with icon",
                                    "fi": "Teksti kuvakkeella"
                                }
                            }
                        ]
                    },
                    {
                        "id": "blockPaddingMode",
                        "type": "radio-pill",
                        "label": {
                            "en": "Padding",
                            "fi": "Välit"
                        },
                        "default": "auto",
                        "options": [
                            {
                                "value": "auto",
                                "label": "Auto"
                            },
                            {
                                "value": "custom",
                                "label": {
                                    "en": "Custom",
                                    "fi": "Mukautettu"
                                }
                            }
                        ]
                    },
                    {
                        "id": "blockPaddingTop",
                        "label": {
                            "en": "Padding top",
                            "fi": "Väli ylhäällä"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["blockPaddingMode eq custom"]
                    },
                    {
                        "id": "blockPaddingBottom",
                        "label": {
                            "en": "Padding bottom",
                            "fi": "Väli alhaalla"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["blockPaddingMode eq custom"]
                    },
                    {
                        "id": "contentAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Content alignment",
                            "fi": "Sisällön ryhmittyminen"
                        },
                        "default": "nil",
                        "options": [
                            {
                                "value": "nil",
                                "label": "Auto"
                            },
                            {
                                "value": "start",
                                "label": "{# icon.align-start #}"
                            },
                            {
                                "value": "center",
                                "label": "{# icon.align-center #}"
                            },
                            {
                                "value": "end",
                                "label": "{# icon.align-end #}"
                            }
                        ]
                    }
                ]
            }
        ]
    }
}
{% endschema %}