{%- capture blockStyle -%}
    #finqu-block-{{ block.id }} .block-inner {
        display: flex;
        justify-content: {%- if block.settings.contentAlign == 'nil' -%}var(--section-text-align){%- else -%}{{ block.settings.contentAlign }}{%- endif -%};
    }
    #finqu-block-{{ block.id }} .block-inner .social-media-buttons-container {
        width: fit-content;
    }
    {%- if block.settings.blockPaddingMode == 'custom' -%}
        #finqu-block-{{ block.id }} {
            --block-padding-top: {{ block.settings.blockPaddingTop }}rem;
            --block-padding-bottom: {{ block.settings.blockPaddingBottom }}rem;
        }
    {%- endif -%}
{%- endcapture -%}

<style>{{ blockStyle | strip | replace: '  ', '' | strip_newlines }}</style>

<div class="block-inner">

    {% render 'social-media-buttons' %}

</div>

{% schema %}
{
    "name": {
        "en": "Social media buttons",
        "fi": "Sosiaalisen median kuvakkeet"
    },
    "tag": "div",
    "class": "block block-social-media-buttons",
    "category": "basic",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "id": "contentAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Alignment",
                            "fi": "Ryhmittyminen"
                        },
                        "default": "nil",
                        "options": [
                            {
                                "value": "nil",
                                "label": "Auto"
                            },
                            {
                                "value": "start",
                                "label": "{# icon.align-start #}"
                            },
                            {
                                "value": "center",
                                "label": "{# icon.align-center #}"
                            },
                            {
                                "value": "end",
                                "label": "{# icon.align-end #}"
                            }
                        ]
                    },
                    {
                        "id": "blockPaddingMode",
                        "type": "radio-pill",
                        "label": {
                            "en": "Padding",
                            "fi": "Välit"
                        },
                        "default": "auto",
                        "options": [
                            {
                                "value": "auto",
                                "label": "Auto"
                            },
                            {
                                "value": "custom",
                                "label": {
                                    "en": "Custom",
                                    "fi": "Mukautettu"
                                }
                            }
                        ]
                    },
                    {
                        "id": "blockPaddingTop",
                        "label": {
                            "en": "Padding top",
                            "fi": "Väli ylhäällä"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["blockPaddingMode eq custom"]
                    },
                    {
                        "id": "blockPaddingBottom",
                        "label": {
                            "en": "Padding bottom",
                            "fi": "Väli alhaalla"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "default": "0",
                        "unit": "rem",
                        "conditions": ["blockPaddingMode eq custom"]
                    }
                ]
            }
        ]
    }
}
{% endschema %}