{%- assign sectionTitle = 'password_recover.title' | t -%}

{%- capture sectionContent -%}

    {% form 'recover_customer_password' %}

        {% if form.posted_successfully? %}

            <p class="mb-5">
                {{- 'password_recover.success' | t -}}
            </p>

            <a href="{{ routes.account_login_url }}" class="btn btn-primary d-block w-100">
                {{- 'password_recover.login' | t -}}
            </a>

        {% else %}

            <p class="mb-5">
                {{- 'password_recover.description' | t -}}
            </p>

            <div class="mb-4 form-floating">

                <input type="email" class="form-control" id="recover-password-email" name="email" placeholder="{{ 'account.information.email' | t }}" value="{{ form.submitted.email | escape }}" required>

                <label for="recover-password-email">
                    {{- 'account.information.email' | t -}}
                </label>

            </div>

            {% render 'form-error', error: form.error, class: 'mb-4' %}

            <button type="submit" class="btn btn-primary d-block w-100">
                {{- 'password_recover.cta' | t -}}
            </button>

        {% endif %}

    {% endform %}

{%- endcapture -%}

<section class="section section-recover-password">
    {% render 'section', sectionHandle: '.section-recover-password', sectionTitle: sectionTitle, sectionTitleTag: 'h2', sectionContent: sectionContent, sectionContainer: 'tiny', sectionOverlay: settings.sectionOverlay, sectionInnerGap: '2rem' %}
</section>