{%- assign sectionTitle = 'password_reset.title' | t -%}

{%- capture sectionContent -%}

    {% form 'reset_customer_password' %}

        {% if form.posted_successfully? %}

            <p class="mb-5">
                {{- 'password_reset.success' | t -}}
            </p>

            <a href="{{ routes.account_login_url }}" class="btn btn-primary d-block w-100">
                {{- 'password_reset.login' | t -}}
            </a>

        {% else %}

        	<input type="hidden" name="key" value="{{ form.key }}">
            <input type="hidden" name="email" value="{{ form.email }}">

            <div class="mb-4 form-floating">

	           <input type="password" pattern=".{8,}" class="form-control" name="password" id="account-reset-password" placeholder="{{ 'account.information.new_password' | t }}" value="{{ form.submitted.password | escape }}" required title="8 {{ 'min_length' | t }}">

	           <label for="account-reset-password">
	                {{- 'account.information.new_password' | t -}}
	            </label>

	        </div>

	        <div class="mb-4 form-floating">

	           <input type="password" pattern=".{8,}" class="form-control" name="confirm_password" id="account-reset-password-confirm" placeholder="{{ 'account.information.confirm_new_password' | t }}" value="{{ form.submitted.password_confirm | escape }}" required title="8 {{ 'min_length' | t }}">

	           <label for="account-reset-password-confirm">
	                {{- 'account.information.confirm_new_password' | t -}}
	            </label>

	        </div>

            {% render 'form-error', error: form.error, class: 'mb-4' %}

            <button type="submit" class="btn btn-primary d-block w-100">
                {{- 'password_reset.cta' | t -}}
            </button>

        {% endif %}

    {% endform %}

{%- endcapture -%}

<section class="section section-reset-password">
    {% render 'section', sectionHandle: '.section-reset-password', sectionTitle: sectionTitle, sectionContent: sectionContent, sectionContainer: 'tiny', sectionOverlay: settings.sectionOverlay, sectionInnerGap: '2rem' %}
</section>