<!DOCTYPE html>

<html lang="{{ request.locale.iso_code }}">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no, date=no, email=no, address=no">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
		<link rel="preload" href="{{ 'main.css' | asset_url }}" as="style">

		{%- for item in store.theme.cache_manifest -%}
			{%- if item.name contains '.js' -%}
				<link rel="preload" href="{{ item.resource | asset_url }}" as="script">
			{%- endif -%}
		{%- endfor -%}

		{%- capture fontsStr -%}
			{{- settings.bodyTextFont -}},{{- settings.headingFont -}},{{- settings.subheadingFont -}},{{- settings.accentFont -}},{{- settings.buttonFont -}},{{- settings.navigationFont -}}
		{%- endcapture -%}
		
		{%- assign fonts = fontsStr | replace: ' ', '+' | split: ',' | uniq -%}
		{%- assign fontFamilies = '' -%}
		
		{%- for font in fonts -%}
			{%- capture fontFamily -%}family={{- font -}}:ital,wght@0,400;0,500;0,700;1,400{% unless forloop.last %}&{% endunless %}{%- endcapture -%}
			{%- assign fontFamilies = fontFamilies | append: fontFamily -%}
		{%- endfor -%}

		<link rel="preload" href="https://fonts.googleapis.com/css2?{{- fontFamilies -}}&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" type="text/css" media="all">

		{%- if settings.accessibilityShowWishlist == false and request.page_type == 'customers/wishlist' -%}
			{%- assign show404PageTitle = true -%}
		{%- endif -%}

		{%- assign pageType = show404PageTitle | yepnope: '404', request.page_type | handle | replace: '-', '_' -%}
		{%- capture systemPageTitleTranslationKey -%}system.pages.{{- pageType -}}{%- endcapture -%}
		{%- assign pageTitle = systemPageTitleTranslationKey | t:default:page_title | escape -%}
		{%- capture seoTitle -%}{{- pageTitle -}}{%- unless pageTitle contains store.name %} &ndash; {{ store.name }}{% endunless -%}{%- endcapture -%}

		<title>{{ seoTitle | strip_newlines }}</title>

		{%- if store.favicon -%}

			{%- assign isIcon = store.favicon | is_ico -%}

			{%- if isIcon -%}

				<link rel="shortcut icon" href="{{ store.favicon }}" sizes="16x16 32x32 57x57 72x72 114x114 120x120 144x144 152x152" type="image/x-icon">

			{%- else -%}

				<link rel="icon" type="image/png" href="{{ store.favicon }}">
				<link rel="apple-touch-icon-precomposed" href="{{ store.favicon }}">

			{%- endif -%}

		{%- endif -%}

		{%- render 'store-settings' -%}

		{%- for item in store.theme.cache_manifest -%}
			{%- if item.name == 'main.js' -%}
				<script defer="defer" src="{{ item.resource | asset_url }}"></script>
			{%- elsif item.name contains '.js' -%}
				<script async="async" src="{{ item.resource | asset_url }}"></script>
			{%- endif -%}
		{%- endfor -%}

		{{- content_for_header -}}

	</head>

	{%- capture bodyClasses -%}
		{%- if request.design_mode -%}design-mode-{{ request.design_mode }},{%- endif -%}
		{%- if store.customer_accounts_enabled -%}customer-accounts-enabled,{%- endif -%}
		{%- if settings.accessibilityShowAnimations and request.design_mode != 'edit' -%}animations-enabled,{%- endif -%}
		{{- 'template-' | append: request.page_type | handle | append: ',' -}}
	{%- endcapture -%}

	<body class="{{ bodyClasses | strip_newlines | split: ',' | compact | join: ' ' }}">

		{{- content_for_layout -}}

		{% render 'cookie-policy' %}

		{%- if settings.schemaOrganization -%}
			{% render 'schemas/organization' %}
		{%- endif -%}

		{%- if settings.schemaWebsite -%}
			{% render 'schemas/website' %}
		{%- endif -%}

	</body>

</html>