{%- if section.settings.announcementVisibility == 'frontpage' and request.page_type == 'frontpage' and section.settings.announcementStatus -%}
    {%- assign announcementIsVisible = true -%}
{% elsif section.settings.announcementVisibility == 'all' and section.settings.announcementStatus %}
    {%- assign announcementIsVisible = true -%}
{%- else -%}
    {%- assign announcementIsVisible = false -%}
{%- endif -%}

{%- capture sectionStyle -%}
    #finqu-section-{{ section.id }} {
        --style-announcement-align: {%- if section.settings.announcementTextAlign == 'nil' -%}{{ settings.sectionTextAlign }}{%- else -%}{{ section.settings.announcementTextAlign }}{%- endif -%};
    }
{%- endcapture -%}

<style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{% if announcementIsVisible or request.design_mode == 'edit' -%}

    {%- capture slides -%}

        {%- for item in section.settings.setting_blocks.items -%}

            <div class="swiper-slide">

                <div class="swiper-slide-inner container{% if item.settings.announcementLink.text | size > 50 %} has-long-text{% endif %}">

                    {% if item.settings.announcementLink.url %}

                        <a
                            href="{{- item.settings.announcementLink.url -}}"
                            class="site-announcement-text"
                            target="{{- item.settings.announcementLink.target -}}">

                            {{ item.settings.announcementLink.text }}

                        </a>

                    {% else %}

                        <span class="site-announcement-text">

                            {{ item.settings.announcementLink.text }}

                        </span>

                    {% endif %}

                </div>

            </div>

        {%- endfor -%}

    {%- endcapture -%}

    {%- if section.settings.setting_blocks.items.size > 1 -%}
        {%- assign autoplaySpeed = section.settings.carouselAutoplaySpeed -%}
    {%- else -%}
        {%- assign autoplaySpeed = 0 -%}
    {%- endif -%}

    <div class="site-announcement-container">

        <div class="site-announcement">

            {%- render 'swiper', slides: slides, slidesPerView: 1, style: 1, evenHeightSlides: true, standalone: true, class: 'w-100', noSwiping: true, autoplaySpeed: autoplaySpeed, loop: true, speed: 700, slidesGap: '0' -%}

        </div>

    </div>

{% endif %}

{% schema %}
{
    "name": {
        "en": "Announcement",
        "fi": "Ilmoitus"
    },
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-announcement",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a announcement",
                    "fi": "Lisää ilmoitus"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "text",
                        "title": {
                            "en": "Announcement",
                            "fi": "ilmoitus"
                        },
                        "settings": [
                            {
                                "id": "announcementLink",
                                "type": "url",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                },
                                "include_target": true,
                                "include_text": true
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "id": "announcementStatus",
                        "type": "radio-pill",
                        "label": {
                            "en": "Show announcement",
                            "fi": "Näytä ilmoitus"
                        },
                        "default": true,
                        "options": [
                            {
                                "value": false,
                                "label": "Off"
                            },
                            {
                                "value": true,
                                "label": "On"
                            }
                        ]
                    },
                    {
                        "id": "announcementTextAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Content align",
                            "fi": "Sisällön tasaus"
                        },
                        "default": "nil",
                        "options": [
                            {
                                "value": "nil",
                                "label": "Auto"
                            },
                            {
                                "value": "start",
                                "label": "{# icon.align-start #}"
                            },
                            {
                                "value": "center",
                                "label": "{# icon.align-center #}"
                            },
                            {
                                "value": "end",
                                "label": "{# icon.align-end #}"
                            }
                        ],
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementVisibility",
                        "type": "radio-pill",
                        "label": {
                            "en": "Visibility",
                            "fi": "Näkyvyys"
                        },
                        "default": "all",
                        "options": [
                            {
                                "value": "all",
                                "label": {
                                    "en": "On all pages",
                                    "fi": "Kaikilla sivuilla"
                                }
                            },
                            {
                                "value": "frontpage",
                                "label": {
                                    "en": "On frontpage",
                                    "fi": "Etusivulla"
                                }
                            }
                        ],
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "carouselAutoplaySpeed",
                        "label": {
                            "en": "Autoplay",
                            "fi": "Automaattinen toisto"
                        },
                        "type": "radio-pill",
                        "default": 3,
                        "options": [
                            {
                                "value": 3,
                                "label": "3 s"
                            },
                            {
                                "value": 5,
                                "label": "5 s"
                            },
                            {
                                "value": 10,
                                "label": "10 s"
                            }
                        ],
                        "conditions": ["announcementStatus eq true"]
                    }
                ]
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "setting_blocks": {
                    "items": [
                        {
                            "type": "text",
                            "settings": {
                                "announcementLink": {
                                    "text": "Tell your customers about upcoming events and offers."
                                }
                            }
                        }
                    ]
                }
            }
        }
    ]
}
{% endschema %}