{%- assign activeSortOption = category.sort_by | default: category.default_sort_by -%}
{%- assign animatedItemsCount = settings.productPerRow | times: 2 -%}
{%- assign sidebarMenu = linklists[section.settings.sidebarMenu] -%}

{%- if sidebarMenu and settings.productPerRow > 3 -%}
    {%- assign productPerRow = settings.productPerRow | minus: 1 -%}
{%- else -%}
    {%- assign productPerRow = settings.productPerRow -%}
{%- endif -%}

{% if category.products.size == 0 and request.design_mode == 'edit' %}
    {%- assign itemCount = productPerRow | times: 3 -%}
{% else %}
    {%- assign itemCount = category.products.size -%}
{% endif %}

{%- capture categoryContentPlaceholder -%}

    {%- if rendered_partial != 'sections/category-template' %}

        {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

        <div data-aos="animation-fadeIn" data-aos-anchor="#finqu-section-{{ section.id }}">

            {% render 'category-carousel', items: category.categories, carouselNavigation: 'on', sectionHandle: sectionHandle, categoryPerView: 8, categoryTextPosition: 'below', style: 2 %}

        </div>

    {%- endif -%}

{%- endcapture -%}

{%- capture categoryContent -%}

    {%- paginate category.products by 100 -%}

        {%- if rendered_partial != 'sections/category-template' and category.categories -%}

            <div class="category-subcategories category-tags mb-6{% if section.settings.showCategoryList %} d-lg-none{% endif %}" data-aos="animation-fadeIn" data-aos-anchor="#finqu-section-{{ section.id }}">

                <div class="swiper">

                    <div class="swiper-wrapper">

                        {% for subCategory in category.categories %}

                            {% if subCategory.is_visible %}

                                <div class="swiper-slide">

                                    <div class="swiper-slide-inner" data-aos="animation-fadeIn" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}">

                                        <div class="category-tag section-highlight-item section-highlight-item-padding-auto">

                                            <a href="{{ subCategory | link }}">

                                                <span class="category-tag-content">
                                                    {{ subCategory.title }}
                                                </span>
                                            </a>

                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>

                    <div class="swiper-button-prev">
                        {%- render 'icon', icon: 'angle-left' -%}
                    </div>

                    <div class="swiper-button-next">
                        {%- render 'icon', icon: 'angle-right' -%}
                    </div>

                </div>

            </div>

        {% endif %}

        {% if category.filters.size > 0 and itemCount > 0 or category.active_filters.size > 0 %}

            <form id="category-filters-form" class="category-filters mb-2 d-none d-lg-flex flex-wrap">

                {% for filter in category.filters %}

                    <div class="category-filter-dropdown dropdown" data-bs-display="static" data-aos="animation-fadeIn" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}">

                        <button class="category-filter-btn btn{% if settings.sectionHighlightItems %} border{% endif %}" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">

                            <span class="category-filter-btn-text">

                                {% if filter.param_name contains 'filter.attribute.' or filter.param_name contains 'filter.taxonomy.' %}

                                    <span>{{ filter.label }}</span>

                                {% else %}

                                    {%- capture paramTranslationKey -%}
                                        filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                    {%- endcapture -%}

                                    <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                {% endif %}

                            </span>

                            {%- render 'icon', icon: 'angle-down' -%}

                        </button>

                        <div class="category-filter-dropdown-menu dropdown-menu p-4">

                            {% if filter.type == 'list' %}

                                {% if filter.param_name contains 'filter.taxonomy.' %}

                                    {% if filter.taxonomy_attribute.type == 'color' %}
                                        <div class="form-check-color-swatches-container form-check-color-swatches-gap-lg">
                                    {% endif %}

                                    {% for value in filter.values %}

                                        {% if filter.taxonomy_attribute.type == 'color' %}

                                            {%- capture swatchColor -%}
                                                {%- if value.taxonomy_value.colors.size == 1 -%}
                                                    {{- value.taxonomy_value.colors[0] -}}
                                                {%- elsif value.taxonomy_value.colors.size == 2 -%}
                                                    linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 50%, {{ value.taxonomy_value.colors[1] }} 50%)
                                                {%- elsif value.taxonomy_value.colors.size == 3 -%}
                                                    linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 33.33333333%, {{ value.taxonomy_value.colors[1] }} 33.33333333% 66.66666666%, {{ value.taxonomy_value.colors[2] }} 66.66666666%)
                                                {%- endif -%}
                                            {%- endcapture -%}

                                            <div class="{% if swatchColor or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor %}form-check-color-swatch form-check-color-swatch-sm{% if value.taxonomy_value.is_transparent %} form-check-color-swatch-transparent{% elsif value.taxonomy_value.is_multicolor %} form-check-color-swatch-multicolor{% endif %}{% else %}form-check-badge{% endif %}"{% if swatchColor %} style="--swatch-color: {{ swatchColor | strip }}"{% endif %}>

                                                <input type="checkbox" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label"></label>

                                                <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                    <span>{{ value.label }}</span>

                                                    <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </div>

                                        {% else %}

                                            <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                                <input type="checkbox" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                    <span>{{ value.label }}</span>

                                                    <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                </label>

                                            </div>

                                        {% endif %}

                                    {% endfor %}

                                    {% if filter.taxonomy_attribute.type == 'color' %}
                                        </div>
                                    {% endif %}

                                {% elsif filter.param_name == 'filter.availability' %}

                                    {% for value in filter.values %}

                                        <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                            <input type="radio" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                {%- capture paramTranslationKey -%}
                                                    filters.{{- value.param_name -}}.values.{%- if value.value > 0 -%}in_stock{%- else -%}out_of_stock{%- endif -%}
                                                {%- endcapture -%}

                                                <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% else %}

                                    {% for value in filter.values %}

                                        <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                            <input type="checkbox" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                {% if filter.param_name contains 'filter.attribute.' or filter.param_name contains 'filter.manufacturer' %}

                                                    <span>{{ value.label }}</span>

                                                {% else %}

                                                    {%- capture paramTranslationKey -%}
                                                        filters.{{- value.param_name -}}.values.{{- value.value | handle | replace: '-', '_' -}}
                                                    {%- endcapture -%}

                                                    <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                {% endif %}

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% endif %}

                            {% elsif filter.type == 'range' %}

                                <div class="range-filter">

                                    <div class="text-start mb-2">

                                        <span data-range-slider-min-text>

                                            {% if filter.param_name == 'filter.price' %}
                                                {{ filter.min_value.value | default: filter.min_value | money_with_currency }}
                                            {% else %}
                                                {{ filter.min_value.value | default: filter.min_value }}
                                            {% endif %}

                                        </span>

                                        <span class="mx-1">-</span>

                                        <span data-range-slider-max-text>

                                            {% if filter.param_name == 'filter.price' %}
                                                {{ filter.max_value.value | default: filter.range_max | money_with_currency }}
                                            {% else %}
                                                {{ filter.max_value.value | default: filter.range_max }}
                                            {% endif %}

                                        </span>

                                    </div>

                                    <div class="range-slider-container">

                                        <input type="hidden" class="input-{{ filter.param_name | replace: '.', '-' | handle }}" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}" data-is-range-filter>
                                        <input type="hidden" class="input-{{ filter.param_name | replace: '.', '-' | handle }}" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}" data-is-range-filter>

                                        <div class="range-slider"
                                            data-range-slider-min-name="{{ filter.min_value.param_name }}"
                                            data-range-slider-min-default="{{ filter.min_value.value | default: filter.range_min }}"
                                            data-range-slider-min-value="{{ filter.range_min }}"
                                            data-range-slider-max-name="{{ filter.max_value.param_name }}"
                                            data-range-slider-max-default="{{ filter.max_value.value | default: filter.range_max }}"
                                            data-range-slider-max-value="{{ filter.range_max }}"
                                            data-range-slider-format="{% if filter.param_name == 'filter.price' %}currency{% else %}decimal{% endif %}">
                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

            </form>

        {% endif %}

        <div class="category-dynamic-content" data-aos="animation-fadeIn" data-aos-anchor="#finqu-section-{{ section.id }}">

            <div class="position-relative z-3 d-flex justify-content-between align-items-center mb-4 gap-g d-lg-none">

                {% if category.filters.size > 0 and itemCount > 0 or category.active_filters.size > 0 %}

                    <button type="button" name="filters-mobile-navigation-show" class="btn btn-text text-title">

                        {%- render 'icon', icon: 'filter', class: 'svg-icon-fw' -%}

                        <span class="fw-bold">
                            {{- 'filters.title' | t -}}
                        </span>

                    </button>

                {% endif %}

                {% if category.filters.size > 0 and itemCount > 0 %}

                    <div class="dropdown">

                        <button type="button" class="btn btn-text text-title" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">

                            <span class="svg-icon-spacer fw-bold">

                                {% for option in category.sort_options %}

                                    {% if option == activeSortOption %}
                                        {{ option | prepend: 'filters.sort-by.' | t }}
                                    {% endif %}

                                {% endfor %}

                            </span>

                            {%- render 'icon', icon: 'angle-down', class: 'svg-icon-fw' -%}

                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                            {% for option in category.sort_options %}

                                <button type="button" class="sort-by-action dropdown-item" value="{{ option }}">
                                    {{ option | prepend: 'filters.sort-by.' | t }}
                                </button>

                            {% endfor %}

                        </div>

                    </div>

                {% endif %}

            </div>

            {% if category.active_filters.size > 0 %}

                <div class="section-highlight-item mb-g">

                    <div class="category-activated-filters">

                        {% for filter in category.active_filters %}

                            <div class="item">

                                <button type="button" class="category-remove-filter" value="{{ filter.param_name | replace: '.', '-' | handle }}">

                                    <span class="category-activated-filter-text">

                                        {% if filter.param_name contains 'filter.attribute.' or filter.param_name contains 'filter.taxonomy.' %}

                                            <span>{{ filter.label }}</span>

                                        {% else %}

                                            {%- capture paramTranslationKey -%}
                                                filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                            {%- endcapture -%}

                                            <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                        {% endif %}

                                    </span>

                                    <span class="category-activated-filter-icon">
                                        {%- render 'icon', icon: 'close' -%}
                                    </span>

                                </button>

                            </div>

                        {% endfor %}

                        {% if category.products %}

                            <div class="item">

                                <button type="button" class="category-reset-filters">

                                    <span class="category-reset-filters-text text-underline-indicator">
                                        {{- 'filters.clear_filters' | t -}}
                                    </span>

                                </button>

                            </div>

                        {% endif %}

                    </div>

                </div>

            {% endif %}

            {% if itemCount < 1 and category.active_filters.size > 0 %}

                <div class="mt-6 text-center">

                    {%- render 'icon', icon: 'filters', class: 'svg-icon-5x mb-3' -%}

                    <span class="h5 d-block mb-3 text-title">
                        {{- 'filters.title' | t -}}
                    </span>

                    <p class="mb-6">
                        {{- 'filters.no_results' | t -}}
                    </p>

                    <button type="button" class="btn btn-primary category-reset-filters">
                        {{- 'filters.clear_filters' | t -}}
                    </button>

                </div>

            {% elsif itemCount > 0 %}

                <div class="row mb-g">

                    <div class="col-auto">

                        <span class="text-muted">
                            {% if itemCount == 1 %}
                                {{- 'general.product_count' | t: amount: itemCount -}}
                            {% else %}
                                {{- 'general.product_plural_count' | t: amount: itemCount -}}
                            {% endif %}
                        </span>

                    </div>

                    <div class="col text-end{% if category.filters.size > 0 %} d-none d-lg-block{% endif %}">

                        <div class="dropdown">

                            <button type="button" class="btn btn-text text-muted" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">

                                <span class="svg-icon-spacer">

                                    {% for option in category.sort_options %}

                                        {% if option == activeSortOption %}
                                            {{ option | prepend: 'filters.sort-by.' | t }}
                                        {% endif %}

                                    {% endfor %}

                                </span>

                                {%- render 'icon', icon: 'angle-down' -%}

                            </button>

                            <div class="dropdown-menu dropdown-menu-right">

                                {% for option in category.sort_options %}

                                    <button type="button" class="sort-by-action dropdown-item" value="{{ option }}">
                                        {{ option | prepend: 'filters.sort-by.' | t }}
                                    </button>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="category-items row gy-g row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ productPerRow }}" data-category-items-count="{{ itemCount }}">

                    {% if category.products.size > 0 %}

                        {% for product in category.products %}

                            {% assign url = product | within: category %}

                            <div class="col"{% if forloop.index <= animatedItemsCount %} data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay{%- if rendered_partial != 'sections/category-template' -%} style="--aos-order: {{ forloop.index }}"{% endif %}{% endif %}>

                                {%- render 'product-card-grid', product: product, url: url -%}

                            </div>

                        {% endfor %}

                    {% elsif request.design_mode %}

                        {% for num in (1..itemCount) %}

                            <div class="col"{% if forloop.index <= animatedItemsCount %} data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay{%- if rendered_partial != 'sections/category-template' -%} style="--aos-order: {{ forloop.index }}"{% endif %}{% endif %}>

                                {%- render 'product-card-grid' -%}

                            </div>

                        {% endfor %}

                    {% endif %}

                </div>

                {% render 'pagination', paginate: paginate %}

                {%- if rendered_partial != 'sections/category-template' and settings.schemaItemList -%}
                    {% render 'schemas/itemlist', items: category.products, paginate: paginate %}
                {%- endif -%}

                <script type="application/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        document.dispatchEvent(new CustomEvent('theme:category:view', {
                            detail: {
                                name: {{ category.title | json }},
                                breadcrumbs: {{ category.breadcrumbs | map: 'title' | json }},
                                product_ids: {{ category.products | map: 'id' | json }}
                            }
                        }));
                    });
                </script>

            {% endif %}

        </div>

    {%- endpaginate -%}

    {% if category.filters.size > 0 and itemCount > 0 or category.active_filters.size > 0 %}

        <nav class="filters-mobile-navigation-container">

            <div class="filters-mobile-navigation">

                <div class="filters-mobile-navigation-header">

                    <div class="filters-mobile-navigation-header-inner">

                        <button type="button" name="filters-mobile-navigation-hide" class="btn btn-text">
                            {%- render 'icon', icon: 'close', class: 'svg-icon-fw' -%}
                        </button>

                        <span class="filters-mobile-navigation-header-text">
                            {{- 'filters.title' | t -}}
                        </span>

                    </div>

                </div>

                <div class="filters-mobile-navigation-menu-container">

                    <form id="category-filters-mobile-form" class="category-filters">

                        <ul class="filters-mobile-navigation-menu">

                            {% for filter in category.filters %}

                                {%- assign hasActiveFilters = filter.values | where: 'active' -%}

                                <li class="filters-mobile-navigation-menu-item">

                                    <div class="filters-mobile-navigation-menu-item-header">

                                        <button type="button" class="filters-mobile-navigation-menu-item-collapse-toggle btn btn-text" data-bs-toggle="collapse" data-bs-target="#filters-mobile-navigation-menu-item-collapse-{{ filter.param_name | replace: '.', '-' | handle }}" aria-expanded="{% if hasActiveFilters %}true{% else %}false{% endif %}" aria-controls="filters-mobile-navigation-menu-item-collapse-{{ filter.param_name | replace: '.', '-' | handle }}">

                                            <span class="filters-mobile-navigation-menu-item-header-text">

                                                {% if filter.param_name contains 'filter.attribute.' or filter.param_name contains 'filter.taxonomy.' %}

                                                    <span>{{ filter.label }}</span>

                                                {% else %}

                                                    {%- capture paramTranslationKey -%}
                                                        filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                                    {%- endcapture -%}

                                                    <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                                {% endif %}

                                            </span>

                                            {%- render 'icon', icon: 'angle-down' -%}
                                            
                                        </button>

                                    </div>

                                    <div id="filters-mobile-navigation-menu-item-collapse-{{ filter.param_name | replace: '.', '-' | handle }}" class="filters-mobile-navigation-menu-item-content collapse{% if hasActiveFilters %} show{% endif %}">

                                        {% if filter.type == 'list' %}

                                            {% if filter.param_name contains 'filter.taxonomy.' %}

                                                {% if filter.taxonomy_attribute.type == 'color' %}
                                                    <div class="form-check-color-swatches-container form-check-color-swatches-gap-lg">
                                                {% endif %}

                                                {% for value in filter.values %}

                                                    {% if filter.taxonomy_attribute.type == 'color' %}

                                                        {%- capture swatchColor -%}
                                                            {%- if value.taxonomy_value.colors.size == 1 -%}
                                                                {{- value.taxonomy_value.colors[0] -}}
                                                            {%- elsif value.taxonomy_value.colors.size == 2 -%}
                                                                linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 50%, {{ value.taxonomy_value.colors[1] }} 50%)
                                                            {%- elsif value.taxonomy_value.colors.size == 3 -%}
                                                                linear-gradient(45deg, {{ value.taxonomy_value.colors[0] }} 33.33333333%, {{ value.taxonomy_value.colors[1] }} 33.33333333% 66.66666666%, {{ value.taxonomy_value.colors[2] }} 66.66666666%)
                                                            {%- endif -%}
                                                        {%- endcapture -%}

                                                        <div class="{% if swatchColor or value.taxonomy_value.is_transparent or value.taxonomy_value.is_multicolor %}form-check-color-swatch form-check-color-swatch-sm{% if value.taxonomy_value.is_transparent %} form-check-color-swatch-transparent{% elsif value.taxonomy_value.is_multicolor %} form-check-color-swatch-multicolor{% endif %}{% else %}form-check-badge{% endif %}"{% if swatchColor %} style="--swatch-color: {{ swatchColor | strip }}"{% endif %}>

                                                            <input type="checkbox" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                            <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label"></label>

                                                            <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                                <span>{{ value.label }}</span>

                                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                        </div>

                                                    {% else %}

                                                        <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                                            <input type="checkbox" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                            <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                                <span>{{ value.label }}</span>

                                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                            </label>

                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                                {% if filter.taxonomy_attribute.type == 'color' %}
                                                    </div>
                                                {% endif %}

                                            {% elsif filter.param_name == 'filter.availability' %}

                                                {% for value in filter.values %}

                                                    <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                                        <input type="radio" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                        <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                            {%- capture paramTranslationKey -%}
                                                                filters.{{- value.param_name -}}.values.{%- if value.value > 0 -%}in_stock{%- else -%}out_of_stock{%- endif -%}
                                                            {%- endcapture -%}

                                                            <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                            <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                        </label>

                                                    </div>

                                                {% endfor %}

                                            {% else %}

                                                {% for value in filter.values %}

                                                    <div class="form-check{% unless forloop.last == true %} mb-4{% endunless %}">

                                                        <input type="checkbox" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                        <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                            {% if filter.param_name contains 'filter.attribute.' or filter.param_name contains 'filter.manufacturer' %}

                                                                <span>{{ value.label }}</span>

                                                            {% else %}

                                                                {%- capture paramTranslationKey -%}
                                                                    filters.{{- value.param_name -}}.values.{{- value.value | handle | replace: '-', '_' -}}
                                                                {%- endcapture -%}

                                                                <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                            {% endif %}

                                                            <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                        </label>

                                                    </div>

                                                {% endfor %}

                                            {% endif %}

                                        {% elsif filter.type == 'range' %}

                                            <div class="range-filter">

                                                <div class="text-start mb-2">

                                                    <span data-range-slider-min-text>

                                                        {% if filter.param_name == 'filter.price' %}
                                                            {{ filter.min_value.value | default: filter.min_value | money_with_currency }}
                                                        {% else %}
                                                            {{ filter.min_value.value | default: filter.min_value }}
                                                        {% endif %}

                                                    </span>

                                                    <span class="mx-1">-</span>

                                                    <span data-range-slider-max-text>

                                                        {% if filter.param_name == 'filter.price' %}
                                                            {{ filter.max_value.value | default: filter.range_max | money_with_currency }}
                                                        {% else %}
                                                            {{ filter.max_value.value | default: filter.range_max }}
                                                        {% endif %}

                                                    </span>

                                                </div>

                                                <div class="range-slider-container">

                                                    <input type="hidden" class="input-mobile-{{ filter.param_name | replace: '.', '-' | handle }}" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}" data-is-range-filter>
                                                    <input type="hidden" class="input-mobile-{{ filter.param_name | replace: '.', '-' | handle }}" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}" data-is-range-filter>

                                                    <div class="range-slider"
                                                        data-range-slider-min-name="{{ filter.min_value.param_name }}"
                                                        data-range-slider-min-default="{{ filter.min_value.value | default: filter.range_min }}"
                                                        data-range-slider-min-value="{{ filter.range_min }}"
                                                        data-range-slider-max-name="{{ filter.max_value.param_name }}"
                                                        data-range-slider-max-default="{{ filter.max_value.value | default: filter.range_max }}"
                                                        data-range-slider-max-value="{{ filter.range_max }}"
                                                        data-range-slider-format="{% if filter.param_name == 'filter.price' %}currency{% else %}decimal{% endif %}">
                                                    </div>

                                                </div>

                                            </div>

                                        {% endif %}

                                    </div>

                                </li>

                            {% endfor %}

                        </ul>

                    </form>

                </div>

                <div class="filters-mobile-navigation-footer">

                    <div class="filters-mobile-navigation-footer-inner">

                        <button type="button" name="filters-mobile-navigation-hide" class="filters-mobile-navigation-footer-inner-cta btn btn-primary d-block w-100">

                            {% if itemCount == 1 %}
                                {{- 'filters.show_result' | t: amount: itemCount -}}
                            {% else %}
                                {{- 'filters.show_result_plural' | t: amount: itemCount -}}
                            {% endif %}

                        </button>

                    </div>

                </div>

            </div>

        </nav>

    {% endif %}

{%- endcapture -%}

{%- capture sectionContent -%}

    {% if rendered_partial != 'sections/category-template' and sidebarMenu %}

        <div class="row">

            <div class="col-lg-3 d-none d-lg-block pe-lg-6" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}">

                {%- assign hasActiveLink = false -%}

                {%- for item in sidebarMenu.links -%}

                    {%- if item.current and hasActiveLink == false and item.links.size == 0 -%}
                        {%- assign hasActiveLink = true -%}
                    {%- endif -%}

                {%- endfor -%}

                <ul class="sidebar-menu section-highlight-item{% if hasActiveLink %} no-active-child-links{% endif %}{% if section.settings.highlightActiveLink %} sidebar-menu-highlight-active-child-link{% endif %}">

                    {% for item in sidebarMenu.links %}

                        {% render 'sidebar-menu-item', link: item %}

                    {% endfor %}

                </ul>

            </div>

            <div class="col col-lg-9">

                {% if category.products.size == 0 and category.categories and category.active_filters.size == 0 %}

                    {{ categoryContentPlaceholder }}

                {% else %}

                    {{ categoryContent }}

                {% endif %}

            </div>

        </div>

    {% else %}

        {% if category.products.size == 0 and category.categories.size > 0 and category.active_filters.size == 0 %}

            {{ categoryContentPlaceholder }}

        {% else %}

            {{ categoryContent }}

        {% endif %}

    {% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: category.title, sectionTitleTag: 'h1', sectionDescription: category.description, sectionBreadcrumbs: category.breadcrumbs, sectionContentAnimation: false, sectionHeaderGapScale: 1, sectionInnerGap: '2rem', sectionDescriptionTruncate: true %}

{%- if rendered_partial != 'sections/category-template' and settings.schemaBreadcrumbList -%}
    {% render 'schemas/breadcrumblist', breadcrumbs: sectionBreadcrumbs, currentItem: category %}
{%- endif -%}

{% schema %}
{
    "name": {
        "en": "Product group",
        "fi": "Tuoteryhmä"
    },
    "tag": "section",
    "class": "section section-category",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "id": "sidebarMenu",
                        "type": "menu",
                        "label": {
                            "en": "Menu",
                            "fi": "Valikko"
                        },
                        "allow_empty": true
                    },
                    {
                        "id": "highlightActiveLink",
                        "type": "checkbox",
                        "label": {
                            "en": "Highlight active link",
                            "fi": "Korosta aktiivinen linkki"
                        },
                        "default": true,
                        "conditions": ["!sidebarMenu eq blank"]
                    }
                ]
            }
        ]
    }
}
{% endschema %}