{%- assign sectionMinHeight = section.settings.sectionMinHeight | append: 'vh' -%}
{%- assign sectionMinHeightMobile = section.settings.sectionMinHeightMobile | append: 'vh' -%}

{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.imgBlur != '0' -%}

    {%- capture sectionStyle -%}
        #finqu-section-{{ section.id }} .lazy {
            transform: scale(1.0{{ section.settings.imgBlur | divided_by: 2 | plus: 2 }});
            filter: blur({{ section.settings.imgBlur }}px);
        }
    {%- endcapture -%}

    <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- endif -%}

{%- capture imgContent -%}

    {%- capture imgStartSrc -%}

        {%- capture placeholderSvg -%}
            {%- render 'placeholder-svg', type: 'background', base64: true -%}
        {%- endcapture -%}

        {%- if section.settings.imgStart -%}
            {% if section.settings.imgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%), rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%)) | {% endif %}url('{{- section.settings.imgStart | thumb: '1920,1080' -}}') 1x, url('{{- section.settings.imgStart | thumb: '1920,1080' | thumb: '@2x' -}}') 2x
        {%- else -%}
            {% if section.settings.imgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%), rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%)) | {% endif %}url('{{ placeholderSvg | strip }}') 1x
        {%- endif -%}

    {%- endcapture -%}

    {%- capture imgEndSrc -%}

        {%- capture placeholderSvg -%}
            {%- render 'placeholder-svg', type: 'background', base64: true -%}
        {%- endcapture -%}

        {%- if section.settings.imgEnd -%}
            {% if section.settings.imgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%), rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%)) | {% endif %}url('{{- section.settings.imgEnd | thumb: '1920,1080' -}}') 1x, url('{{- section.settings.imgEnd | thumb: '1920,1080' | thumb: '@2x' -}}') 2x
        {%- else -%}
            {% if section.settings.imgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%), rgb(0,0,0, {{- section.settings.imgDimming > 0 -}}%)) | {% endif %}url('{{ placeholderSvg | strip }}') 1x
        {%- endif -%}

    {%- endcapture -%}

    <div class="flex-grow-1 position-relative overflow-hidden min-h{% if section.settings.imgMobile %} d-none d-md-block{% endif %}" style="--min-height: {{ section.settings.sectionMinHeightMobile }}vh; --min-height-lg: {{ section.settings.sectionMinHeight }}vh">

        <div class="lazy position-absolute top-0 start-0 w-100 h-100{% if section.settings.imgStart %} bg-size-cover{% endif %}" data-bg-set="{{- imgStartSrc | strip -}}"{% if section.settings.imgStart.offset_left or section.settings.imgStart.offset_top %} style="--bg-position: {{ section.settings.imgStart.offset_left }}% {{ section.settings.imgStart.offset_top }}%"{% endif %}></div>

    </div>

    <div class="flex-grow-1 position-relative overflow-hidden min-h d-none d-md-block" style="--min-height: {{ section.settings.sectionMinHeightMobile }}vh; --min-height-lg: {{ section.settings.sectionMinHeight }}vh">
    
        <div class="lazy position-absolute top-0 start-0 w-100 h-100{% if section.settings.imgStart %} bg-size-cover{% endif %}" data-bg-set="{{- imgEndSrc | strip -}}"{% if section.settings.imgEnd.offset_left or section.settings.imgEnd.offset_top %} style="--bg-position: {{ section.settings.imgEnd.offset_left }}% {{ section.settings.imgEnd.offset_top }}%"{% endif %}></div>

    </div>

    {% if section.settings.imgMobile %}

        <div class="flex-grow-1 position-relative overflow-hidden min-h d-md-none" style="--min-height: {{ section.settings.sectionMinHeightMobile }}vh">

            <div class="lazy position-absolute top-0 start-0 w-100 h-100 bg-size-cover" data-bg-set="{% if section.settings.imgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.imgDimming -}}%), rgb(0,0,0, {{- section.settings.imgDimming -}}%)) | {% endif %}url('{{- section.settings.imgMobile | thumb: '1920,1080' -}}') 1x, url('{{- section.settings.imgMobile | thumb: '1920,1080' | thumb: '@2x' -}}') 2x"{% if section.settings.imgMobile.offset_left or section.settings.imgMobile.offset_top %} style="--bg-position: {{ section.settings.imgMobile.offset_left }}% {{ section.settings.imgMobile.offset_top }}%"{% endif %}></div>

        </div>

    {% endif %}

{%- endcapture -%}

{%- capture textContent -%}

    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
    {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}
    
    {%- if section.settings.textHorizontalAlign == 'nil' -%}
        {%- assign textHorizontalAlign = settings.sectionTextAlign -%}
    {%- else -%}
        {%- assign textHorizontalAlign = section.settings.textHorizontalAlign -%}
    {%- endif -%}

    <div class="text-{{ textHorizontalAlign }}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

        {% render 'section-header', sectionTitle: section.settings.sectionTitle, sectionTitleTag: section.settings.sectionTitleTag, sectionSubtitle: section.settings.sectionSubtitle, sectionSubtitleTag: section.settings.sectionSubtitleTag, sectionOverline: section.settings.sectionOverline, sectionOverlineTag: section.settings.sectionOverlineTag, sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionHeaderFontSizeScale: section.settings.sectionHeaderFontSizeScale %}

        {% if section.settings.btnLink.text %}

            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

            <div class="mt-7" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                {%- render 'section-quick-link', style: section.settings.btnStyle, text: section.settings.btnLink.text, url: section.settings.btnLink.url, target: section.settings.btnLink.target -%}

            </div>

        {% endif %}

    </div>

{%- endcapture -%}

{%- capture sectionContent -%}

    <div class="d-flex">
        {{- imgContent -}}
    </div>

    <div class="d-flex align-items-{{ section.settings.textVerticalAlign }} position-absolute top-0 start-0 w-100 h-100">

        <div class="container d-flex justify-content-{{ section.settings.textHorizontalAlign }}">

            <div class="text-container w-100 max-w-lg-60">
                {{- textContent -}}
            </div>

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false, sectionHeader: false, sectionHeaderTextAlign: textHorizontalAlign, sectionMinHeight: sectionMinHeight, sectionMinHeightMobile: sectionMinHeightMobile, sectionContainer: 'none', sectionPaddingMode: 'custom', sectionPaddingTop: 0, sectionPaddingBottom: 0, sectionContainerPaddingY: '4rem' %}

{% schema %}
{
    "name": {
        "en": "Hero split images",
        "fi": "Hero kahdella kuvalla"
    },
    "tag": "section",
    "class": "section section-hero-split-images",
    "category": "theme-hero",
    "keywords": {
        "en": [
            "Lander",
            "Image"
        ],
        "fi": [
            "Laskeutumissivu",
            "Kuva"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "btnLink",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_target": true,
                        "include_text": true
                    },
                    {
                        "id": "imgStart",
                        "type": "image-picker",
                        "label": {
                            "en": "Image on left",
                            "fi": "Kuva vasemmalla"
                        },
                        "adjustments": true
                    },
                    {
                        "id": "imgEnd",
                        "type": "image-picker",
                        "label": {
                            "en": "Image on right",
                            "fi": "Kuva oikealla"
                        },
                        "adjustments": true
                    },
                    {
                        "id": "imgMobile",
                        "type": "image-picker",
                        "label": {
                            "en": "Image on mobile view",
                            "fi": "Kuva mobiilinäkymässä"
                        },
                        "adjustments": true
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "textHorizontalAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text horizontal align",
                                        "fi": "Tekstin tasaus vaakasuunnassa"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "textVerticalAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text vertical align",
                                        "fi": "Tekstin tasaus pystysuunnassa"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-top #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-middle #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-bottom #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "btnStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeaderFontSizeScale",
                                    "label": {
                                        "en": "Headings scaling",
                                        "fi": "Otsikoiden skaalaus"
                                    },
                                    "type": "range",
                                    "min": 1,
                                    "max": 2,
                                    "step": 0.1,
                                    "default": "1"
                                },
                                {
                                    "id": "imgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "imgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionMinHeight",
                                    "type": "select",
                                    "label": {
                                        "en": "Minimum height",
                                        "fi": "Minimi korkeus"
                                    },
                                    "type": "range",
                                    "min": 40,
                                    "max": 100,
                                    "step": 5,
                                    "default": "60",
                                    "unit": "vh"
                                },
                                {
                                    "id": "sectionMinHeightMobile",
                                    "type": "select",
                                    "label": {
                                        "en": "Minimum height on mobile",
                                        "fi": "Minimi korkeus mobiilissa"
                                    },
                                    "type": "range",
                                    "min": 40,
                                    "max": 100,
                                    "step": 5,
                                    "default": "60",
                                    "unit": "vh"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionTitle": "Uusi mahtava Hero-otsikko!",
                "sectionSubtitle": "Markkinoi tuotetta tai sisältöä tässä Hero-osiossa.",
                "sectionColorScheme": "dark",
                "btnLink": {
                    "text": "Shoppaile nyt"
                },
                "imgStart": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1586158291800-2665f07bba79",
                    "src": "https:\/\/images.unsplash.com\/photo-1586158291800-2665f07bba79",
                    "offset_top": "50",
                    "offset_left": "50",
                    "width": "1080",
                    "height": "1080"
                },
                "imgEnd": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1617104424032-b9bd6972d0e4",
                    "src": "https:\/\/images.unsplash.com\/photo-1617104424032-b9bd6972d0e4",
                    "offset_top": "50",
                    "offset_left": "50",
                    "width": "1080",
                    "height": "1080"
                }
            }
        }
    ]
}
{% endschema %}