{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionHighlightItems == 'nil' and settings.sectionHighlightItems == true or section.settings.sectionHighlightItems == true -%}
    {%- assign sectionHighlightItems = true -%}
{%- endif -%}

{% if section.settings.imgAspectRatio == '16:9' %}

    {%- assign imgSizeSm = '414,251' -%}
    {%- assign imgSizeMd = '360,220' -%}
    {%- assign imgSizeLg = '670,395' -%}

{% elsif section.settings.imgAspectRatio == '9:13' %}

    {%- assign imgSizeSm = '414,581' -%}
    {%- assign imgSizeMd = '360,503' -%}
    {%- assign imgSizeLg = '670,950' -%}

{% elsif section.settings.imgAspectRatio == '4:3' %}

    {%- assign imgSizeSm = '414,321' -%}
    {%- assign imgSizeMd = '360,280' -%}
    {%- assign imgSizeLg = '670,513' -%}

{% elsif section.settings.imgAspectRatio == '1:1' %}

    {%- assign imgSizeSm = '414,414' -%}
    {%- assign imgSizeMd = '360,360' -%}
    {%- assign imgSizeLg = '670,670' -%}

{% elsif section.settings.imgAspectRatio == 'auto' %}

    {%- assign imgSizeSm = '414,414' -%}
    {%- assign imgSizeMd = '360,360' -%}
    {%- assign imgSizeLg = '670,670' -%}

{% endif %}

{%- capture sectionContent -%}

    <div class="row gy-g gy-sm-5 gx-lg-10">

        <div class="col-12 col-md-6 d-flex flex-column">

            <div class="section-highlight-item p-md-8 d-flex flex-column my-auto">

                {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

                {% render 'section-header', sectionTitle: section.settings.sectionTitle, sectionTitleTag: section.settings.sectionTitleTag, sectionSubtitle: section.settings.sectionSubtitle, sectionSubtitleTag: section.settings.sectionSubtitleTag, sectionOverline: section.settings.sectionOverline, sectionOverlineTag: section.settings.sectionOverlineTag, sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionHeaderGapScale: 0.5 %}

                {% if section.settings.btnLink.text %}

                    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                    <div class="mt-4 mt-lg-6" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                        {%- render 'section-quick-link', style: section.settings.btnStyle, text: section.settings.btnLink.text, url: section.settings.btnLink.url, target: section.settings.btnLink.target -%}

                    </div>

                {% endif %}

            </div>

            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

            <div class="aspect-ratio-{{ section.settings.imgAspectRatio | replace: ':', '-' }} {% if sectionHighlightItems %}mt-10{% else %}mt-6{% endif %}" data-aos="animate__fadeInLeft" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                <div class="aspect-ratio-container">

                    {%- if section.settings.img1 -%}

                        <picture>
                            <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                {{- section.settings.img1 | thumb: imgSizeLg }} 1x,
                                {{- section.settings.img1 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                {{- section.settings.img1 | thumb: imgSizeMd }} 1x,
                                {{- section.settings.img1 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{- section.settings.img1 | thumb: imgSizeSm }} 1x,
                                {{- section.settings.img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ section.settings.img1.alt }}"
                                data-src="{{ section.settings.img1 | thumb: imgSizeSm }}"
                                data-srcset="{{ section.settings.img1 | thumb: imgSizeSm }} 1x,{{ section.settings.img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}"{% if section.settings.img1.offset_left or section.settings.img1.offset_top %} style="--object-position: {{ section.settings.img1.offset_left }}% {{ section.settings.img1.offset_top }}%"{% endif %}>

                        </picture>

                    {%- elsif request.design_mode -%}

                        {%- capture class -%}
                            aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}
                        {%- endcapture -%}

                        {% render 'placeholder-svg', type: 'image', class: class %}
            
                    {%- endif -%}

                </div>

            </div>

        </div>

        <div class="col-12 col-md-6 d-flex flex-column gap-6">

            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

            <div class="aspect-ratio-{{ section.settings.imgAspectRatio | replace: ':', '-' }}" data-aos="animate__fadeInRight" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                <div class="aspect-ratio-container">

                    {%- if section.settings.img2 -%}

                        <picture>
                            <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                {{- section.settings.img2 | thumb: imgSizeLg }} 1x,
                                {{- section.settings.img2 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                {{- section.settings.img2 | thumb: imgSizeMd }} 1x,
                                {{- section.settings.img2 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{- section.settings.img2 | thumb: imgSizeSm }} 1x,
                                {{- section.settings.img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ section.settings.img2.alt }}"
                                data-src="{{ section.settings.img2 | thumb: imgSizeSm }}"
                                data-srcset="{{ section.settings.img2 | thumb: imgSizeSm }} 1x,{{ section.settings.img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}"{% if section.settings.img2.offset_left or section.settings.img2.offset_top %} style="--object-position: {{ section.settings.img2.offset_left }}% {{ section.settings.img2.offset_top }}%"{% endif %}>

                        </picture>

                    {%- elsif request.design_mode -%}

                        {%- capture class -%}
                            aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}
                        {%- endcapture -%}

                        {% render 'placeholder-svg', type: 'image', class: class %}
            
                    {%- endif -%}

                </div>

            </div>

            {%- if section.settings.richtext -%}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="text-richtext text-muted section-highlight-item p-md-8 d-flex flex-column my-auto" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}"  data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    {{- section.settings.richtext -}}

                </div>

            {%- endif -%}

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false, sectionHeader: false %}

{% schema %}
{
    "name": {
        "en": "Images with text",
        "fi": "Kuvia tekstin kanssa"
    },
    "tag": "section",
    "class": "section section-images-with-text",
    "category": "theme-featured",
    "keywords": {
        "en": [
            "Image",
            "Text"
        ],
        "fi": [
            "Kuva",
            "Teksti"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "richtext",
                        "type": "richtext",
                        "mode": "simple",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        }
                    },
                    {
                        "id": "btnLink",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_target": true,
                        "include_text": true
                    },
                    {
                        "id": "img1",
                        "type": "image-picker",
                        "label": {
                            "en": "Image 1",
                            "fi": "Kuva 1"
                        },
                        "adjustments": true
                    },
                    {
                        "id": "img2",
                        "type": "image-picker",
                        "label": {
                            "en": "Image 2",
                            "fi": "Kuva 2"
                        },
                        "adjustments": true
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHighlightItems",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content highlight",
                                        "fi": "Sisällön korostaminen"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content text align",
                                        "fi": "Sisllön tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "btnStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "imgAspectRatio",
                                    "type": "select",
                                    "label": {
                                        "en": "Image aspect ratio",
                                        "fi": "Kuvasuhde"
                                    },
                                    "default": "1:1",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": {
                                                "en": "Original",
                                                "fi": "Alkuperäinen"
                                            }
                                        },
                                        {
                                            "value": "16:9",
                                            "label": "16:9"
                                        },
                                        {
                                            "value": "9:13",
                                            "label": "9:13"
                                        },
                                        {
                                            "value": "4:3",
                                            "label": "4:3"
                                        },
                                        {
                                            "value": "1:1",
                                            "label": "1:1"
                                        }
                                    ]
                                },
                                {
                                    "id": "imgFit",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Image area fill",
                                        "fi": "Kuva-alueen täyttö"
                                    },
                                    "default": true,
                                    "conditions": ["!imgAspectRatio eq auto"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": "Oma"
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": "Väri",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionTitle": "Uusi mahtava otsikko",
                "richtext": "<p>Lisää kuvat ja kerro niistä asiakkaillesi tai käytä sitä tuotteesi, artikkelisi tai brändisi esittelyyn.<\/p>",
                "btnStyle": "primary",
                "btnLink": {
                    "type": "url",
                    "record_id": "",
                    "text": "Shoppaile nyt",
                    "url": "",
                    "target": "_self"
                },
                "img1": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1546177461-668e7784915e",
                    "src": "https:\/\/images.unsplash.com\/photo-1546177461-668e7784915e",
                    "offset_top": "50",
                    "offset_left": "50",
                    "width": "720",
                    "height": "1080"
                },
                "img2": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1546177461-3283e4aa3b0c",
                    "src": "https:\/\/images.unsplash.com\/photo-1546177461-3283e4aa3b0c",
                    "offset_top": "50",
                    "offset_left": "50",
                    "width": "720",
                    "height": "1080"
                }
            }
        }
    ]
}
{% endschema %}