{%- if section.settings.layout == 1 -%}

    {%- assign aspectRatio = '16-9' -%}
    {%- assign imgSizeSm = '193,113' -%}
    {%- assign imgSizeMd = '310,178' -%}
    {%- assign imgSizeLg = '430,246' -%}

{%- elsif section.settings.layout == 2 -%}

    {%- assign aspectRatio = '9-13' -%}
    {%- assign imgSizeSm = '386,550' -%}
    {%- assign imgSizeMd = '620,886' -%}
    {%- assign imgSizeLg = '860,1232' -%}

{%- elsif section.settings.layout == 3 -%}

    {%- assign aspectRatio = '4-3' -%}
    {%- assign imgSizeSm = '193,147' -%}
    {%- assign imgSizeMd = '310,235' -%}
    {%- assign imgSizeLg = '430,325' -%}

{%- elsif section.settings.layout == 4 -%}

    {%- assign aspectRatio = '1-1' -%}
    {%- assign imgSizeSm = '193,193' -%}
    {%- assign imgSizeMd = '310,310' -%}
    {%- assign imgSizeLg = '430,430' -%}

{%- endif -%}

{%- capture sectionContent -%}

     <div class="row gy-g masonry gallery">

        {% for item in section.settings.setting_blocks.items %}

            {%- if section.settings.layout == 5 -%}

                {%- capture aspectRatio -%}{%- cycle '9-13', '4-3', '1-1', '1-1', '4-3', '1-1' -%}{%- endcapture -%}
                {%- assign aspectRatio = aspectRatio -%}

            {%- elsif section.settings.layout == 6 -%}

                {%- capture aspectRatio -%}{%- cycle '4-3', '1-1', '9-13', '4-3', '4-3', '1-1' -%}{%- endcapture -%}
                {%- assign aspectRatio = aspectRatio -%}

            {%- elsif section.settings.layout == 7 -%}

                {%- capture aspectRatio -%}{%- cycle '1-1', '1-1', '1-1', '4-3', '16-9', '9-13' -%}{%- endcapture -%}
                {%- assign aspectRatio = aspectRatio -%}

            {%- elsif section.settings.layout == 8 -%}

                {%- capture aspectRatio -%}{%- cycle '1-1', '9-13', '4-3', '1-1', '16-9', '1-1' -%}{%- endcapture -%}
                {%- assign aspectRatio = aspectRatio -%}

            {%- elsif section.settings.layout == 9 -%}

                {%- capture aspectRatio -%}{%- cycle '1-1', '9-13', '4-3', '1-1', '4-3', '9-13' -%}{%- endcapture -%}
                {%- assign aspectRatio = aspectRatio -%}

            {%- elsif section.settings.layout == 'random' -%}

                {%- assign aspectRatio = '16-9,9-13,4-3,1-1' | split: ',' | random -%}

            {%- endif -%}

            {%- if section.settings.layout > 5 -%}

                {%- if aspectRatio == '16-9' -%}

                    {%- assign imgSizeSm = '193,113' -%}
                    {%- assign imgSizeMd = '310,178' -%}
                    {%- assign imgSizeLg = '430,246' -%}
        
                {%- elsif aspectRatio == '9-13' -%}
        
                    {%- assign imgSizeSm = '386,550' -%} 
                    {%- assign imgSizeMd = '620,886' -%}
                    {%- assign imgSizeLg = '860,1232' -%}
        
                {%- elsif aspectRatio == '4-3' -%}
        
                    {%- assign imgSizeSm = '193,147' -%}
                    {%- assign imgSizeMd = '310,235' -%}
                    {%- assign imgSizeLg = '430,325' -%}
        
                {%- elsif aspectRatio == '1-1' -%}
        
                    {%- assign imgSizeSm = '193,193' -%}
                    {%- assign imgSizeMd = '310,310' -%}
                    {%- assign imgSizeLg = '430,430' -%}
        
                {%- endif -%}

            {%- endif -%}

            <div class="col-6 col-md-4 gallery-item">

                <div class="aspect-ratio-{{ aspectRatio }}">

                    <div class="aspect-ratio-container{% if item.settings.img %} img-indicator-zoom{% endif %}" data-gallery-init>

                        {% if item.settings.img %}

                            <picture>
                                <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                    {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                    {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                    {{- item.settings.img | thumb: imgSizeMd }} 1x,
                                    {{- item.settings.img | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                <source data-srcset="
                                    {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                    {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                <img
                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item aspect-ratio-item-cover cursor-zoom-in"
                                    alt="{{ item.settings.img.alt }}"
                                    data-gallery-img-src="{{ item.settings.img | thumb: '1920,1080' }}"
                                    src="{{ item.settings.img | thumb: imgSizeSm }}"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>
                            </picture>

                        {% else %}

                            {%- capture imgSrc -%}
                                {% render 'placeholder-svg', type: 'image', base64: true %}
                            {%- endcapture -%}

                            <img
                                class="lazy d-block mx-auto img-fluid aspect-ratio-item cursor-zoom-in svg-placeholder"
                                alt=""
                                data-src="{{- imgSrc | strip_newlines -}}">

                        {% endif %}

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false %}

{% schema %}
{
    "name": {
        "en": "Image gallery",
        "fi": "Kuvagalleria"
    },
    "tag": "section",
    "class": "section section-image-gallery",
    "category": "theme-gallery",
    "keywords": {
        "en": [
            "Gallery",
            "Images",
            "Image"
        ],
        "fi": [
            "Galleria",
            "Kuvat",
            "Kuva"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "layout",
                        "type": "select",
                        "label": {
                            "en": "Layout",
                            "fi": "Asettelu"
                        },
                        "default": 1,
                        "options": [
                            {
                                "value": 1,
                                "label": "16:9"
                            },
                            {
                                "value": 2,
                                "label": "9:13"
                            },
                            {
                                "value": 3,
                                "label": "4:3"
                            },
                            {
                                "value": 4,
                                "label": "1:1"
                            },
                            {
                                "value": 5,
                                "label": "9:13 | 4:3 | 1:1 | 1:1 | 4:3 | 1:1"
                            },
                            {
                                "value": 6,
                                "label": "4:3 | 1:1 | 9:13 | 4:3 | 4:3 | 1:1"
                            },
                            {
                                "value": 7,
                                "label": "1:1 | 1:1 | 1:1 | 4:3 | 16:9 | 9:13"
                            },
                            {
                                "value": 8,
                                "label": "1:1 | 9:13 | 4:3 | 1:1 | 16:9 | 1:1"
                            },
                            {
                                "value": 9,
                                "label": "1:1 | 9:13 | 4:3 | 1:1 | 4:3 | 9:13"
                            },
                            {
                                "value": "random",
                                "label": {
                                    "en": "Random",
                                    "fi": "Satunnainen"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Images",
                    "fi": "Kuvat"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a image",
                    "fi": "Lisää kuva"
                },
                "is_sortable": true,
                "display_icons": true,
                "setting_blocks": [
                    {
                        "type": "image",
                        "title": {
                            "en": "Image",
                            "fi": "Kuva"
                        },
                        "settings": [
                            {
                                "id": "img",
                                "type": "image-picker",
                                "adjustments": true
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading text align",
                                        "fi": "Otsikon tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "1",
                                            "label": {
                                                "en": "Color scheme 1",
                                                "fi": "Värityyli 1"
                                            }
                                        },
                                        {
                                            "value": "2",
                                            "label": {
                                                "en": "Color scheme 2",
                                                "fi": "Värityyli 2"
                                            }
                                        },
                                        {
                                            "value": "3",
                                            "label": {
                                                "en": "Color scheme 3",
                                                "fi": "Värityyli 3"
                                            }
                                        },
                                        {
                                            "value": "4",
                                            "label": {
                                                "en": "Color scheme 4",
                                                "fi": "Värityyli 4"
                                            }
                                        },
                                        {
                                            "value": "5",
                                            "label": {
                                                "en": "Color scheme 5",
                                                "fi": "Värityyli 5"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "layout": "2",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532372320572-cda25653a26d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532372320572-cda25653a26d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1559389727-b57a879f4028",
                                    "src": "https:\/\/images.unsplash.com\/photo-1559389727-b57a879f4028",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1534447536372-79d8f8974c5c",
                                    "src": "https:\/\/images.unsplash.com\/photo-1534447536372-79d8f8974c5c",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1577576223085-3eb295cd414f",
                                    "src": "https:\/\/images.unsplash.com\/photo-1577576223085-3eb295cd414f",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1557704595-ecd34dc3a4b9",
                                    "src": "https:\/\/images.unsplash.com\/photo-1557704595-ecd34dc3a4b9",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1521401292936-0a2129a30b1c",
                                    "src": "https:\/\/images.unsplash.com\/photo-1521401292936-0a2129a30b1c",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        },
        {
            "settings": {
                "layout": "9",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532372320572-cda25653a26d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532372320572-cda25653a26d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1559389727-b57a879f4028",
                                    "src": "https:\/\/images.unsplash.com\/photo-1559389727-b57a879f4028",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1534447536372-79d8f8974c5c",
                                    "src": "https:\/\/images.unsplash.com\/photo-1534447536372-79d8f8974c5c",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1577576223085-3eb295cd414f",
                                    "src": "https:\/\/images.unsplash.com\/photo-1577576223085-3eb295cd414f",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1557704595-ecd34dc3a4b9",
                                    "src": "https:\/\/images.unsplash.com\/photo-1557704595-ecd34dc3a4b9",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1521401292936-0a2129a30b1c",
                                    "src": "https:\/\/images.unsplash.com\/photo-1521401292936-0a2129a30b1c",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        }
    ]
}
{% endschema %}