{% assign sectionAnimationOrder = 0 %}

{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
    {%- unless hasHeader -%}{%- assign hasHeader = true -%}{%- endunless -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
    {%- unless hasHeader -%}{%- assign hasHeader = true -%}{%- endunless -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
    {%- unless hasHeader -%}{%- assign hasHeader = true -%}{%- endunless -%}
{%- endif -%}

{%- if section.settings.richtext -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
    {%- unless hasHeader -%}{%- assign hasHeader = true -%}{%- endunless -%}
{%- endif -%}

{%- capture sectionStyle -%}
    #finqu-section-{{ section.id }} iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
        height: 100% !important;
        flex: 1 1 auto;
    }
    #finqu-section-{{ section.id }} .iframe-container {
        position: relative;
        display: flex;
        height: {{ section.settings.iframeHeight | append: 'vh'}};
    }
    @media screen and (max-width: {{ settings.styleGridBreakpointLg }}) {
        #finqu-section-{{ section.id }} .iframe-container {
           height: {{ section.settings.iframeHeight | divided_by: 2 | append: 'vh' }};
        }
    }
{%- endcapture -%}

<style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- capture sectionCustomContent -%}

    {%- if hasHeader -%}

        <div class="container mb-g mb-lg-6">

            {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

            {% render 'section-header', sectionTitle: section.settings.sectionTitle, sectionTitleTag: section.settings.sectionTitleTag, sectionSubtitle: section.settings.sectionSubtitle, sectionSubtitleTag: section.settings.sectionSubtitleTag, sectionOverline: section.settings.sectionOverline, sectionOverlineTag: section.settings.sectionOverlineTag, sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionDescription: section.settings.richtext, sectionHeaderGapScale: 0.5 %}

        </div>

    {%- endif -%}

    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

    <div class="iframe-container{% unless section.settings.iframeFullscreen %} container{% endunless %}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

        {%- if section.settings.iframe -%}

            {{- section.settings.iframe -}}

        {%- else -%}

            <div class="lazy position-absolute top-0 start-0 w-100 h-100 bg-position-center bg-accent" data-bg-set="url('https://images.unsplash.com/photo-1524661135-423995f22d0b?w=1920&h=1080&auto=enhance&dpr=1') 1x, url('https://images.unsplash.com/photo-1524661135-423995f22d0b?w=1920&h=1080&auto=enhance&dpr=2') 2x"></div>

        {%- endif -%}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionCustomContent: sectionCustomContent, sectionHeader: false %}

{% schema %}
{
    "name": {
        "en": "Location",
        "fi": "Sijainti"
    },
    "tag": "section",
    "class": "section section-location",
    "category": "theme-contact",
    "keywords": {
        "en": [
            "Location",
            "Google maps",
            "Map"
        ],
        "fi": [
            "Sijainti",
            "Google maps",
            "Kartta"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "richtext",
                        "type": "richtext",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        }
                    },
                    {
                        "id": "iframe",
                        "type": "text",
                        "label": {
                            "en": "Google Maps iframe code",
                            "fi": "Google Maps iframe upotuskoodi"
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "Copy iframe code from Google Maps by following these steps:",
                            "fi": "Kopioi iframe-koodi Google Mapsista seuraavasti:"
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "1. Go to the Google Maps website (https://www.google.com/maps).",
                            "fi": "1. Siirry Google Mapsin verkkosivustolle (https://www.google.com/maps)."
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "2. Search for the location you want to feature in your embedded map.",
                            "fi": "2. Etsi sijainti, jonka haluat näkyvän upotetussa kartassa."
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "3. Click Share button.",
                            "fi": "3. Paina Jaa -painiketta."
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "4. Click Embed a map button.",
                            "fi": "4. Paina Upota kartta -painiketta."
                        }
                    },
                    {
                        "type": "label",
                        "label": {
                            "en": "5. Click Copy HTML button and paste the HTML code to the iframe field.",
                            "fi": "5. Paina Kopioi HTML -painiketta ja liitä HTML-koodi iframe-kenttään."
                        }
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content text align",
                                        "fi": "Sisällön tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "iframeFullscreen",
                                    "type": "radio-pill",
                                    "label": {
                                       "en": "Show iframe as full-width",
                                        "fi": "Näytä iframe täysleveänä"
                                    },
                                    "default": true,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "iframeHeight",
                                    "type": "select",
                                    "label": {
                                        "en": "iframe height",
                                        "fi": "iframe korkeus"
                                    },
                                    "type": "range",
                                    "min": 30,
                                    "max": 100,
                                    "step": 5,
                                    "default": "50",
                                    "unit": "vh"
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "1",
                                            "label": {
                                                "en": "Color scheme 1",
                                                "fi": "Värityyli 1"
                                            }
                                        },
                                        {
                                            "value": "2",
                                            "label": {
                                                "en": "Color scheme 2",
                                                "fi": "Värityyli 2"
                                            }
                                        },
                                        {
                                            "value": "3",
                                            "label": {
                                                "en": "Color scheme 3",
                                                "fi": "Värityyli 3"
                                            }
                                        },
                                        {
                                            "value": "4",
                                            "label": {
                                                "en": "Color scheme 4",
                                                "fi": "Värityyli 4"
                                            }
                                        },
                                        {
                                            "value": "5",
                                            "label": {
                                                "en": "Color scheme 5",
                                                "fi": "Värityyli 5"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionPaddingMode": "custom",
                "sectionPaddingTop": "0",
                "sectionPaddingBottom": "0"
            }
        }
    ]
}
{% endschema %}