{%- if section.settings.logoAlign != 'nil' -%}
    {%- assign logoAlign = section.settings.logoAlign -%}
{%- else -%}
    {%- assign logoAlign = settings.sectionTextAlign -%}
{%- endif -%}

{%- capture sectionContent -%}    

     <div class="row gy-g row-scroll-cols-3 row-cols-md-6 row-cols-lg-{{ section.settings.colPerRow }} justify-content-{{ logoAlign }}">

        {% for item in section.settings.setting_blocks.items %}

            {%- assign imgSizeSm = '175,175' -%}
            {%- assign imgSizeMd = '118,118' -%}

            {%- case section.settings.colPerRow -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '430,430' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '320,320' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '254,254' -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '210,210' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '178,178' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '155,155' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '136,136' -%}
            {%- endcase -%}

            {%- if item.settings.imgScaleRatio < 1 -%}
                {%- capture imgSizeSm -%}{{- imgSizeSm | split: ',' | first | times: item.settings.imgScaleRatio | round -}},{{- imgSizeSm | split: ',' | last | times: item.settings.imgScaleRatio | round -}}{%- endcapture %}
                {%- capture imgSizeLg -%}{{- imgSizeLg | split: ',' | first | times: item.settings.imgScaleRatio | round -}},{{- imgSizeLg | split: ',' | last | times: item.settings.imgScaleRatio | round -}}{%- endcapture %}
                {%- capture imgSizeLg -%}{{- imgSizeLg | split: ',' | first | times: item.settings.imgScaleRatio | round -}},{{- imgSizeLg | split: ',' | last | times: item.settings.imgScaleRatio | round -}}{%- endcapture %}
                {%- assign imgSizeSm = imgSizeSm -%}
                {%- assign imgSizeMd = imgSizeMd -%}
                {%- assign imgSizeLg = imgSizeLg -%}
            {%- endif -%}

            {%- assign imgWidth = imgSizeLg | split: ',' | first -%}
            {%- assign imgHeight = imgSizeLg | split: ',' | last -%}

            <div class="col d-flex align-items-center justify-content-center">

                <div class="aspect-ratio-auto" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}"{% if item.settings.imgScaleRatio < 1 %} style="--img-scale-ratio: {{ item.settings.imgScaleRatio }}"{% endif %}>

                    <div class="aspect-ratio-container">

                        {% if item.settings.img %}

                             <picture>
                                <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                    {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                    {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                    {{- item.settings.img | thumb: imgSizeMd }} 1x,
                                    {{- item.settings.img | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                <source data-srcset="
                                    {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                    {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                <img
                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item"
                                    alt="{{ item.settings.img.alt }}"
                                    src="{{ item.settings.img | thumb: imgSizeSm }}"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>
                            </picture>

                        {% else %}

                            {%- capture imgSrc -%}
                                {%- render 'placeholder-svg', type: 'image', base64: true, width: imgWidth, height: imgHeight -%}
                            {%- endcapture -%}

                            <img
                                class="lazy d-block mx-auto img-fluid aspect-ratio-item svg-placeholder"
                                alt=""
                                data-src="{{- imgSrc | strip_newlines -}}">

                        {% endif %}

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false %}

{% schema %}
{
    "name": {
        "en": "Logo showcase",
        "fi": "Logolista"
    },
    "tag": "section",
    "class": "section section-logo-showcase",
    "category": "theme-icon",
    "keywords": {
        "en": [
            "Logos",
            "Brands",
            "Partners",
            "Manufacturers",
            "List",
            "Image",
            "Icon"
        ],
        "fi": [
            "Logot",
            "Brändit",
            "Kumppanit",
            "Valmistajat",
            "Lista",
            "Kuva",
            "Ikoni"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "colPerRow",
                        "label": {
                            "en": "Logos per row",
                            "fi": "Logoja per rivi"
                        },
                        "type": "radio-pill",
                        "default": 9,
                        "options": [
                            {
                                "value": 3,
                                "label": "3"
                            },
                            {
                                "value": 4,
                                "label": "4"
                            },
                            {
                                "value": 5,
                                "label": "5"
                            },
                            {
                                "value": 6,
                                "label": "6"
                            },
                            {
                                "value": 7,
                                "label": "7"
                            },
                            {
                                "value": 8,
                                "label": "8"
                            },
                            {
                                "value": 9,
                                "label": "9"
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Logos",
                    "fi": "Logot"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a logo",
                    "fi": "Lisää logo"
                },
                "is_sortable": true,
                "display_icons": true,
                "setting_blocks": [
                    {
                        "type": "image",
                        "title": {
                            "en": "Image",
                            "fi": "Kuva"
                        },
                        "settings": [
                            {
                                "id": "img",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                },
                                "adjustments": true
                            },
                            {
                                "id": "imgScaleRatio",
                                "label": {
                                    "en": "Image scaling",
                                    "fi": "Kuvan skaalaus"
                                },
                                "type": "range",
                                "min": 0.3,
                                "max": 1,
                                "step": 0.1,
                                "default": 1
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading text align",
                                        "fi": "Otsikon tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "logoAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Logo align",
                                        "fi": "Logon tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": "Oma"
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": "Väri",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        }
                    ]
                }
            }
        }
    ]
}
{% endschema %}