{%- assign activeSortOption = manufacturer.sort_by | default: manufacturer.default_sort_by -%}
{%- assign sortOptions = manufacturer.sort_options -%}
{%- assign animatedItemsCount = settings.productPerRow | times: 2 -%}

{%- if manufacturer.products.size > 0 -%}
    {%- assign itemCount = manufacturer.products.size -%}
{%- elsif request.design_mode -%}
    {%- assign itemCount = settings.productPerRow | times: 4 -%}
{%- endif -%}

{%- capture sectionContent -%}

	{%- paginate manufacturer.products by 100 -%}

		<div class="row mb-g position-relative z-1" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}">

            <div class="col-auto">

                <span class="text-muted">
                    {%- if itemCount == 1 -%}
                        {{- 'general.product_count' | t: amount: itemCount -}}
                    {%- else -%}
                        {{- 'general.product_plural_count' | t: amount: itemCount -}}
                    {%- endif -%}
                </span>

            </div>

        </div>

	    <div class="row gy-g row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ settings.productPerRow }}">

            {% if manufacturer.products.size > 0 %}

                {% for product in manufacturer.products %}

                    <div class="col"{% if forloop.index <= animatedItemsCount %} data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}"{% endif %}>

                        {%- render 'product-card-grid', product: product -%}

                    </div>

                {% endfor %}

            {% elsif request.design_mode %}

                {% for num in (1..itemCount) %}

                    <div class="col"{% if forloop.index <= animatedItemsCount %} data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}"{% endif %}>

                        {%- render 'product-card-grid' -%}

                    </div>

                {% endfor %}

            {% endif %}

	    </div>

	    <div class="row" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}">

	        <div class="col">

	            {% render 'pagination', paginate: paginate %}

	        </div>

	    </div>

        {%- if settings.schemaItemList -%}
            {% render 'schemas/itemlist', items: manufacturer.products, paginate: paginate %}
        {%- endif -%}

	{%- endpaginate -%}

{%- endcapture -%}

{% render 'section', section: section, sectionTitle: manufacturer.title, sectionTitleTag: 'h1', sectionDescription: manufacturer.description, sectionContent: sectionContent, sectionContentAnimation: false, sectionHeaderGapScale: 1, sectionInnerGap: '2rem' %}

{% schema %}
{
    "name": {
        "en": "Manufacturer",
        "fi": "Valmistaja"
    },
    "tag": "section",
    "class": "section section-manufacturer",
    "is_creatable": false
}
{% endschema %}