{% assign sectionAnimationOrder = 0 %}

{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.richtext -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTextAlign == 'nil' -%}
    {%- assign sectionTextAlign = settings.sectionTextAlign -%}
{% else %}
    {%- assign sectionTextAlign = section.settings.sectionTextAlign -%}
{%- endif -%}

{%- case sectionTextAlign -%}
    {% when 'start' %}
        {%- assign contentAlign = 'me-auto' -%}
    {% when 'center' %}
        {%- assign contentAlign = 'mx-auto' -%}
    {% when 'end' %}
        {%- assign contentAlign = 'ms-auto' -%}
{%- endcase -%}

{%- capture sectionContent -%}

    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

    <div data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

        {% form 'customer', customer %}

            {% if form.posted_successfully? %}

                <script type="application/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        document.dispatchEvent(new CustomEvent('theme:newsletter:subscribe', {
                            detail: {
                                email: {{ form.email | json }}
                            }
                        }));
                    });
                </script>

            {% endif %}

            {% if customer and customer.accepts_marketing %}

                <span class="d-block fw-bold">
                    {{- 'general.newsletter_subscribed' | t -}}
                </span>

            {% elsif form.posted_successfully? %}

                <span class="d-block fw-bold">
                    {{- 'general.newsletter_subscribed' | t -}}
                </span>

            {% else %}

                <div class="{{ contentAlign }} max-w-px-370">

                    <div class="input-group">
                                                        
                        <div class="form-floating">

                            <input id="footer-middle-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

                            <label for="footer-middle-newsletter">
                                {{- 'general.email' | t -}}
                            </label>

                        </div>

                        <button type="submit" class="btn btn-icon">

                            <span class="text-hidden">
                                {{- 'general.subscribe' | t -}}
                            </span>

                            {% render 'icon', icon: 'angle-right' %}

                        </button>

                    </div>

                    {% render 'form-error', error: form.error, class: 'mt-4' %}

                </div>

            {% endif %}

        {% endform %}

    </div>

    {% if section.settings.showSocialMediaIcons %}

        {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

        {%- capture class -%}
            social-media-buttons-container mt-6
        {%- endcapture -%}

        {%- capture attrs -%}
            data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}"  data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}"
        {%- endcapture -%}

        {% render 'social-media-buttons' class: class, attrs: attrs, preview: request.design_mode %}

    {% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false, sectionDescription: section.settings.richtext, sectionHeaderGapScale: 0.70, sectionInnerGap: '2rem' %}

{% schema %}
{
    "name": {
        "en": "Newsletter",
        "fi": "Uutiskirje"
    },
    "tag": "section",
    "class": "section section-newsletter",
    "category": "theme-marketing",
    "keywords": {
        "en": [
            "Form",
            "Subscribe",
            "Email",
            "Lead"
        ],
        "fi": [
            "Lomake",
            "Tilaa",
            "Sähköposti",
            "Liidi"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "richtext",
                        "type": "richtext",
                        "mode": "simple",
                        "label": {
                            "en": "Description",
                            "fi": "Kuvaus"
                        }
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHighlightItems",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content highlight",
                                        "fi": "Sisällön korostaminen"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content align",
                                        "fi": "Sisällön tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "showSocialMediaIcons",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show social media icons",
                                        "fi": "Näytä sosiaalisen median kuvakkeet"
                                    },
                                    "default": true,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionTitle": "Tilaa uutiskirjeemme",
                "richtext": "<p>Liity sisäpiiriin ja saa ensimmäisenä tietoa kaupan uutuuksista, tarjouksista ja ajankohtaisista tapahtumista.<\/p>"
            }
        },
        {
            "settings": {
                "sectionTextAlign": "center",
                "sectionTitle": "Tilaa uutiskirjeemme",
                "richtext": "<p>Liity sisäpiiriin ja saa ensimmäisenä tietoa kaupan uutuuksista, tarjouksista ja ajankohtaisista tapahtumista.<\/p>",
                "sectionBgImg": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1503602642458-232111445657",
                    "src": "https:\/\/images.unsplash.com\/photo-1503602642458-232111445657",
                    "offset_top": "72",
                    "offset_left": "29",
                    "width": "1980",
                    "height": "1080"
                },
                "sectionBgImgDimming": "15",
                "sectionColorScheme": "dark",
                "showSocialMediaIcons": false
            }
        }
    ]
}
{% endschema %}