{%- assign sectionTitle = 'password_protection.title' | t -%}
{%- assign sectionSubtitle = 'password_protection.subtitle' | t -%}
{%- assign sectionDescription = 'password_protection.description' | t -%}
{%- assign overlayTitle = 'password_protection.login_to_store' | t -%}
{%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

{%- capture sectionContent -%}

    {%- if section.settings.datetime -%}

        {%- assign targetDate = section.settings.datetime | date: '%s' | times: 1000 -%}
        {%- assign currentDate = 'now' | date: '%s' | times: 1000 -%}
        {%- assign diff = targetDate | minus: currentDate -%}

        {%- if section.settings.datetimeShowYears and section.settings.datetimeShowMonths -%}

            {%- assign yearsEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 365.25 -%}
            {%- assign years = diff | divided_by: yearsEquationA | floor -%}

            {%- assign monthsEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 365.25 -%}
            {%- assign monthsEquationB = 1000 | times: 60 | times: 60 | times: 24 | times: 30.44 -%}
            {%- assign months = diff | modulo: monthsEquationA | divided_by: monthsEquationB | floor -%}

            {%- assign daysEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 30.44 -%}
            {%- assign daysEquationB = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign days = diff | modulo: daysEquationA | divided_by: daysEquationB | floor -%}

            {%- assign hoursEquationA = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign hoursEquationB = 1000 | times: 60 | times: 60 -%}
            {%- assign hours = diff | modulo: hoursEquationA | divided_by: hoursEquationB | floor -%}

            {%- assign minutesEquationA = 1000 | times: 60 | times: 60 -%}
            {%- assign minutesEquationB = 1000 | times: 60 -%}
            {%- assign minutes = diff | modulo: minutesEquationA | divided_by: minutesEquationB | floor -%}

            {%- assign secondsEquationA = 1000 | times: 60 -%}
            {%- assign seconds = diff | modulo: secondsEquationA | divided_by: 1000 | floor  -%}

        {%- elsif section.settings.datetimeShowYears -%}

            {%- assign yearsEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 365.25 -%}
            {%- assign years = diff | divided_by: yearsEquationA | floor -%}

            {%- assign daysEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 365.25 -%}
            {%- assign daysEquationB = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign days = diff | modulo: daysEquationA | divided_by: daysEquationB | floor -%}

            {%- assign hoursEquationA = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign hoursEquationB = 1000 | times: 60 | times: 60 -%}
            {%- assign hours = diff | modulo: hoursEquationA | divided_by: hoursEquationB | floor -%}

            {%- assign minutesEquationA = 1000 | times: 60 | times: 60 -%}
            {%- assign minutesEquationB = 1000 | times: 60 -%}
            {%- assign minutes = diff | modulo: minutesEquationA | divided_by: minutesEquationB | floor -%}

            {%- assign secondsEquationA = 1000 | times: 60 -%}
            {%- assign seconds = diff | modulo: secondsEquationA | divided_by: 1000 | floor  -%}

        {%- elsif section.settings.datetimeShowMonths -%}

            {%- assign monthsEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 30.44 -%}
            {%- assign months = diff | divided_by: monthsEquationA | floor -%}

            {%- assign daysEquationA = 1000 | times: 60 | times: 60 | times: 24 | times: 30.44 -%}
            {%- assign daysEquationB = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign days = diff | modulo: daysEquationA | divided_by: daysEquationB | floor -%}

            {%- assign hoursEquationA = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign hoursEquationB = 1000 | times: 60 | times: 60 -%}
            {%- assign hours = diff | modulo: hoursEquationA | divided_by: hoursEquationB | floor -%}

            {%- assign minutesEquationA = 1000 | times: 60 | times: 60 -%}
            {%- assign minutesEquationB = 1000 | times: 60 -%}
            {%- assign minutes = diff | modulo: minutesEquationA | divided_by: minutesEquationB | floor -%}

            {%- assign secondsEquationA = 1000 | times: 60 -%}
            {%- assign seconds = diff | modulo: secondsEquationA | divided_by: 1000 | floor  -%}

        {%- else -%}

            {%- assign daysEquationA = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign days = diff | divided_by: daysEquationA | floor -%}

            {%- assign hoursEquationA = 1000 | times: 60 | times: 60 | times: 24 -%}
            {%- assign hoursEquationB = 1000 | times: 60 | times: 60 -%}
            {%- assign hours = diff | modulo: hoursEquationA | divided_by: hoursEquationB | floor -%}

            {%- assign minutesEquationA = 1000 | times: 60 | times: 60 -%}
            {%- assign minutesEquationB = 1000 | times: 60 -%}
            {%- assign minutes = diff | modulo: minutesEquationA | divided_by: minutesEquationB | floor -%}

            {%- assign secondsEquationA = 1000 | times: 60 -%}
            {%- assign seconds = diff | modulo: secondsEquationA | divided_by: 1000 | floor  -%}

        {%- endif -%}

        {% if seconds > 0 %}

            {%- if request.design_mode == 'edit' -%}
                {%- assign eventName = 'finqu:section:load' -%}
            {%- else -%}
                {%- assign eventName = 'theme:ready' -%}
            {%- endif -%}

            <script defer="defer">
                document.addEventListener('{{- eventName -}}', () => theme.utils.countdown({
                    el: document.querySelector('{{ sectionHandle }} .countdown-container'),
                    datetime: {{ section.settings.datetime | json -}},
                    zeroPad: {{ section.settings.datetimeZeroPad | json -}},
                    hideTimeUnitOnZero: {{ section.settings.datetimeHideTimeUnitOnZero | json -}},
                    showYears: {{ section.settings.datetimeShowYears | json -}},
                    showMonths: {{ section.settings.datetimeShowMonths | json -}},
                    events: {
                        complete: () => location.reload()
                    }
                }));
            </script>

            <div class="countdown-container mb-7">

                <div class="countdown">

                    {% if section.settings.datetimeShowYears %}

                        {% unless years == 0 and section.settings.datetimeHideTimeUnitOnZero %}

                            <div class="countdown-item">

                                <span class="countdown-item-value" data-countdown-years>
                                    {%- if years < 10 and section.settings.datetimeZeroPad -%}
                                        0{{ years -}}
                                    {%- else -%}
                                        {{- years -}}
                                    {%- endif -%}
                                </span>

                                <span class="countdown-item-label">
                                    {{ 'general.datetime.year_plural' | t }}
                                </span>

                            </div>

                        {% endunless %}

                    {% endif %}

                    {% if section.settings.datetimeShowMonths %}

                        {% unless months == 0 and section.settings.datetimeHideTimeUnitOnZero %}

                            <div class="countdown-item">

                                <span class="countdown-item-value" data-countdown-months>
                                    {%- if months < 10 and section.settings.datetimeZeroPad -%}
                                        0{{ months -}}
                                    {%- else -%}
                                        {{- months -}}
                                    {%- endif -%}
                                </span>

                                <span class="countdown-item-label">{{ 'general.datetime.month_plural' | t }}</span>

                            </div>

                        {% endunless %}

                    {% endif %}

                    {% unless days == 0 and section.settings.datetimeHideTimeUnitOnZero %}

                        <div class="countdown-item">

                            <span class="countdown-item-value" data-countdown-days>
                                {%- if days < 10 and section.settings.datetimeZeroPad -%}
                                    0{{ days -}}
                                {%- else -%}
                                    {{- days -}}
                                {%- endif -%}
                            </span>

                            <span class="countdown-item-label">{{ 'general.datetime.day_plural' | t }}</span>

                        </div>

                    {% endunless %}

                    {% unless hours == 0 and section.settings.datetimeHideTimeUnitOnZero %}

                        <div class="countdown-item">

                            <span class="countdown-item-value" data-countdown-hours>
                                {%- if hours < 10 and section.settings.datetimeZeroPad -%}
                                    0{{ hours -}}
                                {%- else -%}
                                    {{- hours -}}
                                {%- endif -%}
                            </span>

                            <span class="countdown-item-label">{{ 'general.datetime.hour_plural' | t }}</span>

                        </div>

                    {% endunless %}

                    {% unless minutes == 0 and section.settings.datetimeHideTimeUnitOnZero %}

                        <div class="countdown-item">

                            <span class="countdown-item-value" data-countdown-minutes>
                                {%- if minutes < 10 and section.settings.datetimeZeroPad -%}
                                    0{{ minutes -}}
                                {%- else -%}
                                    {{- minutes -}}
                                {%- endif -%}
                            </span>

                            <span class="countdown-item-label">{{ 'general.datetime.minute_plural' | t }}</span>

                        </div>

                    {% endunless %}

                    <div class="countdown-item">

                        <span class="countdown-item-value" data-countdown-seconds>
                            {%- if seconds < 10 and section.settings.datetimeZeroPad -%}
                                0{{ seconds -}}
                            {%- else -%}
                                {{- seconds -}}
                            {%- endif -%}
                        </span>

                        <span class="countdown-item-label">{{ 'general.datetime.second_plural' | t }}</span>

                    </div>

                </div>

            </div>

        {% endif %}

    {% endif %}

	<div class="row justify-content-center">

		<div class="col-md-8 col-lg-8">

			{% form 'customer', customer %}

				{% if form.posted_successfully? %}

                    <script type="application/javascript">
                        document.addEventListener('DOMContentLoaded', function() {
                            document.dispatchEvent(new CustomEvent('theme:newsletter:subscribe', {
                                detail: {
                                    email: {{ form.email | json }}
                                }
                            }));
                        });
                    </script>

                {% endif %}

		        {% if customer and customer.accepts_marketing %}

			        <span class="d-block fw-bold text-center">

			            {{- 'password_protection.newsletter_subscribed' | t -}}

			        </span>

		        {% elsif form.posted_successfully? %}

		        	<span class="d-block fw-bold text-center">

		            	{{- 'password_protection.newsletter_subscribed' | t -}}

		            </span>

		        {% else %}

		            <div class="mb-4 form-floating">

		                <input id="footer-middle-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

		                <label for="footer-middle-newsletter">
		                    {{- 'general.email' | t -}}
		                </label>

		            </div>

		            {% render 'form-error', error: form.error, class: 'mb-4' %}

		            <button type="submit" class="btn d-block w-100 btn-secondary">
		                {{- 'password_protection.newsletter_cta' | t -}}
		            </button>

		        {% endif %}

		    {% endform %}

		</div>

	</div>

    <hr class="mt-5 mb-5">

    {%- capture class -%}
        password-social-media-buttons-container text-center
    {%- endcapture -%}

    {% render 'social-media-buttons' class: class, preview: request.design_mode %}

    <div class="text-center mt-4">

	    <button type="button" id="password-overlay-action-show" class="btn-text fw-bold text-underline-indicator">
	        {{- 'password_protection.login_to_store' | t -}}
	    </button>

	</div>

{%- endcapture -%}

{%- capture sectionCustomContent -%}

	{%- capture overlaySectionContent -%}

		<div class="row justify-content-center">

			<div class="col-md-8 col-lg-8">

			    {% form 'store_password', id: 'password-form' %}

			        <div class="mb-4 form-floating">

			            <input type="password" class="form-control" id="store-password" name="password" placeholder="{{ 'account.information.password' | t }}"required>

			            <label for="store-password">
			                {{- 'account.information.password' | t -}}
			            </label>

			        </div>

			        {% render 'form-error', error: form.error, class: 'mb-4' %}

			        <button type="submit" class="btn btn-primary d-block w-100">
			        	{{- 'password_protection.login_to_store_cta' | t -}}
			        </button>

			    {% endform %}

			</div>

		</div>

	{%- endcapture -%}

	{%- capture overlaySecondaryAction -%}

        <div class="position-relative">

            <button type="button" id="password-overlay-action-hide" class="btn btn-text" aria-label="{{ 'general.close' | t }}">
                {%- render 'icon', icon: 'close', class: 'svg-icon-2x' -%}
            </button>

        </div>

	{%- endcapture -%}

	<div class="password-overlay-container{% if submitted_form.id == 'password-form' %} active{% endif %}">

		<div class="password-overlay">

			{% render 'section', sectionTitle: overlayTitle, sectionTitleClass: 'h2' sectionContent: overlaySectionContent, sectionContainer: 'tiny', sectionOverlay: true, sectionHeight: '100vh', sectionHeaderTextAlign: 'center', sectionHeaderSecondaryAction: overlaySecondaryAction, sectionAnimation: false %}

		</div>

	</div>

{%- endcapture -%}

{% render 'section', sectionHandle: sectionHandle, sectionTitle: sectionTitle, sectionTitleTag: 'h1', sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionContent: sectionContent, sectionContainer: 'tiny', sectionOverlay: settings.sectionOverlay, sectionHeight: '100vh', sectionHeaderTextAlign: 'center', sectionCustomContent: sectionCustomContent, sectionHeaderGapScale: 1, sectionPaddingMode: 'custom', sectionPaddingTop: '20rem', sectionPaddingBottom: '20rem' %}

{% schema %}
{
    "name": {
        "en": "Password",
        "fi": "Salasana"
    },
    "tag": "section",
    "class": "section section-password",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Countdown",
                            "fi": "Ajastin"
                        }
                    },
                    {
                        "id": "datetime",
                        "type": "datetime",
                        "label": {
                            "en": "Datetime",
                            "fi": "Päivämäärä"
                        }
                    },
                    {
                        "id": "datetimeZeroPad",
                        "type": "checkbox",
                        "label": {
                            "en": "Display numbers in 2 digits (01:23:05)",
                            "fi": "Näytä luvut aina 2 numerolla (01:23:05)"
                        },
                        "default": true
                    },
                    {
                        "id": "datetimeHideTimeUnitOnZero",
                        "type": "checkbox",
                        "label": {
                            "en": "Hide digit when it is zero",
                            "fi": "Piilota luku kun se on nolla"
                        },
                        "default": false
                    },
                    {
                        "id": "datetimeShowYears",
                        "type": "checkbox",
                        "label": {
                            "en": "Show years in countdown",
                            "fi": "Näytä ajastimessa vuodet"
                        },
                        "default": false
                    },
                    {
                        "id": "datetimeShowMonths",
                        "type": "checkbox",
                        "label": {
                            "en": "Show months in countdown",
                            "fi": "Näytä ajastimessa kuukaudet"
                        },
                        "default": false
                    }
                ]
            }
        ]
    }
}
{% endschema %}