{%- capture sectionAction -%}
    {% render 'section-quick-link', section: section %}
{%- endcapture -%}

{%- capture sectionContent -%}

    {%- if section.settings.setting_blocks.items.size > 0 -%}

        {%- assign items = section.settings.setting_blocks.items -%}

    {%- else -%}

        {%- case section.settings.listType -%}
            {% when 'discounted' %}
                {%- assign items = products.discounted -%}
            {% when 'new' %}
                {%- assign items = products.new_products -%}
            {% when 'recent' %}
                {%- assign items = products.recent -%}
            {% when 'tag' %}
                {%- assign items = products.tags[section.settings.tagId] -%}
            {% when 'category' %}
                {%- assign items = categories[section.settings.category.id].products -%}
            {% when 'manufacturer' %}
                {%- assign items = manufacturers[section.settings.manufacturer.id].products -%}
        {%- endcase -%}

        {%- assign items = items | slice: 0, section.settings.productAmount -%}

    {%- endif -%}

    <div class="row gy-g row-scroll-cols-2 row-scroll-cols-md-3 row-cols-lg-{% if section.settings.customDisplayInformation %}{{ section.settings.productPerRow }}{% else %}{{ settings.productPerRow }}{% endif %}">

        {% if items.size > 0 %}

            {% for item in items %}

                {%- if section.settings.setting_blocks.items.size > 0 -%}
                    {%- assign item = item.settings.product -%}
                {%- endif -%}

                <div class="col" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index }}">

                    {% if section.settings.customDisplayInformation %}

                        {%- render 'product-card-grid', product: item, productPerRow: section.settings.productPerRow, showProductName: section.settings.showProductName, showManufacturer: section.settings.showManufacturer, showPromotion: section.settings.showPromotion, section.settings.showPricing, showRating: section.settings.showRating, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showVariants: section.settings.showVariants -%}

                    {% else %}

                        {%- render 'product-card-grid', product: item -%}

                    {% endif %}  

                </div>

            {% endfor %}

        {% elsif request.design_mode %}

            {% for num in (1..section.settings.productAmount) %}

                <div class="col" data-aos="{{ settings.sectionAnimation }}" data-aos-delay style="--aos-order: {{ forloop.index }}">

                    {% if section.settings.customDisplayInformation %}

                        {%- render 'product-card-grid', productPerRow: section.settings.productPerRow, showProductName: section.settings.showProductName, showManufacturer: section.settings.showManufacturer, showPromotion: section.settings.showPromotion, showPricing: section.settings.showPricing, showRating: section.settings.showRating, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showVariants: section.settings.showVariants -%}

                    {% else %}

                        {%- render 'product-card-grid' -%}

                    {% endif %}  

                </div>

            {% endfor %}

        {% endif %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionAction: sectionAction, sectionContent: sectionContent, sectionContentAnimation: false %}

{% schema %}
{
    "name": {
        "en": "Product list",
        "fi": "Tuotelista"
    },
    "tag": "section",
    "class": "section section-product-list",
    "category": "theme-product",
    "keywords": {
        "en": [
            "Product",
            "List"
        ],
        "fi": [
            "Tuote",
            "Lista"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "sectionQuickLinkResource",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_text": true
                    },
                    {
                        "id": "listType",
                        "type": "select",
                        "label": {
                            "en": "Select the products to display or add one by one",
                            "fi": "Valitse näytettävät tuotteet tai lisää manuaalisesti"
                        },
                        "default": "recent",
                        "options": [
                            {
                                "value": "discounted",
                                "label": {
                                    "en": "Discounted products",
                                    "fi": "Alennetut tuotteet"
                                }
                            },
                            {
                                "value": "new",
                                "label": {
                                    "en": "New products",
                                    "fi": "Uudet tuotteet"
                                }
                            },
                            {
                                "value": "recent",
                                "label": {
                                    "en": "Recently added products",
                                    "fi": "Viimeksi lisätyt tuotteet"
                                }
                            },
                            {
                                "value": "tag",
                                "label": {
                                    "en": "Tag products",
                                    "fi": "Tagi tuotteet"
                                }
                            },
                            {
                                "value": "category",
                                "label": {
                                    "en": "Product category products",
                                    "fi": "Tuoteryhmän tuotteet"
                                }
                            },
                            {
                                "value": "manufacturer",
                                "label": {
                                    "en": "Manufaturer products",
                                    "fi": "Valmistajan tuotteet"
                                }
                            }
                        ]
                    },
                    {
                        "id": "tagId",
                        "type": "text",
                        "label": {
                            "en": "Tag",
                            "fi": "Tag"
                        },
                        "conditions": ["listType eq tag"]
                    },
                    {
                        "id": "category",
                        "type": "category",
                        "label": {
                            "en": "Category",
                            "fi": "Tuoteryhmä"
                        },
                        "conditions": ["listType eq category"]
                    },
                    {
                        "id": "manufacturer",
                        "type": "manufacturer",
                        "label": {
                            "en": "manufacturer",
                            "fi": "Valmistaja"
                        },
                        "conditions": ["listType eq manufacturer"]
                    },
                    {
                        "id": "productAmount",
                        "label": {
                            "en": "Product amount",
                            "fi": "Tuotemäärä"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 20,
                        "step": 1,
                        "default": 8,
                        "unit": " "
                    },
                    {
                        "id": "customDisplayInformation",
                        "type": "checkbox",
                        "label": {
                            "en": "Select the information to display",
                            "fi": "Valitse näytettävät tiedot"
                        },
                        "default": false
                    },
                    {
                        "type": "separator",
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "productPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "radio-pill",
                        "default": 3,
                        "options": [
                            {
                                "value": 2,
                                "label": "2"
                            },
                            {
                                "value": 3,
                                "label": "3"
                            },
                            {
                                "value": 4,
                                "label": "4"
                            },
                            {
                                "value": 5,
                                "label": "5"
                            },
                            {
                                "value": 6,
                                "label": "6"
                            }
                        ],
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Name",
                            "fi": "Nimi"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Manufacturer",
                            "fi": "Valmistaja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotion",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion",
                            "fi": "Kampanja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Price information",
                            "fi": "Hintatiedot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showRating",
                        "type": "checkbox",
                        "label": {
                            "en": "Rating",
                            "fi": "Tuotearvosteluluokitus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showNewBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "New badge",
                            "fi": "Uutuusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotionBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion badge",
                            "fi": "Kampanjamerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showDiscountBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Discount badge",
                            "fi": "Alennusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showOutOfStockBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Out of stock badge",
                            "fi": "Loppumerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showAddToCart",
                        "type": "checkbox",
                        "label": {
                            "en": "Add to cart button",
                            "fi": "Lisää ostoskoriin -painike"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showStockBalance",
                        "type": "checkbox",
                        "label": {
                            "en": "Show stock balance",
                            "fi": "Näytä saatavuus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showVariants",
                        "type": "checkbox",
                        "label": {
                            "en": "Show variants",
                            "fi": "Näytä variaatiot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    }
                ]
            },
            {
                "title": {
                    "en": "Products",
                    "fi": "Tuotteet"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a product",
                    "fi": "Lisää tuote"
                },
                "is_sortable": true,
                    "setting_blocks": [
                        {
                            "type": "product",
                            "title": {
                                "en": "Product",
                                "fi": "Tuote"
                            },
                            "settings": [
                                {
                                    "id": "product",
                                    "type": "product",
                                    "label": {
                                        "en": "Product",
                                        "fi": "Tuote"
                                    },
                                    "info": {
                                        "en": "The content is automatically generated from the selected product.",
                                        "fi": "Sisältö täydennetään automaattisesti valitusta tuotteesta."
                                    }
                                }
                            ]
                        }
                    ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHighlightItems",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content highlight",
                                        "fi": "Sisällön korostaminen"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading text align",
                                        "fi": "Otsikon tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content align",
                                        "fi": "Sisällön tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionQuickLinkStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ],
                                    "conditions": ["!sectionQuickLinkResource eq blank"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionTitle": "Suosituimmat tuotteet"
            }
        }
    ]
}
{% endschema %}