{% if section.settings.customDisplayInformation %}
    {%- assign productPerRow = section.settings.productPerRow -%}
{% else %}
    {%- assign productPerRow = settings.productPerRow -%}
{% endif %}

{%- capture sectionStyle -%}
    #finqu-section-{{ section.id }} .swiper-slide {
        --swiper-slide-width: 50;
        --swiper-slide-width-sm: 25;
        --swiper-slide-width-md: 33.333333;
        --swiper-slide-width-lg: {{ 100 | divided_by: productPerRow }};
    }
    #finqu-section-{{ section.id }} .swiper-slide.promotion-slide {
        --swiper-slide-width: 80;
        --swiper-slide-width-sm: 50;
        --swiper-slide-width-md: 30;
        --swiper-slide-width-lg: 30;
    }
    #finqu-section-{{ section.id }} .promotion-slide {
        --style-text-color: {{ section.settings.promotionTextColor }};
        --style-link-color: {{ section.settings.promotionTextColor }};
        --style-heading-color: {{ section.settings.promotionTextColor }};
        --style-accent-color: {{ section.settings.promotionTextColor }};
    }
{%- endcapture -%}

<style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- capture sectionAction -%}
    {% render 'section-quick-link', section: section %}
{%- endcapture -%}

{%- capture sectionContent -%}

    {%- if section.settings.setting_blocks.items.size > 0 -%}

        {%- assign items = section.settings.setting_blocks.items -%}
        {%- assign productAmount = items | size -%}

    {%- else -%}

        {%- case section.settings.listType -%}
            {% when 'discounted' %}
                {%- assign items = products.discounted -%}
            {% when 'new' %}
                {%- assign items = products.new_products -%}
            {% when 'recent' %}
                {%- assign items = products.recent -%}
            {% when 'tag' %}
                {%- assign items = products.tags[section.settings.tagId] -%}
            {% when 'category' %}
                {%- assign items = categories[section.settings.category.id].products -%}
            {% when 'manufacturer' %}
                {%- assign items = manufacturers[section.settings.manufacturer.id].products -%}
        {%- endcase -%}

        {%- assign productAmount = section.settings.productAmount -%}

    {%- endif -%}

    {%- assign carouselProducts = items | slice: 0, section.settings.productAmount -%}

    {%- capture carouselSlides -%}
    
        {%- assign carouselSlideIndex = 0 -%}

        {% if section.settings.showPromotionSlide %}

            {%- assign carouselSlideIndex = 1 -%}

            {%- capture promotionImg -%}

                {%- capture placeholderSvg -%}
                    {%- render 'placeholder-svg', type: 'image', base64: true, width: 500, height: 500 -%}
                {%- endcapture -%}

                {%- if section.settings.promotionImg -%}
                    {% if section.settings.promotionImgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.promotionImgDimming -}}%), rgb(0,0,0, {{- section.settings.promotionImgDimming -}}%)) | {% endif %}url('{{- section.settings.promotionImg | thumb: '500,500' -}}') 1x, url('{{- section.settings.promotionImg | thumb: '500,500' | thumb: '@2x' -}}') 2x
                {%- else -%}
                    {% if section.settings.promotionImgDimming > 0 %}linear-gradient(0deg, rgb(0,0,0, {{- section.settings.promotionImgDimming -}}%), rgb(0,0,0, {{- section.settings.promotionImgDimming -}}%)) | {% endif %}url('{{ placeholderSvg | strip }}') 1x
                {%- endif -%}

            {%- endcapture -%}

            <div class="swiper-slide promotion-slide{% if carouselProducts.size < 1 and request.design_mode == false %} min-h-px-350 min-h-px-md-500{% endif %}">

                <div class="rounded-product-image overflow-hidden h-100">

                    <div class="ct-inline-size d-flex flex-column justify-content-end p-4 h-100 img-indicator-zoom lazy bg-accent{% if tab.settings.promotionImg %} bg-size-cover{% endif %}" data-bg-set="{{- promotionImg | strip -}}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ carouselSlideIndex }}{% if section.settings.promotionImg.offset_left or section.settings.promotionImg.offset_top %} --bg-position: {{ section.settings.promotionImg.offset_left }}% {{ section.settings.promotionImg.offset_top }}%{% endif %}">

                        {% if section.settings.promotionText %}

                            <p class="display-5 fs-cqi text-style-accent">
                                {{ section.settings.promotionText }}
                            </p>

                        {% endif %}

                        {% if section.settings.promotionLinkResource.text %}

                            <div>

                                <a href="{{ section.settings.promotionLinkResource.url | default: '#' }}" class="lead text-underline-indicator">
                                    {{ section.settings.promotionLinkResource.text }}
                                </a>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

        {% endif %}

        {% if carouselProducts.size > 0 %}

            {% for product in carouselProducts %}

                {%- if product.settings.product -%}
                    {%- assign product = product.settings.product -%}
                {%- endif -%}

                <div class="swiper-slide">

                    <div class="swiper-slide-inner" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index | plus: carouselSlideIndex }}">

                        {% if section.settings.customDisplayInformation %}

                            {%- render 'product-card-grid', product: product, productPerRow: productPerRow, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showBackorderBadge: section.settings.showBackorderBadge, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showManufacturer: section.settings.showManufacturer, showName: section.settings.showProductName, showPricing: section.settings.showPricing, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showStockBalanceAsNumber: section.settings.showStockBalanceAsNumber, showVariants: section.settings.showVariants -%}

                        {% else %}

                            {%- render 'product-card-grid', product: product, productPerRow: productPerRow -%}

                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        {% elsif request.design_mode %}

            {% for num in (1..productAmount) %}

                <div class="swiper-slide">

                    <div class="swiper-slide-inner" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ forloop.index | plus: carouselSlideIndex }}">

                        {% if section.settings.customDisplayInformation %}

                            {%- render 'product-card-grid', productPerRow: productPerRow, productPerRow: productPerRow, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showBackorderBadge: section.settings.showBackorderBadge, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showManufacturer: section.settings.showManufacturer, showName: section.settings.showProductName, showPricing: section.settings.showPricing, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showStockBalanceAsNumber: section.settings.showStockBalanceAsNumber, showVariants: section.settings.showVariants -%}

                        {% else %}

                            {%- render 'product-card-grid', productPerRow: productPerRow -%}

                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        {% endif %}

    {%- endcapture -%}

    {%- render 'swiper', slides: carouselSlides, pagination: section.settings.carouselPagination, navigation: section.settings.carouselNavigation, slidesPerView: 'auto', style: section.settings.carouselStyle, paginationPosition: 'relative', evenHeightSlides: true, standalone: true, freemode: true, autoplaySpeed: section.settings.carouselAutoplaySpeed -%}

{%- endcapture -%}

{% render 'section', section: section, sectionAction: sectionAction, sectionContent: sectionContent, sectionContentOverflow: 'hidden', sectionContentAnimation: false %}

{% schema %}
{
    "name": {
        "en": "Product carousel",
        "fi": "Tuotekaruselli"
    },
    "tag": "section",
    "class": "section section-product-carousel",
    "category": "theme-product",
    "keywords": {
        "en": [
            "Product",
            "Carousel"
        ],
        "fi": [
            "Tuote",
            "Karuselli"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "sectionDescription",
                        "type": "richtext",
                        "label": {
                            "en": "Description",
                            "fi": "Kuvaus"
                        },
                        "conditions": ["sectionAdditionalText eq true"]
                    },
                    {
                        "id": "sectionQuickLinkResource",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_text": true
                    },
                    {
                        "id": "listType",
                        "type": "select",
                        "label": {
                            "en": "Select the products to display or add one by one",
                            "fi": "Valitse näytettävät tuotteet tai lisää manuaalisesti"
                        },
                        "default": "recent",
                        "options": [
                            {
                                "value": "discounted",
                                "label": {
                                    "en": "Discounted products",
                                    "fi": "Alennetut tuotteet"
                                }
                            },
                            {
                                "value": "new",
                                "label": {
                                    "en": "New products",
                                    "fi": "Uudet tuotteet"
                                }
                            },
                            {
                                "value": "recent",
                                "label": {
                                    "en": "Recently added products",
                                    "fi": "Viimeksi lisätyt tuotteet"
                                }
                            },
                            {
                                "value": "tag",
                                "label": {
                                    "en": "Tag products",
                                    "fi": "Tagi tuotteet"
                                }
                            },
                            {
                                "value": "category",
                                "label": {
                                    "en": "Product category products",
                                    "fi": "Tuoteryhmän tuotteet"
                                }
                            },
                            {
                                "value": "manufacturer",
                                "label": {
                                    "en": "Manufaturer products",
                                    "fi": "Valmistajan tuotteet"
                                }
                            }
                        ]
                    },
                    {
                        "id": "tagId",
                        "type": "text",
                        "label": {
                            "en": "Tag",
                            "fi": "Tag"
                        },
                        "conditions": ["listType eq tag"]
                    },
                    {
                        "id": "category",
                        "type": "category",
                        "label": {
                            "en": "Category",
                            "fi": "Tuoteryhmä"
                        },
                        "conditions": ["listType eq category"]
                    },
                    {
                        "id": "manufacturer",
                        "type": "manufacturer",
                        "label": {
                            "en": "manufacturer",
                            "fi": "Valmistaja"
                        },
                        "conditions": ["listType eq manufacturer"]
                    },
                    {
                        "id": "productAmount",
                        "label": {
                            "en": "Product amount",
                            "fi": "Tuotemäärä"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 20,
                        "step": 1,
                        "default": 8,
                        "unit": " "
                    },
                    {
                        "id": "customDisplayInformation",
                        "type": "checkbox",
                        "label": {
                            "en": "Select the information to display",
                            "fi": "Valitse näytettävät tiedot"
                        },
                        "default": false
                    },
                    {
                        "type": "separator",
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "productPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "radio-pill",
                        "default": 3,
                        "options": [
                            {
                                "value": 2,
                                "label": "2"
                            },
                            {
                                "value": 3,
                                "label": "3"
                            },
                            {
                                "value": 4,
                                "label": "4"
                            },
                            {
                                "value": 5,
                                "label": "5"
                            },
                            {
                                "value": 6,
                                "label": "6"
                            }
                        ],
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Name",
                            "fi": "Nimi"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Manufacturer",
                            "fi": "Valmistaja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotion",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion",
                            "fi": "Kampanja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Price information",
                            "fi": "Hintatiedot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showRating",
                        "type": "checkbox",
                        "label": {
                            "en": "Rating",
                            "fi": "Tuotearvosteluluokitus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showNewBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "New badge",
                            "fi": "Uutuusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotionBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion badge",
                            "fi": "Kampanjamerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showDiscountBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Discount badge",
                            "fi": "Alennusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showOutOfStockBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Out of stock badge",
                            "fi": "Loppumerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showBackorderBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Backorder badge",
                            "fi": "Tilattavissa-merkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showAddToCart",
                        "type": "checkbox",
                        "label": {
                            "en": "Add to cart button",
                            "fi": "Lisää ostoskoriin -painike"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showStockBalance",
                        "type": "checkbox",
                        "label": {
                            "en": "Show stock balance",
                            "fi": "Näytä saatavuus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showStockBalanceAsNumber",
                        "type": "checkbox",
                        "label": {
                            "en": "Show stock balance as number",
                            "fi": "Näytä saatavuus numerona"
                        },
                        "default": false,
                        "conditions": [
                            "!showStockBalance eq false",
                            "customDisplayInformation eq true"
                        ]
                    },
                    {
                        "id": "showVariants",
                        "type": "checkbox",
                        "label": {
                            "en": "Show variants",
                            "fi": "Näytä variaatiot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Promotion",
                            "fi": "Mainos"
                        }
                    },
                    {
                        "id": "showPromotionSlide",
                        "type": "checkbox",
                        "label": {
                            "en": "Show promotion",
                            "fi": "Näytä mainos"
                        },
                        "default": false
                    },
                    {
                        "id": "promotionText",
                        "type": "text",
                        "label": {
                            "en": "Description",
                            "fi": "Kuvaus"
                        },
                        "conditions": ["showPromotionSlide eq true"]
                    },
                    {
                        "id": "promotionLinkResource",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_target": true,
                        "include_text": true,
                        "conditions": ["showPromotionSlide eq true"]
                    },
                    {
                        "id": "promotionTextColor",
                        "type": "color",
                        "label": {
                            "en": "Text color",
                            "fi": "Tekstin väri"
                        },
                        "default": "#ffffff",
                        "conditions": ["showPromotionSlide eq true"]
                    },
                    {
                        "id": "promotionImg",
                        "type": "image-picker",
                        "label": {
                            "en": "Image",
                            "fi": "Kuva"
                        },
                        "conditions": ["showPromotionSlide eq true"]
                    },
                    {
                        "id": "promotionImgDimming",
                        "label": {
                            "en": "Image dimming",
                            "fi": "Kuvan tummennus"
                        },
                        "type": "range",
                        "min": 0,
                        "max": 90,
                        "step": 10,
                        "default": "20",
                        "unit": "%",
                        "conditions": [
                            "showPromotionSlide eq true",
                            "!promotionImg eq false"
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Products",
                    "fi": "Tuotteet"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a product",
                    "fi": "Lisää tuote"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "product",
                        "title": {
                            "en": "Product",
                            "fi": "Tuote"
                        },
                        "settings": [
                            {
                                "id": "product",
                                "type": "product",
                                "label": {
                                    "en": "Product",
                                    "fi": "Tuote"
                                },
                                "info": {
                                    "en": "Content will be populated automatically from the selected product.",
                                    "fi": "Sisältö täydennetään automaattisesti valitusta tuotteesta."
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHighlightItems",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content highlight",
                                        "fi": "Sisällön korostaminen"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading text align",
                                        "fi": "Otsikon tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content align",
                                        "fi": "Sisällön tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionQuickLinkStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ],
                                    "conditions": ["!sectionQuickLinkResource eq blank"]
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Carousel",
                                        "fi": "Karuselli"
                                    }
                                },
                                {
                                    "id": "carouselStyle",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Style",
                                        "fi": "Tyyli"
                                    },
                                    "default": 2,
                                    "options": [
                                        {
                                            "value": 1,
                                            "label": {
                                                "en": "Style 1",
                                                "fi": "Tyyli 1"
                                            }
                                        },
                                        {
                                            "value": 2,
                                            "label": {
                                                "en": "Style 2",
                                                "fi": "Tyyli 2"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "carouselNavigation",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show navigation buttons",
                                        "fi": "Näytä navigointipainikkeet"
                                    },
                                    "default": "hover",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": {
                                                "en": "Off",
                                                "fi": "Off"
                                            }
                                        },
                                        {
                                            "value": "hover",
                                            "label": {
                                                "en": "On hover",
                                                "fi": "Osoitin päällä"
                                            }
                                        },
                                        {
                                            "value": "on",
                                            "label": {
                                                "en": "Always",
                                                "fi": "Aina"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "carouselPagination",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show pagination",
                                        "fi": "Näytä sivutus"
                                    },
                                    "default": "on",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": {
                                                "en": "Off",
                                                "fi": "Off"
                                            }
                                        },
                                        {
                                            "value": "hover",
                                            "label": {
                                                "en": "On hover",
                                                "fi": "Osoitin päällä"
                                            }
                                        },
                                        {
                                            "value": "on",
                                            "label": {
                                                "en": "Always",
                                                "fi": "Aina"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "carouselAutoplaySpeed",
                                    "label": {
                                        "en": "Autoplay",
                                        "fi": "Automaattinen toisto"
                                    },
                                    "type": "radio-pill",
                                    "default": 0,
                                    "options": [
                                        {
                                            "value": 0,
                                            "label": "Off"
                                        },
                                        {
                                            "value": 3,
                                            "label": "3 s"
                                        },
                                        {
                                            "value": 5,
                                            "label": "5 s"
                                        },
                                        {
                                            "value": 10,
                                            "label": "10 s"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionAdditionalText",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show description",
                                        "fi": "Näytä kuvaus"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "name": {
                "en": "Product carousel",
                "fi": "Tuotekaruselli"
            },
            "settings": {
                "sectionTitle": "Uudet tulokkaat",
                "listType": "new"
            }
        },
        {
            "name": {
                "en": "Product carousel with promotion",
                "fi": "Tuotekaruselli mainoksella"
            },
            "settings": {
                "sectionTitle": "Uudet tulokkaat",
                "listType": "new",
                "showPromotionSlide": true,
                "promotionText": "Tutustu uutuuksiimme",
                "promotionLinkResource": {
                    "type": "url",
                    "record_id": "",
                    "text": "Shoppaile nyt",
                    "url": "",
                    "target": "_self"
                },
                "promotionTextColor": "#ffffff",
                "promotionImgDimming": "20",
                "promotionImg": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1445633814773-e687a5de9baa",
                    "src": "https:\/\/images.unsplash.com\/photo-1445633814773-e687a5de9baa",
                    "offset_top": "50",
                    "offset_left": "50",
                    "width": "1080",
                    "height": "1080"
                }
            }
        }
    ]
}
{% endschema %}