{%- assign product = section.settings.product -%}
{%- assign productName = product.title | default: '' -%}
{%- assign productManufacturerName = product.manufacturer.title | default: '' -%}
{%- assign productPrice = product.default_or_selected_variant.price | default: '' -%}
{%- assign productNetPrice = product.default_or_selected_variant.net_price | default: '' -%}
{%- assign productOriginalNetPrice = product.default_or_selected_variant.original_net_price | default: '' -%}
{%- assign productOriginalPrice = product.default_or_selected_variant.original_price | default: '' -%}
{%- assign productRating = product.rating -%}
{%- assign productMaxRating = product.max_rating -%}
{%- assign productHasDiscount = product.has_discount | default: false -%}
{%- assign productLinkUrl = product | link | default: '' -%}
{%- assign productLinkText = 'product.view' | t -%}

{%- if product.description.size > 0 -%}
    {%- assign productDescription = product.description | strip_html | strip | truncate: 300 -%}
{%- endif -%}

{%- unless product -%}
    {%- assign productName = 'placeholder.product' | t -%}
    {%- assign productManufacturerName = 'placeholder.manufacturer' | t -%}
    {%- assign productRating = '0,1,2,3,4,5' | split: ',' | random -%}
    {%- assign productMaxRating = 5 -%}
    {%- assign productPriceValues = '4.90,10.50,24.90,39.90,54.90,74.90,80.90,99.90,124.90' | split: ',' -%}
    {%- assign productPrice = productPriceValues | random -%}
    {%- assign productNetPrice = productPrice -%}
    {%- assign productDescription = 'placeholder.product_description' | t -%}
{%- endunless -%}

{%- assign sectionAnimationOrder = 0 -%}

{%- capture sectionStyle -%}
    #finqu-section-{{ section.id }} .product-media-img-container + div {
        transform: translateX(70%);
    }
    #finqu-section-{{ section.id }} .product-media-img-container + div .aspect-ratio-item {
        box-shadow: 0 2px 6px #0003;
    }
{%- endcapture -%}

<style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- capture sectionContent -%}    

     <div class="row gy-g">

        <div class="col-12 col-md-6 order-2 order-md-1 d-flex flex-column justify-content-center">

            {%- if section.settings.showManufacturer and productManufacturerName -%}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="product-manufacturer" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    <span class="text-subtitle">
                        {{- productManufacturerName -}}
                    </span>

                </div>

            {%- endif -%}

            <div class="product-title ct-inline-size" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                {%- if product -%}
                    <a href="{{ productLinkUrl }}">
                {%- endif -%}

                <{{ section.settings.sectionTitleTag }} class="display-6 fs-cqi mb-0 text-title">
                    {{- productName -}}
                </{{ section.settings.sectionTitleTag }}>

                {%- if product -%}
                    </a>
                {%- endif -%}

            </div>

            {%- if section.settings.showRating and productRating > 0  -%}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="product-rating mt-1 fs-3" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    {%- for rating in (1..productMaxRating) -%}

                        {%- if productRating >= rating -%}

                            {%- render 'icon', icon: 'rating', class: 'svg-icon-gap-xs text-review-icon' -%}

                        {%- else -%}

                            {%- render 'icon', icon: 'rating-empty', class: 'svg-icon-gap-xs text-muted' -%}

                        {%- endif -%}

                    {%- endfor -%}

                </div>

            {% endif %}

            {%- if section.settings.showPricing and store.customer_has_purchase_right -%}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="product-price mt-2" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    {%- if productHasDiscount -%}

                        <span class="text-sale-price me-2 fs-2">
                            {{- settings.taxFreeShopping == true | yepnope: productNetPrice, productPrice | money_with_currency -}}
                        </span>

                        <span class="text-decoration-line-through text-muted fs-2">
                            {{- settings.taxFreeShopping == true | yepnope: productOriginalNetPrice, productOriginalPrice | money_with_currency -}}
                        </span>

                    {%- else -%}

                        <span class="text-price fs-2">
                            {{- settings.taxFreeShopping == true | yepnope: productNetPrice, productPrice | money_with_currency -}}
                        </span>

                    {%- endif -%}

                    {%- if section.settings.showPromotion and product.default_or_selected_variant.promotion -%}

                        <div class="product-promotion mt-1">

                            <span class="text-sale-price">
                                {{- product.default_or_selected_variant.promotion.title | strip -}}{% if product.default_or_selected_variant.promotion.description %}: {{ product.default_or_selected_variant.promotion.description -}}{%- endif -%}
                            </span>

                        </div>

                    {% endif %}

                </div>

            {% endif %}

            {%- if section.settings.showDescription -%}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="product-description text-richtext mt-4 fs-6" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    <p>
                        {{- productDescription -}}
                    </p>

                </div>

            {%- endif -%}

            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

            <div class="product-action mt-4" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                {%- render 'section-quick-link', style: section.settings.btnStyle, text: productLinkText, url: productLinkUrl -%}

            </div>

        </div>

        <div class="col-12 col-md-6 order-1 order-md-2 position-relative">

            {%- if product -%}
                <a href="{{ productLinkUrl }}">
            {%- endif -%}

            <div class="product-media d-flex">

                {%- if product.images -%}

                    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
                    {%- assign generalImages = product.images | where: 'attached_to_variant', false -%}

                    {%- if product.first_available_variant.image -%}

                        {%- assign img1 = product.first_available_variant.image -%}
                        {%- assign img2 = generalImages[0] -%}

                    {%- else -%}

                        {%- assign img1 = generalImages[0] -%}
                        {%- assign img2 = generalImages[1] -%}
                        
                    {%- endif -%}
                    
                    {%- if settings.productImageAspectRatio == '9:13' -%}

                        {%- assign imgSizeSm = '236,336' -%}
                        {%- assign imgSizeMd = '286,418' -%}
                        {%- assign imgSizeLg = '394,564' -%}

                    {%- elsif settings.productImageAspectRatio == '4:3' -%}

                        {%- assign imgSizeSm = '236,179' -%}
                        {%- assign imgSizeMd = '286,217' -%}
                        {%- assign imgSizeLg = '394,298' -%}

                    {%- elsif settings.productImageAspectRatio == '3:4' -%}

                        {%- assign imgSizeSm = '236,315' -%}
                        {%- assign imgSizeMd = '286,381' -%}
                        {%- assign imgSizeLg = '394,525' -%}

                    {%- elsif settings.productImageAspectRatio == '1:1' -%}

                        {%- assign imgSizeSm = '236,236' -%}
                        {%- assign imgSizeMd = '286,286' -%}
                        {%- assign imgSizeLg = '394,394' -%}

                    {%- endif -%}

                    <div class="aspect-ratio-product w-60 overflow-visible">

                        <div class="product-media-img-container aspect-ratio-container" data-aos="animation-fadeInLeft" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                            <picture>
                                <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                    {{- img1 | thumb: imgSizeLg }} 1x,
                                    {{- img1 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                    {{- img1 | thumb: imgSizeMd }} 1x,
                                    {{- img1 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                <source data-srcset="
                                    {{- img1 | thumb: imgSizeSm }} 1x,
                                    {{- img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                <img
                                    alt="{{ productName }}" 
                                    data-src="{{ img1 | thumb: imgSizeSm }}"
                                    data-srcset="{{ img1 | thumb: imgSizeSm }} 1x, {{ img1 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                            </picture>

                        </div>

                        {% if img2 %}

                            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                            {%- if settings.productImageAspectRatio == '9:13' -%}

                                {%- assign imgSizeSm = '118,168' -%}
                                {%- assign imgSizeMd = '143,209' -%}
                                {%- assign imgSizeLg = '197,282' -%}

                            {%- elsif settings.productImageAspectRatio == '4:3' -%}

                                {%- assign imgSizeSm = '118,90' -%}
                                {%- assign imgSizeMd = '143,109' -%}
                                {%- assign imgSizeLg = '197,149' -%}

                            {%- elsif settings.productImageAspectRatio == '3:4' -%}

                                {%- assign imgSizeSm = '118,157' -%}
                                {%- assign imgSizeMd = '143,109' -%}
                                {%- assign imgSizeLg = '197,263' -%}

                            {%- elsif settings.productImageAspectRatio == '1:1' -%}

                                {%- assign imgSizeSm = '118,118' -%}
                                {%- assign imgSizeMd = '143,191' -%}
                                {%- assign imgSizeLg = '197,197' -%}

                            {%- endif -%}

                            <div class="position-absolute top-0 end-0 bottom-0 d-flex align-items-center">

                                <div class="aspect-ratio-product overflow-visible" data-aos="animation-fadeInRight" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                    <div class="product-media-img-container aspect-ratio-container">

                                        <picture>
                                            <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                                {{- img2 | thumb: imgSizeLg }} 1x,
                                                {{- img2 | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                            <source media="(min-width: {{ settings.styleGridBreakpointSm }})" data-srcset="
                                                {{- img2 | thumb: imgSizeMd }} 1x,
                                                {{- img2 | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                            <source data-srcset="
                                                {{- img2 | thumb: imgSizeSm }} 1x,
                                                {{- img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                            <img
                                                alt="{{ productName }}" 
                                                data-src="{{ img2 | thumb: imgSizeSm }}"
                                                data-srcset="{{ img2 | thumb: imgSizeSm }} 1x, {{ img2 | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                        </picture>

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                    </div>

                {%- else -%}

                    {%- if settings.productImageAspectRatio == '9:13' -%}

                        {%- assign img1Size = '394,564' -%}
                        {%- assign img2Size = '197,282' -%}

                    {%- elsif settings.productImageAspectRatio == '4:3' -%}

                        {%- assign img1Size = '465,350' -%}
                        {%- assign img2Size = '233,175' -%}

                    {%- elsif settings.productImageAspectRatio == '3:4' -%}

                        {%- assign img1Size = '350,465' -%}
                        {%- assign img2Size = '233,311' -%}

                    {%- elsif settings.productImageAspectRatio == '1:1' -%}

                        {%- assign img1Size = '400,400' -%}
                        {%- assign img2Size = '200,200' -%}
                        
                    {%- endif -%}

                    {%- assign img1Width = img1Size | split: ',' | first -%}
                    {%- assign img1Height = img1Size | split: ',' | last -%}
                    {%- assign img2Width = img2Size | split: ',' | first -%}
                    {%- assign img2Height = img2Size | split: ',' | last -%}

                    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                    <div class="aspect-ratio-product w-60 overflow-visible">

                        <div class="product-media-img-container aspect-ratio-container" data-aos="animation-fadeInLeft" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                            {%- if product -%}
                                {%- render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item', width: img1Width, height: img1Height -%}
                            {% else %}
                                {%- render 'placeholder-svg', type: 'product', class: 'aspect-ratio-item', width: img1Width, height: img1Height -%}
                            {%- endif -%}

                        </div>

                        <div class="position-absolute top-0 end-0 bottom-0 d-flex align-items-center">

                            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                            <div class="aspect-ratio-product overflow-visible" data-aos="animation-fadeInRight" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                <div class="product-media-img-container aspect-ratio-container">

                                    {%- if product -%}
                                        {%- render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item', width: img2Width, height: img2Height -%}
                                    {% else %}
                                        {%- render 'placeholder-svg', type: 'product', class: 'aspect-ratio-item', width: img2Width, height: img2Height -%}
                                    {%- endif -%}

                                </div>

                            </div>

                        </div>

                    </div>

                {%- endif -%}

            </div>
            
            {%- if product -%}
                </a>
            {%- endif -%}

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionHeader: false, sectionContentAnimation: false %}

{% schema %}
{
    "name": {
        "en": "Product promotion",
        "fi": "Tuotemainos"
    },
    "tag": "section",
    "class": "section section-product-promotion",
    "category": "theme-product",
    "keywords": {
        "en": [
            "Product",
            "Promotion",
            "Marketing",
            "Advertisement",
            "Campaign"
        ],
        "fi": [
            "Tuote",
            "Mainos",
            "Markkinointi",
            "Kampanja"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "product",
                        "type": "product",
                        "label": {
                            "en": "Product",
                            "fi": "Tuote"
                        }
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Show manufacturer",
                            "fi": "Näytä valmistaja"
                        },
                        "default": true
                    },
                    {
                        "id": "showPromotion",
                        "type": "checkbox",
                        "label": {
                            "en": "Show promotion",
                            "fi": "Näytä kampanja"
                        },
                        "default": true
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Show price information",
                            "fi": "Näytä hintatiedot"
                        },
                        "default": true
                    },
                    {
                        "id": "showRating",
                        "type": "checkbox",
                        "label": {
                            "en": "Show rating",
                            "fi": "Näytä tuotearvosteluluokitus"
                        },
                        "default": true
                    },
                    {
                        "id": "showDescription",
                        "type": "checkbox",
                        "label": {
                            "en": "Show description",
                            "fi": "Näytä tuotekuvaus"
                        },
                        "default": true
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content align",
                                        "fi": "Sisällön tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Product title SEO priority",
                                        "fi": "Tuotteen otsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "btnStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}
{% endschema %}