{% assign sectionAnimationOrder = 0 %}

{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.richtext -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{% assign textAlign = section.settings.sectionTextAlign %}

{% if textAlign == 'nil' %}
    {% assign textAlign = settings.sectionTextAlign %}
{% endif %}

{%- capture sectionStyle -%}
    #finqu-section-{{ section.id }} {
        --style-grid-gutter-width: {{ settings.styleGridGutterWidth }};
    }
    #finqu-section-{{ section.id }} .swiper-slide {
        --swiper-slide-width: 45;
        --swiper-slide-width-sm: 40;
        --swiper-slide-width-md: 35;
        --swiper-slide-width-lg: 20;
    }
{%- endcapture -%}

<style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

{%- capture sectionContent -%}

    <div class="row gy-g gx-lg-10">

        <div class="col-12 col-lg-6 order-2 order-lg-1">

            {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

            <div class="aspect-ratio-{{ section.settings.imgAspectRatio | replace: ':', '-' }}" data-aos="animate__fadeInLeft" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                <div class="aspect-ratio-container">

                    {%- if section.settings.img -%}

                        {% if section.settings.imgAspectRatio == '16:9' %}

                            {%- assign imgSizeSm = '414,251' -%}
                            {%- assign imgSizeMd = '360,220' -%}
                            {%- assign imgSizeLg = '670,395' -%}

                        {% elsif section.settings.imgAspectRatio == '9:13' %}

                            {%- assign imgSizeSm = '414,581' -%}
                            {%- assign imgSizeMd = '360,503' -%}
                            {%- assign imgSizeLg = '670,950' -%}

                        {% elsif section.settings.imgAspectRatio == '4:3' %}

                            {%- assign imgSizeSm = '414,321' -%}
                            {%- assign imgSizeMd = '360,280' -%}
                            {%- assign imgSizeLg = '670,513' -%}

                        {% elsif section.settings.imgAspectRatio == '1:1' %}

                            {%- assign imgSizeSm = '414,414' -%}
                            {%- assign imgSizeMd = '360,360' -%}
                            {%- assign imgSizeLg = '670,670' -%}

                        {% elsif section.settings.imgAspectRatio == 'auto' %}

                            {%- assign imgSizeSm = '414,414' -%}
                            {%- assign imgSizeMd = '360,360' -%}
                            {%- assign imgSizeLg = '670,670' -%}

                        {% endif %}

                        <picture>
                            <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                {{- section.settings.img | thumb: imgSizeLg }} 1x,
                                {{- section.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                {{- section.settings.img | thumb: imgSizeMd }} 1x,
                                {{- section.settings.img | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{- section.settings.img | thumb: imgSizeSm }} 1x,
                                {{- section.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ section.settings.img.alt }}"
                                data-src="{{ section.settings.img | thumb: imgSizeSm }}"
                                data-srcset="{{ section.settings.img | thumb: imgSizeSm }} 1x,{{ section.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}"{% if section.settings.img.offset_left or section.settings.img.offset_top %} style="--object-position: {{ section.settings.img.offset_left }}% {{ section.settings.img.offset_top }}%"{% endif %}>

                        </picture>

                    {%- elsif request.design_mode -%}

                        {%- capture class -%}
                            aspect-ratio-item{% if section.settings.imgFit %} aspect-ratio-item-cover{% endif %}
                        {%- endcapture -%}

                        {% render 'placeholder-svg', type: 'image', class: class %}
            
                    {%- endif -%}

                </div>

            </div>

        </div>

        <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center align-items-{{ textAlign }}">

            {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

            {% render 'section-header', sectionTitle: section.settings.sectionTitle, sectionTitleTag: section.settings.sectionTitleTag, sectionSubtitle: section.settings.sectionSubtitle, sectionSubtitleTag: section.settings.sectionSubtitleTag, sectionOverline: section.settings.sectionOverline, sectionOverlineTag: section.settings.sectionOverlineTag, sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionDescription: section.settings.richtext, sectionHeaderGapScale: 0.5 %}

             {% if section.settings.btnLink.text %}

                {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                <div class="mt-3" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                    {%- render 'section-quick-link', style: section.settings.btnStyle, text: section.settings.btnLink.text, url: section.settings.btnLink.url, target: section.settings.btnLink.target -%}

                </div>

            {% endif %}

            {%- capture slides -%}

                {% if section.settings.setting_blocks.items.size > 0 %}

                    {% for product in section.settings.setting_blocks.items %}

                        {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                        <div class="swiper-slide">

                            <div class="swiper-slide-inner" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                {% if section.settings.customDisplayInformation %}

                                    {%- render 'product-card-grid', product: product, productPerRow: 3, showProductName: section.settings.showProductName, showManufacturer: section.settings.showManufacturer, showPromotion: section.settings.showPromotion, showPricing: section.settings.showPricing, showRating: section.settings.showRating, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showVariants: section.settings.showVariants -%}

                                {% else %}

                                    {%- render 'product-card-grid', product: product, productPerRow: 3 -%}

                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                {% elsif request.design_mode %}

                    {% for num in (1..4) %}

                        {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}

                        <div class="swiper-slide">

                            <div class="swiper-slide-inner" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                {% if section.settings.customDisplayInformation %}

                                    {%- render 'product-card-grid', productPerRow: 3, showProductName: section.settings.showProductName, showManufacturer: section.settings.showManufacturer, showPromotion: section.settings.showPromotion, showPricing: section.settings.showPricing, showRating: section.settings.showRating, showNewBadge: section.settings.showNewBadge, showPromotionBadge: section.settings.showPromotionBadge, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showAddToCart: section.settings.showAddToCart, showStockBalance: section.settings.showStockBalance, showVariants: section.settings.showVariants -%}

                                {% else %}

                                    {%- render 'product-card-grid', productPerRow: 3 -%}

                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

            {%- endcapture -%}

            {%- render 'swiper', slides: slides, slidesPerView: 'auto', style: 2, evenHeightSlides: true, standalone: true, freemode: true, navigation: 'hover', class: 'mt-6 w-100' -%}

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false, sectionHeader: false %}

{% schema %}
{
    "name": {
        "en": "Multi-product promotion with image",
        "fi": "Monituotemainos kuvalla"
    },
    "tag": "section",
    "class": "section section-products-promotion",
    "category": "theme-product",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "richtext",
                        "type": "richtext",
                        "mode": "simple",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        }
                    },
                    {
                        "id": "btnLink",
                        "type": "url",
                        "label": {
                            "en": "Button",
                            "fi": "Painike"
                        },
                        "include_target": true,
                        "include_text": true
                    },
                    {
                        "id": "img",
                        "type": "image-picker",
                        "label": {
                            "en": "Image",
                            "fi": "Kuva"
                        },
                        "adjustments": true
                    },
                    {
                        "id": "customDisplayInformation",
                        "type": "checkbox",
                        "label": {
                            "en": "Select the information to display",
                            "fi": "Valitse näytettävät tiedot"
                        },
                        "default": false
                    },
                    {
                        "type": "separator",
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Name",
                            "fi": "Nimi"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Manufacturer",
                            "fi": "Valmistaja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotion",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion",
                            "fi": "Kampanja"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Price information",
                            "fi": "Hintatiedot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showRating",
                        "type": "checkbox",
                        "label": {
                            "en": "Rating",
                            "fi": "Tuotearvosteluluokitus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showNewBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "New badge",
                            "fi": "Uutuusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showPromotionBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Promotion badge",
                            "fi": "Kampanjamerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showDiscountBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Discount badge",
                            "fi": "Alennusmerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showOutOfStockBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Out of stock badge",
                            "fi": "Loppumerkki"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showAddToCart",
                        "type": "checkbox",
                        "label": {
                            "en": "Add to cart button",
                            "fi": "Lisää ostoskoriin -painike"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showStockBalance",
                        "type": "checkbox",
                        "label": {
                            "en": "Show stock balance",
                            "fi": "Näytä saatavuus"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    },
                    {
                        "id": "showVariants",
                        "type": "checkbox",
                        "label": {
                            "en": "Show variants",
                            "fi": "Näytä variaatiot"
                        },
                        "default": true,
                        "conditions": ["customDisplayInformation eq true"]
                    }
                ]
            },
            {
                "title": {
                    "en": "Products",
                    "fi": "Tuotteet"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a product",
                    "fi": "Lisää tuote"
                },
                "is_sortable": true,
                    "setting_blocks": [
                        {
                            "type": "product",
                            "title": {
                                "en": "Product",
                                "fi": "Tuote"
                            },
                            "settings": [
                                {
                                    "id": "product",
                                    "type": "product",
                                    "label": {
                                        "en": "Product",
                                        "fi": "Tuote"
                                    },
                                    "info": {
                                        "en": "The content is automatically generated from the selected product.",
                                        "fi": "Sisältö täydennetään automaattisesti valitusta tuotteesta."
                                    }
                                }
                            ]
                        }
                    ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHighlightItems",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content highlight",
                                        "fi": "Sisällön korostaminen"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content text align",
                                        "fi": "Sisällön tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "btnStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "imgAspectRatio",
                                    "type": "select",
                                    "label": {
                                        "en": "Image aspect ratio",
                                        "fi": "Kuvasuhde"
                                    },
                                    "default": "1:1",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": {
                                                "en": "Original",
                                                "fi": "Alkuperäinen"
                                            }
                                        },
                                        {
                                            "value": "16:9",
                                            "label": "16:9"
                                        },
                                        {
                                            "value": "9:13",
                                            "label": "9:13"
                                        },
                                        {
                                            "value": "4:3",
                                            "label": "4:3"
                                        },
                                        {
                                            "value": "1:1",
                                            "label": "1:1"
                                        }
                                    ]
                                },
                                {
                                    "id": "imgFit",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Image area fill",
                                        "fi": "Kuva-alueen täyttö"
                                    },
                                    "default": true,
                                    "conditions": ["!imgAspectRatio eq auto"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "1",
                                            "label": {
                                                "en": "Color scheme 1",
                                                "fi": "Värityyli 1"
                                            }
                                        },
                                        {
                                            "value": "2",
                                            "label": {
                                                "en": "Color scheme 2",
                                                "fi": "Värityyli 2"
                                            }
                                        },
                                        {
                                            "value": "3",
                                            "label": {
                                                "en": "Color scheme 3",
                                                "fi": "Värityyli 3"
                                            }
                                        },
                                        {
                                            "value": "4",
                                            "label": {
                                                "en": "Color scheme 4",
                                                "fi": "Värityyli 4"
                                            }
                                        },
                                        {
                                            "value": "5",
                                            "label": {
                                                "en": "Color scheme 5",
                                                "fi": "Värityyli 5"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "sectionTitle": "Suosituimmat tuotteet",
                "img": {
                    "string_value": "https:\/\/images.unsplash.com\/photo-1445633814773-e687a5de9baa",
                    "src": "https:\/\/images.unsplash.com\/photo-1445633814773-e687a5de9baa",
                    "offset_top": "67",
                    "offset_left": "52",
                    "width": "1080",
                    "height": "1080"
                }
            }
        }
    ]
}
{% endschema %}