{% assign sectionAnimationOrder = 0 %}

{%- if section.settings.sectionOverline -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionTitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.sectionSubtitle -%}
    {%- assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 -%}
{%- endif -%}

{%- if section.settings.textHorizontalAlign == 'nil' -%}
    {%- assign textHorizontalAlign = settings.sectionTextAlign -%}
{%- else -%}
    {%- assign textHorizontalAlign = section.settings.textHorizontalAlign -%}
{%- endif -%}

{%- capture sectionContent -%}

    {%- if section.settings.collageLayout == 1 -%}

        {%- capture sectionStyle -%}
            #finqu-section-{{ section.id }} .section-content .collage-grid {
                display: grid;
                grid-gap: var(--style-grid-gutter-width);
            }
            #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(1) {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }
            #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(2) { 
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
            }
            #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(3) {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }
            #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(4) {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
            }
            #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(5) {
                grid-column: 1 / span 2;
                grid-row: 3 / span 2;
            }
            @media screen and (min-width: {{ settings.styleGridBreakpointMd }}) {
                #finqu-section-{{ section.id }} .section-content .collage-grid {
                    grid-template-columns: repeat(4, 1fr);
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(5) {
                    grid-column: 3 / span 2;
                    grid-row: 1 / span 2;
                }
            }
            {% if section.settings.sectionPaddingBottom == 0 %}
                #finqu-section-{{ section.id }} + .section-promotion-collage {
                    --section-padding-top: var(--style-grid-gutter-width);
                }
            {%- endif -%}
            {%- for item in section.settings.setting_blocks.items -%}
                {%- assign colorShemeBrightness = item.settings.colorScheme | color_brightness -%}
                {%- if colorShemeBrightness > 190 -%}
                    {%- assign accentTextColor = '#000' -%}
                {%- else -%}
                    {%- assign accentTextColor = '#fff' -%}
                {%- endif -%}
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child({{ forloop.index}}) {
                    --style-heading-color: {{ item.settings.colorScheme }};
                    --style-subheading-color: {{ item.settings.colorScheme }};
                    --style-overline-color: {{ item.settings.colorScheme }};
                    --style-text-color: {{ item.settings.colorScheme }};
                    --style-link-color: {{ item.settings.colorScheme }};
                    --style-icon-color: {{ item.settings.colorScheme }};
                    --style-btn-bg-color: {{ item.settings.colorScheme }};
                    --style-btn-text-color: {{ accentTextColor }};
                    --style-btn-border-color: {{ item.settings.colorScheme }};
                    --style-border-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 15 }};
                    --style-border-focus-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 20 }};
                    --style-border-accent-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 50 }};
                    --style-accent-color: {{ item.settings.colorScheme }};
                    --style-accent-text-color: {{ accentTextColor }};
                    {%- if colorShemeBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_lighten: 13 }};
                    {%- endif -%}
                }
            {%- endfor -%}
            {%- if section.settings.imgDimming != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .aspect-ratio-container::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.imgDimming }}%), rgb(0,0,0, {{ section.settings.imgDimming }}%))
                }
            {%- endif -%}
            {%- if section.settings.imgBlur != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .lazy {
                    transform: scale(1.0{{ section.settings.imgBlur | divided_by: 2 | plus: 2 }});
                    filter: blur({{ section.settings.imgBlur }}px);
                }
            {%- endif -%}
        {%- endcapture -%}

        <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

        <div class="collage-grid">

            {% for item in section.settings.setting_blocks.items %}

                {% assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 %}
                {% assign everyFive = forloop.index | modulo: 5 %}

                {% if everyFive == 0 %}

                    {%- assign imgSizeSm = '414,414' -%}
                    {%- assign imgSizeMd = '560,560' -%}
                    {%- assign imgSizeLg = '650,650' -%}

                {% else %}

                    {%- assign imgSizeSm = '414,414' -%}
                    {%- assign imgSizeMd = '275,275' -%}
                    {%- assign imgSizeLg = '320,320' -%}

                {% endif %}

                <div class="position-relative img-indicator-zoom text-inherit">

                    {%- if item.settings.btnLink.url %}
                        <a href="{{ item.settings.btnLink.url | link }}" target="{{ item.settings.btnLink.target }}">
                    {%- endif %}

                    <div class="aspect-ratio-1-1">

                        <div class="aspect-ratio-container">

                            {%- if item.settings.img -%}

                                <picture>

                                    <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source data-srcset="
                                        {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                        {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.settings.img.alt }}"
                                        data-src="{{ item.settings.img | thumb: imgSizeSm }}"
                                        data-srcset="{{ item.settings.img | thumb: imgSizeSm }} 1x, {{ item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                        class="lazy aspect-ratio-item aspect-ratio-item-cover"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                </picture>

                            {%- elsif request.design_mode -%}

                                {%- capture class -%}
                                    aspect-ratio-item aspect-ratio-item-cover
                                {%- endcapture -%}

                                {% render 'placeholder-svg', type: 'image', class: class %}
                    
                            {%- endif -%}

                        </div>

                    </div>

                    <div class="grid g-0 position-absolute top-0 start-0 w-100 h-100 p-g p-md-5{%- if section.settings.imgDimming != '0' %} z-1{%- endif -%}" style="--bs-gap: 0">

                        <div class="g-col-12 place-content-{{ section.settings.textVerticalAlign }}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}" data-yolo="{{ item.settings.btnLink.text }}">

                            {%- render 'section-quick-link', style: section.settings.btnStyle, text: item.settings.btnLink.text -%}

                        </div>
                    
                    </div>

                    {%- if item.settings.btnLink.url %}
                        </a>
                    {%- endif %}
                
                </div>

            {% endfor %}

        </div>

    {%- elsif section.settings.collageLayout == 2 -%}

        {%- capture sectionStyle -%}
            #finqu-section-{{ section.id }} .section-content .collage-grid {
                display: grid;
                grid-gap: var(--style-grid-gutter-width);
            }
            @media screen and (min-width: {{ settings.styleGridBreakpointMd }}) {
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(1) {
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(2) { 
                    grid-column: 1 / span 1;
                    grid-row: 2 / span 1;
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(3) {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(4) {
                    grid-column: 4 / span 1;
                    grid-row: 1 / span 1;
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(5) {
                    grid-column: 4 / span 1;
                    grid-row: 2 / span 1;
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid {
                    grid-template-columns: repeat(4, 1fr);
                }
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child(3) {
                    grid-column: 2 / span 2;
                    grid-row: 1 / span 2;
                }
            }
            {%- if section.settings.sectionPaddingBottom == 0 -%}
                #finqu-section-{{ section.id }} + .section-promotion-collage {
                    --section-padding-top: var(--style-grid-gutter-width);
                }
            {%- endif -%}
            {%- for item in section.settings.setting_blocks.items -%}
                {%- assign colorShemeBrightness = item.settings.colorScheme | color_brightness -%}
                {%- if colorShemeBrightness > 190 -%}
                    {%- assign accentTextColor = '#000' -%}
                {%- else -%}
                    {%- assign accentTextColor = '#fff' -%}
                {%- endif -%}
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child({{ forloop.index}}) {
                    --style-heading-color: {{ item.settings.colorScheme }};
                    --style-subheading-color: {{ item.settings.colorScheme }};
                    --style-overline-color: {{ item.settings.colorScheme }};
                    --style-text-color: {{ item.settings.colorScheme }};
                    --style-link-color: {{ item.settings.colorScheme }};
                    --style-icon-color: {{ item.settings.colorScheme }};
                    --style-btn-bg-color: {{ item.settings.colorScheme }};
                    --style-btn-text-color: {{ accentTextColor }};
                    --style-btn-border-color: {{ item.settings.colorScheme }};
                    --style-border-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 15 }};
                    --style-border-focus-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 20 }};
                    --style-border-accent-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 50 }};
                    --style-accent-color: {{ item.settings.colorScheme }};
                    --style-accent-text-color: {{ accentTextColor }};
                    {%- if colorShemeBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_lighten: 13 }};
                    {%- endif -%}
                }
            {%- endfor -%}
            {%- if section.settings.imgDimming != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .aspect-ratio-container::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.imgDimming }}%), rgb(0,0,0, {{ section.settings.imgDimming }}%))
                }
            {%- endif -%}
            {%- if section.settings.imgBlur != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .lazy {
                    transform: scale(1.0{{ section.settings.imgBlur | divided_by: 2 | plus: 2 }});
                    filter: blur({{ section.settings.imgBlur }}px);
                }
            {%- endif -%}
        {%- endcapture -%}

        <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

        <div class="collage-grid">

            {% for item in section.settings.setting_blocks.items %}

                {% assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 %}
                {% assign everyThird = forloop.index | modulo: 3 %}

                {% if everyThird == 0 %}

                    {%- assign aspectRatioClass = 'aspect-ratio-1-1 aspect-ratio-md-1-1' -%}
                    {%- assign imgSizeSm = '400,400' -%}
                    {%- assign imgSizeMd = '560,560' -%}
                    {%- assign imgSizeLg = '650,792' -%}

                {% else %}

                    {%- assign aspectRatioClass = 'aspect-ratio-1-1' -%}
                    {%- assign imgSizeSm = '400,400' -%}
                    {%- assign imgSizeMd = '275,275' -%}
                    {%- assign imgSizeLg = '320,320' -%}

                {% endif %}

                <div class="position-relative img-indicator-zoom text-inherit">

                    {%- if item.settings.btnLink.url %}
                        <a href="{{ item.settings.btnLink.url | link }}" target="{{ item.settings.btnLink.target }}">
                    {%- endif %}

                    <div class="{{ aspectRatioClass }}">

                        <div class="aspect-ratio-container">

                            {%- if item.settings.img -%}

                                <picture>

                                    <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source data-srcset="
                                        {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                        {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.settings.img.alt }}"
                                        data-src="{{ item.settings.img | thumb: imgSizeSm }}"
                                        data-srcset="{{ item.settings.img | thumb: imgSizeSm }} 1x, {{ item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                        class="lazy aspect-ratio-item aspect-ratio-item-cover"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                </picture>

                            {%- elsif request.design_mode -%}

                                {%- capture class -%}
                                    aspect-ratio-item aspect-ratio-item-cover
                                {%- endcapture -%}

                                {% render 'placeholder-svg', type: 'image', class: class %}
                    
                            {%- endif -%}

                        </div>

                    </div>

                    <div class="grid g-0 position-absolute top-0 start-0 w-100 h-100 p-g p-md-5{%- if section.settings.imgDimming != '0' %} z-1{%- endif -%}" style="--bs-gap: 0">

                       <div class="g-col-12 place-content-{{ section.settings.textVerticalAlign }}">

                            {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

                            {% render 'section-header', sectionTitle: item.settings.title, sectionTitleTag: 'span', sectionDescription: item.settings.subtitle, sectionSubtitleTag: 'span', sectionOverline: item.settings.overline, sectionOverlineTag: 'span', sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionHeaderGapScale: 0.5, sectionHeaderTextAlign: textHorizontalAlign %}

                            {%- if item.settings.btnLink.text -%}

                                <div class="d-flex mt-4 justify-content-{{ textHorizontalAlign }}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                    {%- render 'section-quick-link', style: section.settings.btnStyle, text: item.settings.btnLink.text -%}

                                </div>

                            {%- endif -%}

                        </div>
                    
                    </div>

                    {%- if item.settings.btnLink.url %}
                        </a>
                    {%- endif %}
                
                </div>

            {% endfor %}

        </div>

    {%- elsif section.settings.collageLayout == 3 -%}

        {%- case section.settings.imgAspectRatio -%}
            {% when '16:9' %}
                {%- assign imgSizeSm = '400,229' -%}
                {%- assign imgSizeMd = '560,319' -%}
                {%- assign imgSizeLg = '650,370' -%}
            {% when '4:3' %}
                {%- assign imgSizeSm = '420,317' -%}
                {%- assign imgSizeMd = '560,422' -%}
                {%- assign imgSizeLg = '650,490' -%}
            {% when '1:1' %}
                {%- assign imgSizeSm = '400,400' -%}
                {%- assign imgSizeMd = '560,560' -%}
                {%- assign imgSizeLg = '650,650' -%}
        {%- endcase -%}

        {%- capture sectionStyle -%}
            {% if section.settings.sectionPaddingBottom == 0 %}
                #finqu-section-{{ section.id }} + .section-promotion-collage {
                    --section-padding-top: var(--style-grid-gutter-width);
                }
            {%- endif -%}
            {%- for item in section.settings.setting_blocks.items -%}
                {%- assign colorShemeBrightness = item.settings.colorScheme | color_brightness -%}
                {%- if colorShemeBrightness > 190 -%}
                    {%- assign accentTextColor = '#000' -%}
                {%- else -%}
                    {%- assign accentTextColor = '#fff' -%}
                {%- endif -%}
                #finqu-section-{{ section.id }} .section-content .grid > div:nth-child({{ forloop.index}}) {
                    --style-heading-color: {{ item.settings.colorScheme }};
                    --style-subheading-color: {{ item.settings.colorScheme }};
                    --style-overline-color: {{ item.settings.colorScheme }};
                    --style-text-color: {{ item.settings.colorScheme }};
                    --style-link-color: {{ item.settings.colorScheme }};
                    --style-icon-color: {{ item.settings.colorScheme }};
                    --style-btn-bg-color: {{ item.settings.colorScheme }};
                    --style-btn-text-color: {{ accentTextColor }};
                    --style-btn-border-color: {{ item.settings.colorScheme }};
                    --style-border-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 15 }};
                    --style-border-focus-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 20 }};
                    --style-border-accent-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 50 }};
                    --style-accent-color: {{ item.settings.colorScheme }};
                    --style-accent-text-color: {{ accentTextColor }};
                    {%- if colorShemeBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_lighten: 13 }};
                    {%- endif -%}
                }
            {%- endfor -%}
            {%- if section.settings.imgDimming != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .aspect-ratio-container::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.imgDimming }}%), rgb(0,0,0, {{ section.settings.imgDimming }}%))
                }
            {%- endif -%}
            {%- if section.settings.imgBlur != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .lazy {
                    transform: scale(1.0{{ section.settings.imgBlur | divided_by: 2 | plus: 2 }});
                    filter: blur({{ section.settings.imgBlur }}px);
                }
            {%- endif -%}
        {%- endcapture -%}

        <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

        <div class="collage-grid grid">

            {% for item in section.settings.setting_blocks.items %}

                {% assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 %}

                <div class="g-col-12 g-col-md-6 position-relative img-indicator-zoom text-inherit place-content-{{ section.settings.textVerticalAlign }}">

                    {%- if item.settings.btnLink.url %}
                        <a href="{{ item.settings.btnLink.url | link }}" target="{{ item.settings.btnLink.target }}">
                    {%- endif %}

                    <div class="aspect-ratio-{{ section.settings.imgAspectRatio | replace: ':', '-' }}">

                        <div class="aspect-ratio-container">

                            {%- if item.settings.img -%}

                                <picture>

                                    <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source data-srcset="
                                        {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                        {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.settings.img.alt }}"
                                        data-src="{{ item.settings.img | thumb: imgSizeSm }}"
                                        data-srcset="{{ item.settings.img | thumb: imgSizeSm }} 1x, {{ item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                        class="lazy aspect-ratio-item aspect-ratio-item-cover"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                </picture>

                            {%- elsif request.design_mode -%}

                                {%- capture class -%}
                                    aspect-ratio-item aspect-ratio-item-cover
                                {%- endcapture -%}

                                {% render 'placeholder-svg', type: 'image', class: class %}
                    
                            {%- endif -%}

                        </div>

                    </div>

                    <div class="grid g-0 position-absolute top-0 start-0 w-100 h-100 p-g p-md-5{%- if section.settings.imgDimming != '0' %} z-1{%- endif -%}" style="--bs-gap: 0">

                        <div class="g-col-12 place-content-{{ section.settings.textVerticalAlign }}">

                            {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

                            {% render 'section-header', sectionTitle: item.settings.title, sectionTitleTag: 'span', sectionSubtitle: item.settings.subtitle, sectionSubtitleTag: 'span', sectionOverline: item.settings.overline, sectionOverlineTag: 'span', sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionHeaderGapScale: 0.5, sectionHeaderTextAlign: textHorizontalAlign %}

                            {%- if item.settings.btnLink.text -%}

                                <div class="d-flex mt-4 justify-content-{{ textHorizontalAlign }}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                    {%- render 'section-quick-link', style: section.settings.btnStyle, text: item.settings.btnLink.text -%}

                                </div>

                            {%- endif -%}

                        </div>
                    
                    </div>

                    {%- if item.settings.btnLink.url %}
                        </a>
                    {%- endif %}
                
                </div>

            {% endfor %}

        </div>

    {%- elsif section.settings.collageLayout == 4 -%}

        {%- case section.settings.imgAspectRatio -%}
            {% when '16:9' %}
                {%- assign imgSizeSm = '420,240' -%}
                {%- assign imgSizeMd = '370,212' -%}
                {%- assign imgSizeLg = '430,246' -%}
            {% when '4:3' %}
                {%- assign imgSizeSm = '420,317' -%}
                {%- assign imgSizeMd = '370,280' -%}
                {%- assign imgSizeLg = '430,325' -%}
            {% when '1:1' %}
                {%- assign imgSizeSm = '420,420' -%}
                {%- assign imgSizeMd = '370,370' -%}
                {%- assign imgSizeLg = '430,430' -%}
        {%- endcase -%}

        {%- capture sectionStyle -%}
            {% if section.settings.sectionPaddingBottom == 0 %}
                #finqu-section-{{ section.id }} + .section-promotion-collage {
                    --section-padding-top: var(--style-grid-gutter-width);
                }
            {%- endif -%}
            {%- for item in section.settings.setting_blocks.items -%}
                {%- assign colorShemeBrightness = item.settings.colorScheme | color_brightness -%}
                {%- if colorShemeBrightness > 190 -%}
                    {%- assign accentTextColor = '#000' -%}
                {%- else -%}
                    {%- assign accentTextColor = '#fff' -%}
                {%- endif -%}
                #finqu-section-{{ section.id }} .section-content .collage-grid > div:nth-child({{ forloop.index}}) {
                    --style-heading-color: {{ item.settings.colorScheme }};
                    --style-subheading-color: {{ item.settings.colorScheme }};
                    --style-overline-color: {{ item.settings.colorScheme }};
                    --style-text-color: {{ item.settings.colorScheme }};
                    --style-link-color: {{ item.settings.colorScheme }};
                    --style-icon-color: {{ item.settings.colorScheme }};
                    --style-btn-bg-color: {{ item.settings.colorScheme }};
                    --style-btn-text-color: {{ accentTextColor }};
                    --style-btn-border-color: {{ item.settings.colorScheme }};
                    --style-border-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 15 }};
                    --style-border-focus-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 20 }};
                    --style-border-accent-color: {{ accentTextColor | color_mix: item.settings.colorScheme, 50 }};
                    --style-accent-color: {{ item.settings.colorScheme }};
                    --style-accent-text-color: {{ accentTextColor }};
                    {%- if colorShemeBrightness > 190 -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_darken: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_darken: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_darken: 13 }};
                    {%- else -%}
                        --style-btn-bg-active-color: {{ item.settings.colorScheme | color_lighten: 10 }};
                        --style-btn-bg-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-hover-color: {{ item.settings.colorScheme | color_lighten: 8 }};
                        --style-btn-border-active-color: {{ item.settings.colorScheme | color_lighten: 13 }};
                    {%- endif -%}
                }
            {%- endfor -%}
            {%- if section.settings.imgDimming != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .aspect-ratio-container::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.imgDimming }}%), rgb(0,0,0, {{ section.settings.imgDimming }}%))
                }
            {%- endif -%}
            {%- if section.settings.imgBlur != '0' -%}
                #finqu-section-{{ section.id }} .collage-grid .lazy {
                    transform: scale(1.0{{ section.settings.imgBlur | divided_by: 2 | plus: 2 }});
                    filter: blur({{ section.settings.imgBlur }}px);
                }
            {%- endif -%}
        {%- endcapture -%}

        <style>{{ sectionStyle | strip | replace: '  ', '' | strip_newlines }}</style>

        <div class="collage-grid grid">

            {% for item in section.settings.setting_blocks.items %}

                {% assign sectionAnimationOrder = sectionAnimationOrder | plus: 1 %}

                <div class="g-col-12 g-col-md-4 position-relative img-indicator-zoom text-inherit place-content-{{ section.settings.textVerticalAlign }}">

                    {%- if item.settings.btnLink.url %}
                        <a href="{{ item.settings.btnLink.url | link }}" target="{{ item.settings.btnLink.target }}">
                    {%- endif %}

                    <div class="aspect-ratio-{{ section.settings.imgAspectRatio | replace: ':', '-' }}">

                        <div class="aspect-ratio-container">

                            {%- if item.settings.img -%}

                                <picture>

                                    <source media="(min-width: {{ settings.styleGridBreakpointLg }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source media="(min-width: {{ settings.styleGridBreakpointMd }})" data-srcset="
                                        {{- item.settings.img | thumb: imgSizeLg }} 1x,
                                        {{- item.settings.img | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source data-srcset="
                                        {{- item.settings.img | thumb: imgSizeSm }} 1x,
                                        {{- item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.settings.img.alt }}"
                                        data-src="{{ item.settings.img | thumb: imgSizeSm }}"
                                        data-srcset="{{ item.settings.img | thumb: imgSizeSm }} 1x, {{ item.settings.img | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                        class="lazy aspect-ratio-item aspect-ratio-item-cover"{% if item.settings.img.offset_left or item.settings.img.offset_top %} style="--object-position: {{ item.settings.img.offset_left }}% {{ item.settings.img.offset_top }}%"{% endif %}>

                                </picture>

                            {%- elsif request.design_mode -%}

                                {%- capture class -%}
                                    aspect-ratio-item aspect-ratio-item-cover
                                {%- endcapture -%}

                                {% render 'placeholder-svg', type: 'image', class: class %}
                    
                            {%- endif -%}

                        </div>

                    </div>

                    <div class="grid g-0 position-absolute top-0 start-0 w-100 h-100 p-g p-md-5{%- if section.settings.imgDimming != '0' %} z-1{%- endif -%}" style="--bs-gap: 0">

                        <div class="g-col-12 place-content-{{ section.settings.textVerticalAlign }}">

                            {%- assign sectionHandle = '#finqu-section-' | append: section.id -%}

                            {% render 'section-header', sectionTitle: item.settings.title, sectionTitleTag: 'span', sectionDescription: item.settings.subtitle, sectionSubtitleTag: 'span', sectionOverline: item.settings.overline, sectionOverlineTag: 'span', sectionHeaderContainer: 'none', sectionAnimation: settings.sectionAnimation, sectionHandle: sectionHandle, sectionHeaderGapScale: 0.5, sectionHeaderTextAlign: textHorizontalAlign %}

                            {%- if item.settings.btnLink.text -%}

                                <div class="d-flex mt-4 justify-content-{{ textHorizontalAlign }}" data-aos="{{ settings.sectionAnimation }}" data-aos-anchor="#finqu-section-{{ section.id }}" data-aos-delay style="--aos-order: {{ sectionAnimationOrder }}">

                                    {%- render 'section-quick-link', style: section.settings.btnStyle, text: item.settings.btnLink.text -%}

                                </div>

                            {%- endif -%}

                        </div>
                    
                    </div>

                    {%- if item.settings.btnLink.url %}
                        </a>
                    {%- endif %}
                
                </div>

            {% endfor %}

        </div>

    {%- endif -%}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentAnimation: false, sectionContentTextAlign: textHorizontalAlign %}

{% schema %}
{
    "name": {
        "en": "Promotion collage",
        "fi": "Mainoskollaasi"
    },
    "tag": "section",
    "class": "section section-promotion-collage",
    "category": "theme-marketing",
    "keywords": {
        "en": [
            "Product",
            "Promotion",
            "Collage",
            "Marketing",
            "Advertisement",
            "Campaign"
        ],
        "fi": [
            "Tuote",
            "Mainos",
            "Kollaasi",
            "Markkinointi",
            "Kampanja"
        ]
    },
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "settings": [
                    {
                        "type": "hidden",
                        "id": "collageLayout"
                    },
                    {
                        "id": "sectionOverline",
                        "type": "text",
                        "label": {
                            "en": "Top title",
                            "fi": "Yläotsikko"
                        },
                        "conditions": ["sectionAdditionalTitles eq true"]
                    },
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Main title",
                            "fi": "Pääotsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "imgAspectRatio",
                        "type": "radio-pill",
                        "label": {
                            "en": "Image aspect ratio",
                            "fi": "Kuvasuhde"
                        },
                        "default": "16:9",
                        "options": [
                            {
                                "value": "16:9",
                                "label": "16:9"
                            },
                            {
                                "value": "4:3",
                                "label": "4:3"
                            },
                            {
                                "value": "1:1",
                                "label": "1:1"
                            }
                        ],
                        "conditions": ["collageLayout in 3,4"]
                    }
                ]
            },
            {
                "title": {
                    "en": "Promotions",
                    "fi": "Mainokset"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a promotion",
                    "fi": "Lisää mainos"
                },
                "is_sortable": true,
                "display_icons": true,
                "setting_blocks": [
                    {
                        "type": "image",
                        "title": {
                            "en": "Promotion",
                            "fi": "Mainos"
                        },
                        "settings": [
                            {
                                "id": "overline",
                                "type": "text",
                                "label": {
                                    "en": "Top title",
                                    "fi": "Yläotsikko"
                                },
                                "conditions": ["sectionAdditionalTitles eq true"]
                            },
                            {
                                "id": "title",
                                "type": "text",
                                "label": {
                                    "en": "Main title",
                                    "fi": "Pääotsikko"
                                }
                            },
                            {
                                "id": "subtitle",
                                "type": "text",
                                "label": {
                                    "en": "Subtitle",
                                    "fi": "Alaotsikko"
                                }
                            },
                            {
                                "id": "btnLink",
                                "type": "url",
                                "label": {
                                    "en": "Button",
                                    "fi": "Painike"
                                },
                                "include_target": true,
                                "include_text": true
                            },
                            {
                                "id": "img",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                },
                                "adjustments": true
                            },
                            {
                                "id": "colorScheme",
                                "type": "color",
                                "label": {
                                    "en": "Color scheme",
                                    "fi": "Väriskeema"
                                },
                                "default": "#ffffff"
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Settings",
                    "fi": "Asetukset"
                },
                "settings": {
                    "list_type": "list",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading text align",
                                        "fi": "Otsikon tekstin tasaus"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "textHorizontalAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text horizontal align",
                                        "fi": "Tekstin tasaus vaakasuunnassa"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-start #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-center #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-end #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "textVerticalAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text vertical align",
                                        "fi": "Tekstin tasaus pystysuunnassa"
                                    },
                                    "default": "start",
                                    "options": [
                                        {
                                            "value": "start",
                                            "label": "{# icon.align-top #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.align-middle #}"
                                        },
                                        {
                                            "value": "end",
                                            "label": "{# icon.align-bottom #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "btnStyle",
                                    "type": "select",
                                    "label": {
                                        "en": "Button style",
                                        "fi": "Painikkeen tyyli"
                                    },
                                    "default": "nil",
                                    "options": [
                                        {
                                            "value": "nil",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "primary",
                                            "label": {
                                                "en": "Fill",
                                                "fi": "Täytetty"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Outline",
                                                "fi": "Ääriviivat"
                                            }
                                        },
                                        {
                                            "value": "link",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "value": "link-with-icon",
                                            "label": {
                                                "en": "Text with icon",
                                                "fi": "Teksti kuvakkeella osoittimen ollessa päällä"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "imgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "imgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "SEO",
                                "fi": "SEO"
                            },
                            "settings": [
                                {
                                    "id": "sectionOverlineTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Top title SEO priority",
                                        "fi": "Yläotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ],
                                    "conditions": ["sectionAdditionalTitles eq true"]
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Main title SEO priority",
                                        "fi": "Pääotsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Section",
                                "fi": "Osio"
                            },
                            "settings": [
                                {
                                    "id": "sectionColorScheme",
                                    "type": "select",
                                    "label": {
                                        "en": "Color scheme",
                                        "fi": "Värityyli"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": {
                                                "en": "Disabled",
                                                "fi": "Pois käytöstä"
                                            }
                                        },
                                        {
                                            "value": "secondary",
                                            "label": {
                                                "en": "Secondary",
                                                "fi": "Toissijainen"
                                            }
                                        },
                                        {
                                            "value": "light",
                                            "label": {
                                                "en": "Light background / Dark content",
                                                "fi": "Vaalea tausta / Tumma sisältö"
                                            }
                                        },
                                        {
                                            "value": "dark",
                                            "label": {
                                                "en": "Dark background / Light content",
                                                "fi": "Tumma tausta / Vaalea sisältö"
                                            }
                                        },
                                        {
                                            "value": "accent",
                                            "label": {
                                                "en": "Accent background / Adaptive content",
                                                "fi": "Korostus tausta / Mukautuva sisältö"
                                            }
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "style_custom_color",
                                    "type": "color",
                                    "label": {
                                        "en": "Color",
                                        "fi": "Väri"
                                    },
                                    "default": "#f3f5f6",
                                    "conditions": ["sectionColorScheme eq custom"]
                                },
                                {
                                    "id": "sectionAdditionalTitles",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show additional titles",
                                        "fi": "Näytä lisäotsikot"
                                    },
                                    "default": false,
                                    "options": [
                                        {
                                            "value": false,
                                            "label": "Off"
                                        },
                                        {
                                            "value": true,
                                            "label": "On"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingMode",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Padding",
                                        "fi": "Välit"
                                    },
                                    "default": "auto",
                                    "options": [
                                        {
                                            "value": "auto",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "custom",
                                            "label": {
                                                "en": "Custom",
                                                "fi": "Mukautettu"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionPaddingTop",
                                    "label": {
                                        "en": "Padding top",
                                        "fi": "Väli ylhäällä"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionPaddingBottom",
                                    "label": {
                                        "en": "Padding bottom",
                                        "fi": "Väli alhaalla"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 15,
                                    "step": 1,
                                    "default": "0",
                                    "unit": "rem",
                                    "conditions": ["sectionPaddingMode eq custom"]
                                },
                                {
                                    "id": "sectionBgImg",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Background image",
                                        "fi": "Taustakuva"
                                    },
                                    "adjustments": true
                                },
                                {
                                    "id": "sectionBgImgDimming",
                                    "label": {
                                        "en": "Image dimming",
                                        "fi": "Kuvan tummennus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["!sectionBgImg eq false"]
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Image blur",
                                        "fi": "Kuvan sumentaminen"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " ",
                                    "conditions": ["!sectionBgImg eq false"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "settings": {
                "collageLayout": 1,
                "textHorizontalAlign": "center",
                "textVerticalAlign": "end",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1582345486418-0eeaeecb5dda",
                                    "src": "https:\/\/images.unsplash.com\/photo-1582345486418-0eeaeecb5dda",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "src": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1518019671582-55004f1bc9ab",
                                    "src": "https:\/\/images.unsplash.com\/photo-1518019671582-55004f1bc9ab",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        },
                {
            "settings": {
                "collageLayout": 2,
                "textHorizontalAlign": "center",
                "textVerticalAlign": "end",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1582345486418-0eeaeecb5dda",
                                    "src": "https:\/\/images.unsplash.com\/photo-1582345486418-0eeaeecb5dda",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "src": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                 "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1518019671582-55004f1bc9ab",
                                    "src": "https:\/\/images.unsplash.com\/photo-1518019671582-55004f1bc9ab",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        },
        {
            "settings": {
                "collageLayout": 3,
                "imgAspectRatio": "16:9",
                "textHorizontalAlign": "center",
                "textVerticalAlign": "center",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "title": "Mainoksen otsikko",
                                "subtitle": "Kerro lyhyesti mainoksesta asiakkaillesi",
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "title": "Mainoksen otsikko",
                                "subtitle": "Kerro lyhyesti mainoksesta asiakkaillesi",
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        },
        {
            "settings": {
                "collageLayout": 4,
                "imgAspectRatio": "1:1",
                "textHorizontalAlign": "center",
                "textVerticalAlign": "center",
                "setting_blocks": {
                    "items": [
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "title": "Mainoksen otsikko",
                                "subtitle": "Kerro lyhyesti mainoksesta asiakkaillesi.",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "src": "https:\/\/images.unsplash.com\/photo-1532204182725-d0f67855ac87",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "title": "Mainoksen otsikko",
                                "subtitle": "Kerro lyhyesti mainoksesta asiakkaillesi.",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "src": "https:\/\/images.unsplash.com\/photo-1531326842537-a4bb23c9544e",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        },
                        {
                            "type": "image",
                            "settings": {
                                "colorScheme": "#ffffff",
                                "title": "Mainoksen otsikko",
                                "subtitle": "Kerro lyhyesti mainoksesta asiakkaillesi.",
                                "btnLink": {
                                    "text": "Shoppaile nyt"
                                },
                                "img": {
                                    "string_value": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "src": "https:\/\/images.unsplash.com\/photo-1578500494198-246f612d3b3d",
                                    "offset_top": "50",
                                    "offset_left": "50",
                                    "width": "1080",
                                    "height": "1080"
                                }
                            }
                        }
                    ]
                }
            }
        }
    ]
}
{% endschema %}