{% layout 'password' %}

{%- assign sectionTitle = 'password_protection.title' | t -%}
{%- assign sectionSubtitle = 'password_protection.subtitle' | t -%}
{%- assign sectionDescription = 'password_protection.description' | t -%}
{%- assign overlayTitle = 'password_protection.login_to_store' | t -%}

{%- capture sectionContent -%}

	<div class="row justify-content-center">

		<div class="col-md-8 col-lg-8">

			{% form 'customer', customer %}

				{% if form.posted_successfully? %}

                    <script type="application/javascript">
                        document.addEventListener('DOMContentLoaded', function() {
                            document.dispatchEvent(new CustomEvent('theme:newsletter:subscribe', {
                                detail: {
                                    email: {{ form.email | json }}
                                }
                            }));
                        });
                    </script>

                {% endif %}

		        {% if customer and customer.accepts_marketing %}

			        <span class="d-block fw-bold text-center">

			            {{- 'password_protection.newsletter_subscribed' | t -}}

			        </span>

		        {% elsif form.posted_successfully? %}

		        	<span class="d-block fw-bold text-center">

		            	{{- 'password_protection.newsletter_subscribed' | t -}}

		            </span>

		        {% else %}

		            <div class="mb-4 form-floating">

		                <input id="footer-middle-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

		                <label for="footer-middle-newsletter">
		                    {{- 'general.email' | t -}}
		                </label>

		            </div>

		            {% render 'form-error', error: form.error, class: 'mb-4' %}

		            <button type="submit" class="btn d-block w-100 btn-secondary">
		                {{- 'password_protection.newsletter_cta' | t -}}
		            </button>

		        {% endif %}

		    {% endform %}

		</div>

	</div>

    <hr class="mt-5 mb-5">

    {%- capture class -%}
        password-social-media-buttons-container text-center
    {%- endcapture -%}

    {% render 'social-media-buttons' class: class %}

    <div class="text-center mt-4">

	    <button type="button" id="password-overlay-action-show" class="btn-text fw-bold text-underline-indicator">
	        {{- 'password_protection.login_to_store' | t -}}
	    </button>

	</div>

{%- endcapture -%}

{%- capture sectionCustomContent -%}

	{%- capture overlaySectionContent -%}

		<div class="row justify-content-center">

			<div class="col-md-8 col-lg-8">

			    {% form 'store_password', id: 'password-form' %}

			        <div class="mb-4 form-floating">

			            <input type="password" class="form-control" id="store-password" name="password" placeholder="{{ 'account.information.password' | t }}"required>

			            <label for="store-password">
			                {{- 'account.information.password' | t -}}
			            </label>

			        </div>

			        {% render 'form-error', error: form.error, class: 'mb-4' %}

			        <button type="submit" class="btn btn-primary d-block w-100">
			        	{{- 'password_protection.login_to_store_cta' | t -}}
			        </button>

			    {% endform %}

			</div>

		</div>

	{%- endcapture -%}

	{%- capture overlaysectionHeaderSecondaryAction -%}

		<button type="button" id="password-overlay-action-hide" class="btn btn-text">
			{%- render 'icon', icon: 'close', class: 'svg-icon-2x' -%}
	    </button>

	{%- endcapture -%}

	<div class="password-overlay-container{% if submitted_form.id == 'password-form' %} active{% endif %}">

		<div class="password-overlay">

			{% render 'section', sectionTitle: overlayTitle, sectionTitleClass: 'h2' sectionContent: overlaySectionContent, sectionContainer: 'tiny', sectionOverlay: true, sectionHeight: '100vh', sectionHeaderTextAlign: 'center', sectionHeaderSecondaryAction: overlaysectionHeaderSecondaryAction, sectionAnimation: false %}

		</div>

	</div>

{%- endcapture -%}

<section class="section section-password">
	{% render 'section', sectionHandle: '.section-password', sectionTitle: sectionTitle, sectionTitleTag: 'h1', sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionContent: sectionContent, sectionContainer: 'tiny', sectionOverlay: settings.sectionOverlay, sectionHeight: '100vh', sectionHeaderTextAlign: 'center', sectionCustomContent: sectionCustomContent, sectionHeaderGapScale: 1 %}
</section>

{% schema %}
{
    "name": {
        "en": "Password",
        "fi": "Salasana"
    }
}
{% endschema %}